
 .directions-container {
  padding-left:  16px !important;
  padding-right:  16px !important;
  gap: 24px;

  .direction-container {
      gap: 25px;

      ion-checkbox {
          margin: 0px;
          --size: 20px;
          min-width: 20px;
      }

      .direction-information {
          max-width: 224px;
          gap: 4px;

          .direction-information_code {
              color: var(--ion-color-text-secundary);
          }

          .direction-information_type {
              padding: 2px 4px;
              background-color: var(--ion-color-secondary);
              border-radius: 4px;
          }

          .direction-information_edit {
              color: var(--ion-color-text-secundary);
              margin-top: 8px;
          }
      }
  }

}

ion-footer {
  position: fixed;
  bottom: 0;
}


@media(min-width:390px) {
  .directions-container {
      padding-left:  24px !important;
      padding-right:  24px !important;
  }

  .direction-information{
      max-width: 298px !important;
  }

}
