.directions-container {
  padding-left: 16px !important;
  padding-right: 16px !important;
  gap: 24px;
    .direction-container {
      gap: 25px !important;
      .direction-information {
       /*  max-width: 224px; */
        gap: 4px !important;

        .direction-information_code {
          color: var(--ion-color-text-secundary);
        }

        .direction-information_type {
          padding: 2px 4px;
          background-color: var(--ion-color-secondary);
          border-radius: 4px;
        }


      }
    }
  }
  .direction-information_edit {
    color: var(--ion-color-text-secundary);
    margin: 8px 0px 0px 34px;

  }

//
ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px !important;
   --background-activated: unset !important;
}

ion-checkbox {
  --size: 20px;
  margin: 38px 14px 0px 0px !important;
   min-width: 20px;
}

ion-item::part(native) {
  padding: 0px;
}

ion-footer {
  position: fixed;
  bottom: 0;
}

@media (min-width: 390px) {
  .directions-container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  /* .direction-information {
    max-width: 298px !important;
  } */
}
