<ion-content>

  <!-- Header -->
  <app-header
    title="Mis direcciones"
    iconLeft="icon-close"
    iconRight="icon-delete"
    [backDirection]="prevUrl"
    (onClickDelete)="deleteDirection($event)"
    titleModalDelete = "¿Seguro que quieres eliminar esta dirección?"
    [haveSelected]="oneTrue"
  >
  </app-header>

  <!-- Direction Data Container -->
  <div class="direction-container d-flex flex-column container-main">

    <div class="d-flex align-items-center direction-container" *ngFor="let direction of directions">
      <ion-checkbox
        [(ngModel)] = direction.selected
        (ngModelChange)="checkBoxChange(direction.id)"
      >
      </ion-checkbox>
      <div class="d-flex flex-column direction-information">
        <ion-label class="fz-normal ion-text-wrap">{{direction.name}}</ion-label>

        <ion-label (click)="goLocation()" class="direction-information_edit fz-small">Editar</ion-label>
      </div>
    </div>

    <div class="d-flex align-items-center" style="gap: 8px;">
      <img src="/assets/icons/icon-plus.svg" style="cursor: pointer;">
      <ion-label color="primary" style="cursor: pointer;" (click)="goLocation()">Nueva dirección</ion-label>
    </div>

  </div> <!--End Direction Data Container-->


  <!-- Footer -->
  <ion-footer class="ion-no-border ion-no-padding footer-ionic">
    <ion-toolbar class="ion-no-padding">
      <!-- (click)="setDirection()" -->
      <ion-button
        [disabled]="!oneTrue"
        (click)="establecerDirection()"
        expand="full"
        shape="round"
        color="primary"
        style="margin: 0;"
      >
        Confirmar
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>


