<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar>
      <button (click)="goBack()" slot="start">
        <svg
          class="back"
          width="1em"
          height="1em"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L13 13"
            stroke="black"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
          />
          <path
            d="M1 13L13 1"
            stroke="black"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </ion-toolbar>
  </ion-header>

  <div class="content-variants container-main">
    <ion-text class="variant d-flex flex-row">
      <img src="assets/images/polo-variante.png" />
      <div class="d-flex flex-column justify-content-between">
        <ion-label class="fz-small">
          Planchas de acrílico de distinto tamañ..
        </ion-label>
        <app-slider-cost></app-slider-cost>
      </div>
    </ion-text>
    <ion-text class="size d-flex flex-column">
      <ion-label class="fw-normal">Tamaño (cm) </ion-label>
      <div class="container fz-note" style="padding-left: 0px">
        <label
          class="label"
          (click)="selectLabel(1)"
          [ngClass]="{ selected: selectedLabel === 1 }"
          >150x120<span class="top">10</span></label
        >
        <label
          class="label"
          (click)="selectLabel(2)"
          [ngClass]="{ selected: selectedLabel === 2 }"
          >100x110<span class="top-2">2</span></label
        >
        <label
          class="label"
          (click)="selectLabel(3)"
          [ngClass]="{ selected: selectedLabel === 3 }"
          >150x110</label
        >
        <label
          class="label"
          (click)="selectLabel(4)"
          [ngClass]="{ selected: selectedLabel === 4 }"
          >200x240</label
        >
      </div>
    </ion-text>
    <ion-text class="size-thicknes d-flex flex-column">
      <ion-label class="fw-normal">Espesor (mm)</ion-label>
      <div class="container fz-note" style="padding-left: 0px">
        <label
          class="label2"
          (click)="selectLabel2(5)"
          [ngClass]="{ selected2: selectedLabel2 === 5 }"
          >2<span class="top">12</span>
        </label>
        <label
          class="label2"
          (click)="selectLabel2(6)"
          [ngClass]="{ selected2: selectedLabel2 === 6 }"
          >4</label
        >
        <label
          class="label2"
          (click)="selectLabel2(7)"
          [ngClass]="{ selected2: selectedLabel2 === 7 }"
          >8</label
        >
      </div>
    </ion-text>

    <ion-text
      *ngFor="let item of colour"
      class="d-flex flex-row justify-content-between align-items-center mb-4"
    >
      <div class="d-flex align-items-center d-grid gap-3">
        <img [src]="item.images" />
        <ion-label>{{ item.name }}</ion-label>
      </div>
      <div>
        <ion-text>
          <img src="assets/icons/icon-line.svg" />
          <ion-label class="mx-4">{{ item.quantify }}</ion-label>
          <img src="assets/icons/icon-plus-main.svg" />
        </ion-text>
      </div>
    </ion-text>
  </div>
</ion-content>

<ion-footer class="ion-no-padding ion-no-border footer-ionic">
  <ion-toolbar class="ion-no-padding">
    <div class="footer">
      <ion-text class="d-flex flex-row justify-content-between mb-3">
        <ion-label>Total</ion-label>
        <ion-label>S/ 9,999.00</ion-label>
      </ion-text>
      <div class="d-flex mt-2 gap-3">
        <ion-button
          (click)="goBackCollaborative()"
          class="btn ion-no-padding ion-no-margin"
          expand="block"
          shape="round"
          color="primary"
        >
          Actualizar
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
