/* variant */
.variant {
  gap: 18px;
  margin-bottom: 32px;
}

/* Tamaño (cm) */
.size {
  gap: 18px;
  margin-bottom: 32px;
}

.extent-cm {
  padding: 8px;
  background-color: var(--ion-color-separator);
  border-radius: 4px;
}

/* Espesor (mm) */
.size-thicknes {
  gap: 10px;
  margin-bottom: 32px;
}

.extent-mm {
  padding: 8px;
  background-color: var(--ion-color-separator);
  border-radius: 4px;
}

/* Footer */
.footer {
  margin-top: 12px;
}

.dato {
  color: var(--ion-color-text-secundary);
}

/* Button */
ion-button {
  border: 0px;
}

.btn {
  width: 100%;
}

.amount {
  padding: 2px 4px;
  background-color: var(--ion-color-primary);
  color: white;
  border-radius: 10px;
}

sup {
  top: -1.5em !important;
  margin-left: 4px;
}

.header-variants {
  background-color: var(--ion-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ion-button {
  height: 40px !important;
}

@media (min-width: 390px) {
  ion-button {
    height: 48px !important;
  }
}
