.container-whereAreYou {
  width: 100%;
  min-height: 100vh;
  background-color: var(--ion-background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 160.5px;
  }
}

.container-footer {
  width: 100%;
  padding-top: 16px;
  padding-left: calc(var(--ion-safe-area-left) + 16px);
  padding-right: calc(var(--ion-safe-area-right) + 16px);
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);

  @media(min-width: 390px) {
    padding-left: calc(var(--ion-safe-area-left) + 24px);
    padding-right: calc(var(--ion-safe-area-right) + 24px);
  }
}

.container-footer h2 {
  margin: 0 0 24px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--ion-color-basic);
}

.container-footer p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: var(--ion-color-text-secundary)
}
