<ion-content class="remove-safe-area remove-scroll">
  <div class="container-whereAreYou">
    <div class="container-main">
      <img src="assets/images/mi-posicion.svg" alt="Donde te encuentras"/>
    </div>
    <div class="container-footer">
      <h2> {{ languageWelcomeWheareyou.subTitle }} </h2>
      <p> {{ languageWelcomeWheareyou.description }} </p>
      <button
        class="button-regular button-active"
        (click)="onSubmit()"
      > {{ languageWelcomeWheareyou.button }} </button>
    </div>
  </div>
</ion-content>
