
.button-icon {
   --background-activated: unset !important;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
    svg {
      $size: 16px;
      width: $size;
      height: $size;
    }
}

@media(min-width:390px){
  .button-icon{
    top: 25px;
  }
}

