button{
    background-color: transparent;
}

ion-toolbar{
    --background: var(--ion-toolbar-background, var(--ion-color-step-50)); 
    --min-height: 0px;
    --padding-top: 24px;
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-bottom: 40px
}

@media(max-width:320px){
    ion-toolbar{
        --padding-top: 8px;
        --padding-start: 16px;
        --padding-end: 16px;
        --padding-bottom: 24px
    }
}

