.container-popup-sign-off {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.popup-sign-off {
  width: calc(100% - 32px);
  max-width: 342px;
  height: 132px;
  background-color: var(--ion-background-modal);
  padding: 24px;
  border-radius: 10px;

  @media (min-width: 390px) {
    // width: 342px;
    width: calc(100% - 48px);
  }
}

.container-popup {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.container-popup span {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--ion-color-basic);
}

.buttons-popup {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  button {
    width: 130px;
    height: 24px;
    background-color: transparent;

    &:nth-child(1) {
      color: var(--ion-color-text-button-modal);
      color: var(--ion-color-basic);
    }

    &:nth-child(2) {
      color: var(--ion-color-text-error-button-modal);
      color: #f44336;
    }
  }

}

.popup-sign-off.animation-open {
  animation: openModal .3s ease;
}

.popup-sign-off.animation-close {
  animation: closeModal .3s ease;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

