html {
  box-sizing: border-box;
}

*,*::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.ion-safe-area-bottom {
  padding-bottom: calc(var(--ion-safe-area-bottom) + 16px);
}

.inbox-ion-footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--ion-background-color);
  border-top: 1px solid var(--ion-color-separator);
  padding: 8px 16px 16px 16px;
  --min-height: unset;

  @media (min-width: 390px) {
    padding: 10px 24px 16px 24px;
  }
}

.inbox-footer__content--item {
  height: 42px;
  gap: 6px;
}

.icon-home,
.icon-search,
.icon-chat,
.icon-buy,
.icon-profile {
  font-size: 24px;
}

.inbox-footer__name p {
  font-size: 10px;
  font-weight: 400;
  color: var(--ion-color-icons);
}


.icon-home path {
  stroke: var(--ion-color-icons);
}

.icon-search * {
  stroke:var(--ion-color-icons);
}

.icon-chat path {
  stroke: var(--ion-color-icons);
}

.icon-buy path {
  stroke: var(--ion-color-icons);
}

.icon-profile path {
  stroke: var(--ion-color-icons);
}

.inbox-footer__name p {
  color:var(--ion-color-icons);
}

.inbox-footer__content--item.active {
  .icon-home {
    fill: var(--ion-color-icons-selected);

    path {
      stroke: var(--ion-color-icons-selected);
    }
  }

  .icon-chat {
    fill: var(--ion-color-icons-selected);

    path {
      stroke: var(--ion-color-icons-selected);
    }

    path:nth-child(2),
    path:nth-child(3),
    path:nth-child(4) {
      stroke: var(--ion-background-color);
    }
  }

  .icon-search {
    fill: var(--ion-color-icons-selected);

    circle {
      stroke: var(--ion-color-icons-selected);
    }

    path {
      stroke: var(--ion-color-icons-selected);
    }
  }

  .icon-buy {
    fill: var(--ion-color-icons-selected);

    path {
      stroke: var(--ion-color-icons-selected);
    }
  }

  .icon-profile {
    path {
      stroke: var(--ion-color-icons-selected);
      fill: var(--ion-color-icons-selected);
    }
  }

  .inbox-footer__name p {
    color: var(--ion-color-icons-selected) !important;
  }
}
