.content-my-cesta {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}

.content_basket {
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 40px;
}

.total-checkbox {
  gap: 8px;
  p {
    margin-bottom: 6px;
  }
}

.box-total {
  margin-bottom: 8px;
  color: var(--ion-color-basic);
}

ion-checkbox::part(container) {
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

.cost-total {
  p {
    margin-bottom: 6px;
  }
}

ion-footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  margin-bottom: calc(var(--ion-safe-area-bottom) + 69px) !important;
  background-color: var(--ion-background-color);

  ion-toolbar {
    --padding-start: 24px !important;
    --padding-end: 24px !important;
    --padding-bottom: 24px !important;
  }
}

.header-my-basket {
  background-color: var(--ion-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ion-button{
  height: 40px !important;
}

@media(min-width:390px) {
  ion-button{
    height: 48px !important;
  }

}
