<ion-content [fullscreen]="true">
  <app-header-my-basket
    class="header-my-basket"
    title="Mi cesta (96)"
  ></app-header-my-basket>
  <!-- CONTENIDO -->
  <div class="container-main" style="margin-bottom: '237.66px'">
    <div class="d-flex flex-column" style="gap:40px">
      <!-- Crea una servicio y mueve lo que esta en basket colaborative -->
      <!-- <app-main-product
        [products]="products"
        (modifyProducts)="modifyProducts($event)"
      ></app-main-product> -->
      <app-main-products
        [products]="products"
        (modifyProducts)="modifyProducts($event)"
      ></app-main-products>
    </div>
  </div>

  <ion-footer class="ion-no-border container-footer">
    <ion-toolbar
      class="ion-no-padding"
      style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px"
    >
      <div class="box-total d-flex flex-row justify-content-between">
        <div class="d-flex flex-row gap-2">
          <label class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="allChecked" (change)="modifyCheckProduct()"/>
            <span class="checkmark"></span>
          </label>
          <ion-label
            class="d-flex justify-content-center align-items-center fz-small"
            >Todo</ion-label
          >
        </div>
        <div class="fz-small">
          <ion-label>S/ 45,789.00</ion-label>
        </div>
      </div>
      <div>
        <ion-button
          class="ion-no-margin"
          expand="block"
          color="primary"
          shape="round"
          (click)="goToConfirmOrder()"
          >Ir a pagar</ion-button
        >
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<app-footer-navigation class="footer-navigation"></app-footer-navigation>
<app-modal-invite *ngIf="modalInvite"></app-modal-invite>
<app-modal-Mybasket *ngIf="statusModal"></app-modal-Mybasket>
