<ion-content [fullscreen]="true">
  <app-header-my-basket class="header-my-basket" title="Mi cesta (96)"></app-header-my-basket>
  <!-- CONTENIDO -->
  <div style="margin-top: 88px; margin-bottom: '218.66px';">
  <div class="content-my-cesta" >
    <app-main-product></app-main-product>
  </div>
  <app-product></app-product>
  <app-modal-basket></app-modal-basket>
  <app-modal-invite></app-modal-invite>
</div>
  <!-- FOOTER -->
  <div class="ion-no-border container-footer">
    <div>
      <div class="contenedor-footer">
        <div class="box-total d-flex flex-row justify-content-between">
          <div class="total-checkbox d-flex flex-row align-items-center">
            <ion-checkbox slot="start"></ion-checkbox>
            <p class="fz-small">Todo</p>
          </div>
          <div class="cost-total fz-small">
            <p>S/ 45,789.00</p>
          </div>
        </div>
        <ion-button expand="block" color="primary" shape="round">
          Ir a pagar</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
<app-footer-navigation></app-footer-navigation>
