<div class="contenedor-resumen-pedido">
  <ion-label>Resumen del pedido</ion-label>
  <div class="detalles-pedido">
    <div class="detalle">
      <ion-label>Productos</ion-label>
      <ion-label>S/9,999.00</ion-label>
    </div >
    <div class="detalle">
      <ion-label>Costos de envío</ion-label>
      <ion-label>S/45.90</ion-label>
    </div>
    <div class="detalle">
      <ion-label>Cupón</ion-label>
      <ion-label>-S/180.00</ion-label>
    </div>
    <div class="detalle">
      <ion-label><b>Total</b></ion-label>
      <ion-label><b>S/12,589</b></ion-label>
    </div>
  </div>

</div>
