.valid-mail-container {
    // padding-left:  calc( var(--ion-safe-area-left) + 16px) !important;
    // padding-right:  calc(var(--ion-safe-area-right) + 16px) !important;

    padding-left: 16px !important;
    padding-right: 16px !important;
    
    form{
        ion-text {
            .color-body {
                font-weight: bold;
                color: var(--color);
            }
        }
        ion-button{
            font-size: 16px;
        }
    }

    .input-code{
        --inner-padding-end: 0px !important;
        --border-color: var(--ion-background-alert-border);

        &::part(native){
            padding-inline-end: 0px;
            padding-inline-start: 0px;
        }
        ion-input{
            letter-spacing: 5px;
            --padding-bottom: 0px !important;
            --padding-end: 0px !important;
            --padding-start: 0px !important;
            --padding-top: 0px !important;
        }
    }

    .resend{
        cursor: pointer !important;
        color: var(--ion-color-primary) !important;
        font-size: 14px !important;
    }
}


@media(min-width:390px) {
    .valid-mail-container {
        // padding-left:  calc( var(--ion-safe-area-left) + 24px) !important;
        // padding-right:  calc(var(--ion-safe-area-right) + 24px) !important;

        padding-left:  24px !important;
        padding-right:  24px !important;
    }
}