<ion-content [fullscreen]="true">

  <app-header title="Valida tu correo" iconLeft="icon-arrow-left" backDirection="register">
  </app-header>

  <div class="valid-mail-container">
    <form class="w-100" [formGroup]="form">
      <ion-text class="text fz-small text-muted d-block text-center mb-3">Hemos enviado un código de confirmación al
        correo
        <span class="color-body">{{ email }}</span></ion-text>
      <div class="text-center mb-3">
        <ion-button size="small" fill="clear" shape="round" color="primary">Cambiar correo</ion-button>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item>
              <ion-input color="primary" (ionChange)="onChangeCode()" formControlName="code" inputmode="numeric"
                class="ion-input-big" #inputCode type="number"></ion-input>
            </ion-item>
            <div class="text-center mb-5 mt-2">
              <ion-text class="text text-sm">{{ counterTime }}</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-text class="d-block text fz-small text-center">¿No recibes el código?
      <span class="text-muted" [ngClass]="{'resend': isCounterInZero}"
        (click)="onResendCode()">Reenviar</span></ion-text>

    <ion-modal class="modal-alert" #modal>
      <ng-template>
        <div class="ion-padding">
          <ion-text class="text-center text fw-700 d-block">¡Último paso!</ion-text>
          <ion-text class="text fz-small text-muted text-center d-block mb-3">Correo validado de forma
            correcta</ion-text>

          <ion-button expand="block" shape="round" color="primary" (click)="onContinue()">
            Continuar
          </ion-button>
        </div>
      </ng-template>
    </ion-modal>
  </div>

</ion-content>