<ion-content>

  <app-header-main></app-header-main>

  <ion-list class="inbox-ion-list d-flex flex-column">
    <div
      class="inbox-ion-item d-flex"
      *ngFor="let email of emails"
      (click)="openInternalBox(email.id)"
    >
      <div class="ion-image">
        <img [src]="email.image" alt="Avatar">
      </div>
      <div class="ion-detail d-flex flex-column">
        <div class="ion-detail__header d-flex justify-content-between align-items-center">
          <h3 class="ion-detail__header--title">{{ email.title }}</h3>
          <span class="ion-detail__header--info">{{ email.time }}</span>
        </div>
        <div class="ion-detail__content d-flex align-items-center">
          <p class="ion-detail__content--description">{{ email.description }}</p>
        </div>
        <div class="ion-detail__footer d-flex align-items-center" *ngIf="email.sender">
          <p class="ion-detail__footer--description">
            De <span class="user-tag">{{ email.sender }}</span>
          </p>
        </div>
      </div>
    </div>
  </ion-list>
  <app-footer-navigation></app-footer-navigation>
</ion-content>


