ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-main-inbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  background-color: var(--ion-background-color);

  position: relative;
}

.inbox-ion-list {
  flex: 1;
  width: 100%;
  background: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 16px 24px 16px;

  @media (min-width: 390px) {
    padding: 16px 24px 24px 24px;
    gap: 32px;
  }
}

.inbox-ion-item {
  display: flex;
  gap: 12px;
}

.ion-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.ion-detail {
  width: calc(100% - 48px - 12px);
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media (min-width: 390px) {
    gap: 8px;
  }
}

.ion-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 24px;
}

.ion-detail__header--title {
  font-size: 16px;
  font-weight: 400;
  color: var(--ion-color-basic);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin: 0;
}

.ion-detail__header--info {
  font-size: 12px;
  font-weight: 400;
  color: var(--ion-color-light);
}

.ion-detail__content {
  display: flex;
  align-items: center;
  height: 16px;
}

.ion-detail__content--description {
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--ion-color-light);
  margin: 0;

  @media(min-width: 390px) {
    font-size: 14px;
  }
}

.ion-detail .ion-detail__footer {
  display: flex;
  align-items: center;
  height: 16px;

  .ion-detail__footer--description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    color: var(--ion-color-light);
    margin: 0;

    .user-tag {
      color: var(--ion-color-primary);
    }

    @media(min-width: 390px) {
      font-size: 14px;
    }
  }
}

.header-basic {
  padding-top: calc(var(--ion-safe-area-top) + 16px) !important;
  //padding-top: calc(16px + 16px) !important;
}

app-footer-navigation {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
<<<<<<< HEAD
=======
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1000;
  background-color: var(--ion-background-color);

  .content-header {
    position: relative;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 16px;
      font-weight: 700px;
      margin: 0;
    }

    .icon-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 24px;
      }
      svg path {
        stroke: var(--ion-color-basic);
      }
    }
  }

  @media (min-width: 390px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.header-basic {
  padding-top: calc(var(--ion-safe-area-top) + 16px) !important;
  //padding-top: calc(16px + 16px) !important;
>>>>>>> 67e98dfe02410dd283487504eecb9f4f8bd10711
}
