<!-- <ion-header class="ion-content-var">
  <header class="header-basic">
    <div class="content-header">
      <h2>Bandeja</h2>
    </div>
  </header>
</ion-header> -->

<ion-content class="ion-no-padding ion-content-var" [scrollEvents]="true">

  <header class="header-basic">
    <div class="content-header">
      <h2>Bandeja</h2>
    </div>
  </header>
  <div style="width: 100%; height: calc(var(--ion-safe-area-top) + 54px);"></div>

  <div class="container-main-inbox">
    <div class="inbox-ion-list">
      <div
        class="inbox-ion-item"
        *ngFor="let email of emails"
        (click)="openInternalBox(email.id)"
      >
        <div class="ion-image">
          <img [src]="email.image" alt="Avatar">
        </div>
        <div class="ion-detail">
          <div class="ion-detail__header">
            <h3 class="ion-detail__header--title">{{ email.title }}</h3>
            <span class="ion-detail__header--info">{{ email.time }}</span>
          </div>
          <div class="ion-detail__content">
            <p class="ion-detail__content--description">{{ email.description }}</p>
          </div>
          <div class="ion-detail__footer" *ngIf="email.sender">
            <p class="ion-detail__footer--description">
              De <span class="user-tag">{{ email.sender }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-navigation></app-footer-navigation>
