button {
  background-color: transparent;
}

ion-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  ion-toolbar{
  --background: var(--ion-toolbar-background, var(--ion-color-step-50));
  --min-height: 0px;
  --padding-top: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-bottom: 14px;
  }
}

ion-footer {
  position:fixed;
  bottom:0;
  ion-toolbar{
      --padding-start: 16px !important;
      --padding-end: 16px !important;
  }
}

ion-radio {
  margin: 0px !important;
}

ion-item {
  --inner-padding-end: 0px !important;
}

ion-item::part(native) {
  padding: 0px !important;
}
.phone {
  color: var(--ion-color-disabled);
}
.contact {
  margin-bottom: 14px;
}

ion-checkbox {
  --size: 20px;
  margin: 0px;
  min-width: 20px;
}
ion-item {
  margin: 0px;
  --background-activated: unset !important;
}

/* Dark */
.icon-left {
  width: 24px;
  height: 24px;
  path {
    stroke: var(--ion-color-basic);
  }
}
.container-contact-search{
  padding: 0 16px;
}

@media(min-width:390px) {
  ion-button{
    height: 48px !important;
  }

  ion-header {
      ion-toolbar{
      --padding-start: 24px !important;
      --padding-end: 24px !important;
      --padding-bottom:40px !important;
    }
  }

  ion-footer {
    ion-toolbar{
        --padding-start: 24px !important;
        --padding-end: 24px !important;
    }
  }

  .container-contact-search{
    padding: 0 24px;
  }

  .contact {
    margin-bottom: 40px;
  }
}



