<!-- <ion-content class="modal">
  <div class="modal-cesta">
    <ion-modal
      #modal
      trigger="open-modal-add"
      [initialBreakpoint]="0.2"
      [breakpoints]="[0, 0.25, 0.5, 0.75]" >
      <ng-template>
        <ion-content>
          <div class="ion-no-padding mx-4 mt-4">
            <ion-text class="text-center d-block">
              <img src="assets/icons/icon-circle-plus.svg" />
            </ion-text>
            <ion-text class="text-center d-block mt-2">
              Producto agregado
            </ion-text>
            <div >
            <div class="basket text-center d-block mt-4" #myBasket>
              Ir a la cesta</div>
          </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content> -->

<div class="container-modal-add" #ContainerModal>
  <div class="modal-add" #modal>
    <div class="ion-no-padding mx-4 mt-4">
      <ion-text class="text-center d-block">
        <img src="assets/icons/icon-circle-plus.svg" />
      </ion-text>
      <ion-text class="text-center d-block mt-2">
        Producto agregado
      </ion-text>
      <div class="basket text-center d-block mt-4" (click)="goMyBasquet()">
        Ir a la cesta
      </div>
    </div>
  </div>
</div>
