<ion-content >
  <ion-header class="ion-no-border header-detail">
    <ion-toolbar>
        <button
            (click)="goBack()"
            slot="start">
              <svg class="back" width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 12.2744L17 12.2744" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8.0498 18.299L1.9998 12.275L8.0498 6.25" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
        </button>
        <ion-title class="fz-normal">Cambios y devoluciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container-main content-change-return">

    <div class="container-body">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Pharetra scelerisque imperdiet amet id faucibus magna lobortis ultricies arcu. Semper tortor sem ac mauris vitae orci. Morbi cras in vestibulum arcu rhoncus malesuada vel quam. Et eros quis
        </p>
        <p>
          vulputate integer. Id massa velit eget enim nulla. Scelerisque orci nisl molestie in consectetur faucibus. Consequat tincidunt imperdiet amet eu ligula. Vitae pulvinar duis elit sit volutpat. Vestibulum mattis consectetur maecenas et sit aliquam odio.
        </p>
        <p>
          onsequat tincidunt imperdiet amet eu ligula. Vitae pulvinar duis elit sit volutpat. Vestibulum mattis consectetur maecenas et sit aliquam odio.
        </p>
      </div>
    </div>

  </div>
</ion-content>

