<div class="container-modal-country" #ContainerModal>
  <div class="modal-country" #modal>
    <ion-content>

      <ion-header class="ion-no-padding ion-no-border">
        <ion-toolbar class="ion-no-padding">
          <div class="d-flex flex-column  search-container">
            <ion-searchbar class="my-searchbar" [debounce]="1000" (ionChange)="handleChange($event)" placeholder="Buscar" search-icon="search-circle" >
            </ion-searchbar>

          </div>
        </ion-toolbar>
      </ion-header>


      <ion-list lines="none">
        <ion-item *ngFor="let result of  dataCountriesResults" detail="false" (click)="onCountrySelected(result)">
          <img [src]="result.flag" width="24px" slot="start">
          <ion-label>{{ result.country }} {{result.cod}}</ion-label>
          <ion-icon name="checkmark-outline" color="primary" slot="end" *ngIf="result.selected"></ion-icon>
        </ion-item>
      </ion-list>

    </ion-content>

  </div>
</div>
