ion-content {

    .who-get {
        gap: 8px;
        margin-top: 26px;
        margin-bottom: 70px;
        padding-left: 16px;
        padding-right: 16px;

        ion-fab-button {
            margin: 0px !important;
            width: 28px;
            height: 28px;
            --background: var(--ion-color-secondary);
            --background-activated: unset;
            --background-hover: unset;
            --box-shadow: unset;
            --color: var(--ion-color-primary);

            ion-icon {
                font-size: 18px;
                font-weight: bold;
            }
        }

        ion-label {
            color: var(--ion-color-text-secundary);
        }

        .contact-container {
            width: 100%;

            ion-item {
                margin-top: 14px;
                --inner-padding-start: 0px !important;
                --inner-padding-end: 0px !important;
            
                &::part(native) {
                    padding-inline-end: 0px !important;
                    padding-inline-start: 0px !important;
                }
            }

            .message {
                font-weight: bold !important;
                color: unset !important;
            }

            .contact {
                .name {
                    font-weight: normal !important;
                    color: unset !important;
                }

                .number {
                    color: var(--ion-color-text-secundary) !important;
                }
            }
        }
    }
}


ion-footer {
    ion-item {
        --inner-padding-end: 0px !important;

        ion-label {
            margin: 0px !important;
            font-size: 14px;
        }

        ion-toggle {
            height: 32px;
            padding: 0px !important;
        }

        &::part(native) {
            padding-inline-end: 0px !important;
            padding-inline-start: 0px !important;
        }
    }
}


@media(min-width:390px) {
    ion-content {
        .who-get {
            // margin-left: 6px !important;
            padding-left: 24px;
            padding-right: 24px;

            .contact-container{
                ion-item{
                    margin-top: 28px;
                }
            }
        }
    }

    ion-footer {
        ion-item {
            ion-label {
                font-size: 16px;
            }
        }
    }
}

.container-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: grid;
    place-items: center;
    background-color: var(--ion-background-color-modal);
  
    ion-item::part(native) {
      --background: transparent;
      --inner-padding-end: 0px;
      --inner-border-width: 0px;
    }
  }