<ion-header class="ion-content-var">
  <header class="header-basic">
    <div class="content-header">
      <h2>Mis datos</h2>
      <div class="icon-back" (click)="onToBack('/customer/settings/main-settings')">
        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow-left"><path _ngcontent-byu-c175="" d="M2 12.2744L17 12.2744" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path _ngcontent-byu-c175="" d="M8.0498 18.299L1.9998 12.275L8.0498 6.25" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      </div>
    </div>
  </header>
</ion-header>

<ion-content class="ion-content-var">
  <div class="container-app-settings">

    <div class="container-body">
      <form>
        <div class="container-form">
          <div class="form-control-settings">
            <label>Nombre</label>
            <input type="text" name="name" autocomplete="off" #myInput>
          </div>
          <div class="form-control-settings">
            <label>Correo</label>
            <input type="email" name="email" autocomplete="off" #myInput>
          </div>
          <div class="form-control-settings">
            <label>Teléfono</label>
            <input type="tel" name="cellphone" autocomplete="off" #myInput>
          </div>
        </div>
      </form>
    </div>

  </div>
</ion-content>

<!-- <ion-footer class="ion-content-var">
  <div class="form-control-button disabled">
    <ion-button
      class="btn-submit"
      expand="block"
      color="primary"
      shape="round"
      type="submit"
      [disabled]="statusButton"
    >Guardar</ion-button>
  </div>
</ion-footer> -->

<ion-footer class="ion-content-var">
  <div class="container-footer-bottom">
    <button
      [ngClass]="statusButton? 'ion-button disabled': 'ion-button'"
      type="button"
      [disabled]="statusButton"
      (click)="saveData()"
    >Confirmar</button>
  </div>
</ion-footer>

