button {
  background-color: transparent;
}

.header-collaborative-team{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ion-toolbar{
  --background: var(--ion-toolbar-background, var(--ion-color-step-50, var(--ion-background-color)));
  --min-height: 0px;
  --padding-top: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-bottom: 14px;
}

@media(max-width:320px){
  ion-toolbar{
      --padding-top: 32px;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-bottom: 24px
  }
}

.content-message-no-team{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-message {
    width: 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.5px;

    span {
      text-align: center;
      color: var(--ion-color-disabled);
    }
  }
}

.icon-plus {
   width: 64px;
    height: 64px;
    position: fixed;
    right: 0px;
    bottom: calc( var(--ion-safe-area-bottom,0) + 16px);
    margin-right: 16px;
    z-index: 1000;
}


//dark
.back{
  width: 24px;
  height: 24px;
  path {
    stroke: var(--ion-color-basic);
  }
}

@media(min-width:390px) {
  ion-toolbar{
    --padding-start: 24px;
    --padding-end: 24px;

  }
  .icon-plus {
    margin-right: 24px;
  }
}
