.colllaborative-team{
margin-top: 235px;
margin-bottom: 31px;
}

.icon-plus {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 24px;
  margin-bottom: 40px;
}

.text{
  color: var(--ion-color-text-secundary);
}
