<ion-content [fullscreen]="true">
  <app-header-team title="Equipo"> </app-header-team>

  <div class="colllaborative-team d-flex justify-content-center align-items-center" >
    <img src="/assets/images/Equipo-ilustracion.png" />
  </div>
  <ion-text class="text d-flex flex-column justify-content-center align-items-center"  >
    <ion-label>Invita a tus amigos </ion-label>
    <ion-label>a comprar contigo</ion-label>
  </ion-text>

  <ion-img
    id="open-modal-invite"
    class="icon-plus"
    src="assets/collaborative-basquet/Plus-circle.svg">
  </ion-img>

  <app-modal-invite></app-modal-invite>
</ion-content>
