.main{
    padding-left:  16px !important;
    padding-right:  16px !important;

    .condition{
        font-size: 14px;
        color: var(--ion-color-text-secundary);
    }
}


@media(min-width:390px){
    .main{
        padding-left:  24px !important;
        padding-right:  24px !important;
    }
}