<ion-content>
  <app-header
    title="Condiciones"
    iconLeft="icon-arrow-left" 
    backDirection="add-coupons"
  >

  </app-header>

  <div class="main container-main d-flex flex-column" style="gap: 32px;">
    <div class="condition">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium amet perspiciatis error totam voluptatibus, consequu
    </div>

    <div class="condition">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto totam voluptatibus quas provident eaque id
    </div>
  </div>


</ion-content>
