.container-products {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*  CONTENIDO */
.box-select {
  gap: 14px;

  .box-name {
    gap: 10px;

    .text {
      color: var(--ion-color-text-secundary);
    }
  }
}

.description {
  width: 306px;
  border: 1px solid var(--ion-color-separator);
  border-radius: 8px;
  padding: 9px 9px 3px 9px;
  gap: 18px;

  .measurement {
    color: var(--ion-color-light);
  }
}

.img-delete {
  padding: 33.67px 13.13px;
  background-color: var(--ion-background-icons-delete);
  margin-left: 24px;
  margin-right: 11px;
}

.option-background {
  background: var(--ion-background-color);
}

.list {
  margin-bottom: 40px !important;
}

.div.item-native {
  padding-left: 0px !important;
}

ion-item {
  --inner-padding-end: 0px !important;
}

ion-item-options {
  border-bottom-width: 0px !important;
  .button-inner {
    justify-content: start !important;
  }
}

ion-item-option {
  .button-inner {
    display: flex;
    justify-content: start !important;
  }
}

/* CUSTOM CHECKBOX */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--ion-background-icons-delete);
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: var(--ion-background-color);
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #023aff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// Animation Delete
.animation-delete {
  //transition: all .3s ease;
  &.active {
    animation: animationDelete 0.5s ease;
  }
}

@keyframes animationDelete {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
