.container-loading {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-background-color);

  img {
    width: 213px;
    height: 214px;
  }
}
