ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

.container-manage-favorites {
  width: 100%;
  background-color: var(--ion-background-color);
  padding-bottom: var(--ion-safe-area-bottom);

  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  .products {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 0 16px;

    @media(min-width: 390px) {
      gap: 42px;
      padding: 0 24px;
    }
  }

  .product {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;

    .image {
      min-width: 64px;
      height: 100%;
      // background-image: url('/assets/favoriteproducts/product1.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 3px;
    }

    .description {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      .titulo p {
        font-size: 12px;
        line-height: 15px;
        height: 22px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 3px;
        color: var(--ion-color-text-secundary);

        @media (min-width: 390px) {
          font-size: 14px;
          line-height: 22px;
        }
      }

      .price {
        font-size: 14px;
        font-weight: 400px;
        margin-top: 8px;
        color: var(--ion-color-basic);

        &::before {
          content: "S/ ";
        }
      }

      .buy {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .content-buy {
          display: flex;
          gap: 8px;

          svg path{
            stroke: var(--ion-color-basic);
          }

          span {
            flex: 1;
            font-size: 14px;
            font-weight: 400px;
            color: var(--ion-color-basic);
          }
        }
      }
    }

    .icon {
      height: 100%;
    }
  }
}

//* Modal delete product
.container-popup-delete-product {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.popup-delete-product {
  width: calc(100% - 32px);
  max-width: 342px;
  height: 132px;
  background-color: var(--ion-background-modal);
  padding: 24px;
  border-radius: 10px;

  @media (min-width: 390px) {
    width: calc(100% - 48px);
  }

  &.animation-open {
    opacity: 1;
    animation: openModal 0.3s ease;
  }

  &.animation-close {
    opacity: 0;
    animation: closeModal .3s ease;
  }
}


.container-popup {
  display: flex;
  flex-direction: column;
  gap: 36px;

  span {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: var(--ion-color-basic);
    text-align: center;
  }

  .buttons-popup {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    button {
      width: 130px;
      height: 24px;
      background-color: transparent;
      text-align: right;
      text-align: center;

      &:nth-child(1) {
        color: var(--ion-color-text-button-modal);
        color: var(--ion-color-basic);
      }

      &:nth-child(2) {
        color: var(--ion-color-text-error-button-modal);
        color: #f44336;
      }
    }
  }
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Mostrar mensaje cuando no hay producto
.content-message-no-products {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-message {
    width: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.5px;

    span {
      text-align: center;
      color: var(--ion-color-disabled);
    }

    svg path {
      stroke: var(--ion-color-basic)
    }
  }
}

.header-basic {
  padding-top: calc(var(--ion-safe-area-top) + 16px);
}
