<ion-content>
  <app-header
    title="¿Cuando recibir?"
    iconLeft="icon-arrow-left"
    backDirection="confirm-order"
  >
  </app-header>

  <div class="mx-4 container-main">
    <div class="d-flex justify-content-between mb-4">
      <img
        src="/assets/icons/icon-stoke-izquierda.svg"
        slot="start"
        class="arrow"/>
      <ion-label> Nov 2022 </ion-label>
      <img
        src="/assets/icons/icon-stroke-derecha.svg"
        slot="end"
        class="arrow"/>
    </div>

    <!-- fecha -->
    <div class="carousel__wrapper mt-4">
      <ion-slides [options]="dateSlidesOptions">
       <ion-slide *ngFor="let item of dates">
         <div class="text-start">
            <div class="cost" [class.selected]="item.date === selectedDate"
            (click)="onDateSelected(item.date)">
              <ion-label class="fz-note fw-normal d-block">
                {{item.date}}
              </ion-label>
            </div>
         </div>
       </ion-slide>
     </ion-slides>
    </div>

    <div class="d-flex justify-content-between align-items-center pb-3 time">
      <div class="d-flex flex-column ">
        <ion-text>
          <ion-label>8:00am - 1:00pm</ion-label>
          <p class="style fz-small">Costo de envío</p>
          <ion-label>S/ 60.00</ion-label>
        </ion-text>
      </div>
      <ion-checkbox [(ngModel)]="checkbox1Selected" (click)="checkbox2Selected = false"> </ion-checkbox>
    </div>
    <div class="line"></div>
    <div class="d-flex justify-content-between align-items-center mt-3" >
      <div class="d-flex flex-column ">
        <ion-text>
          <ion-label>2:00am - 6:00pm</ion-label>
          <p class="style fz-">Costo de envío</p>
          <ion-label>S/ 50.00</ion-label>
        </ion-text>
      </div>
      <ion-checkbox [(ngModel)]="checkbox2Selected" (click)="checkbox1Selected = false"> </ion-checkbox>
    </div>


  </div>

  <ion-footer class="ion-no-border ion-no-padding footer-ionic">
    <ion-toolbar class="ion-no-padding">
      <ion-button
      (click)="goTo('/customer/confirm-order')"
      [disabled]="!(checkbox1Selected || checkbox2Selected)"
        expand="full"
        shape="round"
        color="primary"
        style="margin: 0;"
      >
        Guardar
      </ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>

