ion-footer {
  position: fixed;
  bottom: 0;
}
//
//slides fecha
.mt-4 {
  margin-top: 0px !important;
  margin-bottom: 0px;
  gap: 16px;
}

.a-right {
  cursor: pointer;
  filter: var(--ion-color-light-filter);
  width: 8.17px;
  height: 14px;
}

.swiper-slide {
  width: fit-content;
  height: fit-content;
  ion-img {
    width: 120px;
    height: 60px;
  }
}
.cost {
  width: 79.5px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 12px 6px;
}

.color {
  color: var(--ion-color-disabled);
}
@media (max-width: 320px) {
  ion-label {
    font-size: 14px;
  }

  img {
    display: inherit;
  }
}
//fin slider

//select
.selected {
  border: 1px solid #023aff;
  color: #023aff;
}

ion-checkbox {
  margin: 0px;
  --size: 16.67px;
}

.time {
  margin-top: 32px;
  border-bottom: 1px solid var(--ion-color-separator);
}
