button {
  background-color: transparent;
}

ion-toolbar {
  --background: var(
    --ion-toolbar-background,
    var(--ion-color-step-50, var(--ion-background-color))
  );
  --min-height: 0px;
  --padding-top: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 24px;
}

.text {
  font-weight: 700 !important;
}

@media (max-width: 320px) {
  ion-toolbar {
    --padding-top: 32px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 24px;
  }
}

ion-title {
  color: var(--ion-color-basic);
  font-weight: bold;
  font-size: 16px;
}

.equipo {
  width: 32px;
  height: 32px;
  path {
    stroke: var(--ion-color-icons-add-usuer);
  }
  rect {
    fill: var(--ion-color-separator);
  }
}
