.container-header-inbox {
  padding: 24px 16px 4px 16px;
  background: var(--ion-background-color);

  padding-top: calc(var(--ion-safe-area-top) + 24px);
  // padding-top: calc(16px + 24px);
  padding-top: calc(var(--ion-safe-area-top) + var(--ion-padding-top));

  @media (min-width: 390px) {
    padding: 24px 24px 4px 24px;

    padding-top: calc(var(--ion-safe-area-top) + 24px);
    // padding-top: calc(16px + 24px);
    padding-top: calc(var(--ion-safe-area-top) + var(--ion-padding-top));
  }
}

.chat-ion-toolbar {
  gap: 16px;
  height: 40px;
}

.button-header {
  background: transparent;

  svg {
    font-size: 24px;
  }
}

.content-title {
  flex: 1;
  gap: 8px;

  .content-title__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  .content-title__name {
    h2 {
      font-size: 16px;
      font-weight: 400;
      color: var(--ion-color-basic);
    }
  }
}

// Iconos
.icon-arrow-left {
  path {
    stroke: var(--ion-color-basic);
  }
}

.icon-call {
  path {
    stroke: var(--ion-color-basic);
  }
}
