form{
    margin-bottom: 60px;
}

.item-color {
    --border-color: var(--ion-color-border-input);

    ion-label {
        color: #6c757d !important;
    }
}

.item-color.item-has-focus {
    --border-color: var(--ion-color-primary) !important;

    ion-label {
        color: var(--ion-color-primary) !important;
    }
}