<ion-footer class="footer-ionic">
  <ion-toolbar>

    <div class="contenedor-footer d-flex justify-content-between">
      <img (click)="goToInbox()" style="cursor: pointer;" src="/assets/icons/icon-chat.svg" />

      <button (click)="goToLastStep()">Realizar pedido</button>
    </div>

  </ion-toolbar>
</ion-footer>
<!-- <div class="text-footer">
  <ion-label>Hola mundo</ion-label>
</div> -->

<!-- <ion-footer class="ion-no-border ion-no-padding">
  <ion-toolbar class="ion-no-border ion-no-padding">
    <div>
      <ion-label>hola</ion-label>
    </div>
  </ion-toolbar>
</ion-footer> -->