

ion-footer{
    max-width: 100%;
}


ion-toolbar{
    --background: var(--ion-toolbar-background, var(--ion-color-step-50, var(--ion-background-color)));
    --border-color: transparent;
    --padding-top: calc( var(--ion-safe-area-top) + 12px) !important;
    --padding-start: calc( var(--ion-safe-area-left) + 24px) !important;
    --padding-end: calc(var(--ion-safe-area-right) + 24px) !important;
    --padding-bottom: calc( var(--ion-safe-area-bottom) + 24px) !important;

    
}

.contenedor-footer{
    gap: 27px;

    button{
        width: 100%;
        background-color: var(--ion-color-primary);
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 50px;
        color: white;
    }

    img{
        filter: var(--ion-color-dark-filter);
    }
}

@media(max-width:320px){
    .contenedor-footer{
        button{
            font-size: 14px;
            padding: 9x 16px;
        }
    }

    ion-toolbar{
        --padding-start:  calc( var(--ion-safe-area-left) + 16px) !important;
        --padding-end:  calc(var(--ion-safe-area-right) + 16px) !important;
        --padding-bottom: calc( var(--ion-safe-area-bottom) + 16px) !important;
    }
}


