ion-footer{
  max-width: 100%;
}

ion-toolbar{
  --background: var(--ion-toolbar-background, var(--ion-color-step-50, var(--ion-background-color)));
  --border-color:var(--ion-color-separator);
  --padding-top: 12px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 24px
}

.icons{
  gap:29px;
}

.contenedor-footer{
  button{
      width: 246px;
      height: 40px;
      background-color:#023AFF;
      font-size: 16px;
      padding: 12px 20px;
      border-radius: 50px;
      color: white;
  }


  img{
    width: 20px;
      filter: var(--ion-color-dark-filter);
  }
}

@media(min-width:390px) {
  .contenedor-footer{
    button{
        height: 48px;
    }
  }
}


@media(max-width:320px){
  .contenedor-footer{
      button{
          font-size: 14px;
          padding: 9x 16px;
      }
  }

  ion-toolbar{
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-bottom: 16px;
  }
}

.icon{
  width: 20px;
  height: 20px;
  path{
  fill:var(--ion-color-basic);

  }
}
.heart-icon {
  font-size: 24px;
  stroke: var(--ion-color-basic);
}

.heart-icon.active {
  stroke: #023AFF;
}

.heart-icon.active path {
  fill: #023AFF;
}
