
ion-avatar.hydrated {
  margin-top: 0px;
  margin: 4px;
}
ion-modal::part(handle){
  display: none;
}
ion-content{
  --padding-top: 24px;
  --padding-end:24px;
}
ion-item{
  padding-left: 4px;
  padding-bottom: 28px;
}



