ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-app-settings {
  width: 100%;
  background-color: var(--ion-background-color);
  padding-bottom: var(--ion-safe-area-bottom);

  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.container-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 0 16px 24px 16px;
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);

  @media (min-width: 390px) {
    padding: 0 24px 24px 24px;
    padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--ion-color-basic);
  }
}

ion-header {
  padding-top: var(--ion-safe-area-top);
}
