<ion-content>
  <app-header
    title="Métodos de pago"
    backDirection="manage-user-information"
    iconLeft="icon-arrow-left"
  ></app-header>

  <div class="content-message-no-target">
    <div class="container-message">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="148"
        height="124"
        viewBox="0 0 148 124"
        fill="none">
        <path d="M0.5 0.5L147 123.5M140.5 0.5L8 123.5" stroke="black" />
      </svg>
      <span>No tienes ninguna tarjeta agregada</span>
    </div>
  </div>

  <ion-footer class="footer-ionic">
    <ion-toolbar>
      <ion-button
        (click)="goAddCard()"
        color="primary"
        shape="round"
        expand="block"
      >
        <ion-label class="fz-normal"> Agregar tarjeta</ion-label>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
