.container-popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.popup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 24px;
  background-color: var(--ion-background-color);
  border-radius: 10px 10px 0px 0px;
  max-height: 80vh;
  overflow-y: scroll;

  &.active {
    transform: translateY(0);
    animation: openPopup .3s ease;
  }

  &.disabled {
    transform: translateY(100vh);
    animation: closePopup .3s ease;
  }

}
//CheckMarck-selector
.hide-icon {
  display: none;
}

ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px !important;
   --background-activated: unset !important;
}

ion-checkbox {
  --size: 20px;
  margin: 38px 14px 0px 0px !important;
   min-width: 20px;
}

ion-item::part(native) {
  padding: 0px;
}




@keyframes openPopup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes closePopup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
