ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


    ion-toolbar {
        --background: var(--ion-toolbar-background, var(--ion-color-step-50, var(--ion-background-color)));
        --padding-top: calc( var(--ion-safe-area-top) + 12px) !important;
        --padding-start:  calc( var(--ion-safe-area-left) + 16px) !important;
        --padding-end:  calc(var(--ion-safe-area-right) + 16px) !important;
        --padding-bottom: calc( var(--ion-safe-area-bottom) + 24px) !important;


        .header-container {
            button {
                background-color: transparent;

                &.button-left {
                    filter: var(--ion-color-dark-filter);
                }
            }
            .title {
                font-weight: bold;
            }
        }
    }
}

ion-modal {
    &.modal-alert {
        --height: fit-content;
        --border-radius: 10px;

        .buttons {
            cursor: pointer;
        }
    }

    &::part(content) {
        margin-right: calc(var(--ion-safe-area-right) + 16px) !important;
        margin-left: calc( var(--ion-safe-area-left) + 16px) !important;
    }

    --background: var(--ion-background-alert);
}

.not-visible {
    visibility: hidden;
    width: 17px;
}

@media(min-width:390px) {

    ion-header{
        ion-toolbar {
            --padding-top: calc( var(--ion-safe-area-top) + 24px) !important;
            --padding-start: calc( var(--ion-safe-area-left) + 24px) !important;
            --padding-end: calc( var(--ion-safe-area-right) + 24px) !important;
            --padding-bottom: calc( var(--ion-safe-area-bottom) + 40px) !important;
        }
    }

    ion-modal {
        &::part(content) {
            margin-right: calc(var(--ion-safe-area-right) + 24px) !important;
            margin-left: calc( var(--ion-safe-area-left) + 24px) !important;
        }
    }
}