<ion-header class="ion-no-border">

  <ion-toolbar>
      
      <div class="header-container d-flex justify-content-between align-items-center">
        <button
          class="button-left"
          [ngClass]="{'not-visible': iconLeft.length===0}"
          (click)="goBack()"
        >
          <!-- <img [src] = "icons[iconLeft]" style="width: 14px;" *ngIf="iconLeft==='icon-close'"/> -->
          <svg *ngIf="iconLeft==='icon-close'" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L13 13" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
            <path d="M1 13L13 1" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
          </svg>
            
          <img [src] = "icons[iconLeft]" style="width: 17px;" *ngIf="iconLeft==='icon-arrow-left'"/>
          <img [src] = "icons[iconLeft]" style="width: 17px;" *ngIf="iconLeft!=='icon-arrow-left' && iconLeft!=='icon-close'"/>
        </button>
  
        <div class="title">
          <ion-label>{{title}}</ion-label>
        </div>

        <button
          (click)="openModal()"
          class="button-right"
          [ngClass]="{'not-visible': iconRight.length===0}"
          [disabled]="haveSelected===false"
        >
          <img [src] = "icons[iconRight]"/>
        </button>
      </div>

  </ion-toolbar>

</ion-header>


<app-modal-delete
  [modalIsVisible] = "modalIsVisible"
  [titleModalDelete] = "titleModalDelete"
  (onModalNotVisible)="closeModal($event)"
>
</app-modal-delete>

