<ion-header class="ion-no-border">

  <ion-toolbar>
      
      <div class="header-container d-flex justify-content-between align-items-center">
        <button
          [ngClass]="{'not-visible': iconLeft.length===0}"
          (click)="goBack()"
        >
          <img [src] = "icons[iconLeft]"/>
        </button>
  
        <div class="title">
          <ion-label>{{title}}</ion-label>
        </div>

        <button
          [ngClass]="{'not-visible': iconRight.length===0}"
          (click)="goBack()"
        >
          <img [src] = "icons[iconRight]"/>
        </button>
      </div>

  </ion-toolbar>

</ion-header>

