ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


    ion-toolbar {
        --padding-top: 16px !important;
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --padding-bottom: 14px !important;


        .header-container {
            button {
                background-color: transparent;

                &.button-left {
                    filter: var(--ion-color-dark-filter);
                }

                &.button-right{
                    filter: var(--ion-color-dark-filter);
                }
            }

            .title {
                font-weight: bold;
            }
        }
    }
}

.container-arrow-left{
    // position: absolute;
    // //left: -8px;
    // //top: -18px;
    // bottom: 5px;
    // left: 13px;
    // width: calc(24px + 16px);
    // height: calc(24px + 16px);
    // //background-color: red;
    // z-index: 2000;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    // svg{
    //     font-size: 24px;
    // }

    // svg path{
    //     stroke: var(--ion-color-basic);
    // }
}


ion-modal {
    --height: fit-content;
    --border-radius: 10px;

    .buttons {
        cursor: pointer;
    }


    &::part(content) {
        margin-right: 16px !important;
        margin-left: 16px !important;
    }

    --background: var(--ion-background-alert);
}

.not-visible {
    visibility: hidden;
    width: 17px;
}

@media(min-width:390px) {

    ion-header {
        ion-toolbar {
            --padding-start: 24px !important;
            --padding-end: 24px !important;
        }
    }

    ion-modal {
        &::part(content) {
            margin-right: 24px !important;
            margin-left: 24px !important;
        }
    }
}