<ion-content>

  <ion-header class="ion-no-padding ion-no-border">
    <ion-toolbar class="ion-no-padding">
      <div class="d-flex flex-column justify-content-between align-items-center search-container">
        <ion-searchbar placeholder="Buscar" search-icon="search-circle" (ionChange)="filterCountry($event)" >
          <button (click)="goBack()"><img  src="/assets/icons/icon-arrow-left.svg" /></button>
        </ion-searchbar>
        <div class="border-bottom">
        </div>
      </div>
    </ion-toolbar>
  </ion-header>


  <ion-list lines="none" class="container-main">
    <ion-item
      *ngFor="let result of filterDataCountries"
      button
      detail="false"
      (click)="saveCountry(result.id)"
    >
      <img [src]="result.flag" width="24px" slot="start">
      <ion-label>{{ result.country }} {{result.codePhone}}</ion-label>
      <ion-icon name="checkmark-outline" color="primary" slot="end" *ngIf="result.selected"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
