<div class="modal-container">
  <div class="header-modal">
    <p>Filtro</p>
    <icon-close-search></icon-close-search>
  </div>
  <div class="main-modal">
    <filter-size></filter-size>
    <!-- <div class="item-filter">
      <div class="title">
        <p>Tamaño</p>
        <icon-arrow-bottom (click)="toggleInfo('size')"></icon-arrow-bottom>
      </div>
      <div class="content" #mySize>
        <div class="size">
          <p>200 x 150 cm</p>
        </div>
        <div class="size">
          <p>244 x 122 cm</p>
        </div>
        <div class="size">
          <p>240 x 100 cm</p>
        </div>
        <div class="size">
          <p>120 x250 cm</p>
        </div>
      </div>
    </div> -->
    <!-- <div class="item-filter"></div>
    <div class="item-filter"></div>
    <div class="item-filter"></div> -->
  </div>
</div>
