<div class="modal-container open">
  <div class="header-modal">
    <p class="title m-0">Filtro</p>
    <svg (click)="closeFilter()" class="icon-close" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14" fill="none">
      <path d="M1 1L13 13" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
      <path d="M1 13L13 1" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
    </svg>
  </div>
  <div class="main-modal">
    <app-filter-size (changeStatusFilterSize)="changeStatusFilterSize($event)"></app-filter-size>
    <app-filter-thickness (changeStatusFilterThickness)="changeStatusFilterThickness($event)"></app-filter-thickness>
    <app-filter-color (changeStatusFilterColor)="changeStatusFilterColor($event)"></app-filter-color>
    <app-filter-price></app-filter-price>
  </div>

  <div class="footer-buttons">
    <button [ngClass]="statusButtonClear? 'disabled': ''" (click)="clearAllFilter($event)">Limpiar</button>
    <button (click)="filterProducts()">Filtrar</button>
  </div>
</div>
