
  <ion-content>
    <ion-header class="ion-no-border header-add">
      <ion-toolbar>
        <button slot="start" (click)="goToStart()">
          <img src="/assets/icons/icon-close.svg" />
        </button>
        <ion-title>Agregar cupón</ion-title>
      </ion-toolbar>
      </ion-header>
      
      <div class="container-main">
    <ion-item>
      <ion-input (ionChange) = "inputChange($event)" placeholder="Ingresa el código"></ion-input>
    </ion-item>
    <ion-toolbar>
      <ion-button 
        (click)="goToProductsBar()" color="secondary" expand="block" shape="round" [disabled]="!haveValueInput">
        Agregar cupón
      </ion-button>
    </ion-toolbar>
  </div>
  </ion-content>