ion-toolbar {
  --min-height: unset;
  --background: var(--ion-background-color);
}

ion-title {
  width: 100%;
  max-width: calc(100% - 64px);
  margin: 32px auto 24px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 0 16px;
  color: var(--ion-color-basic);

  @media (min-width: 390px) {
    margin-top: 56px;
  }
}

ion-header ion-toolbar:first-of-type {
  padding-top: 0;
}
