
button{
  background-color: transparent;
}

ion-toolbar{
  --background: var(--ion-toolbar-background, var(--ion-color-step-50));
  --min-height: 0px;
  --padding-top: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 40px
}

@media(max-width:320px){
  ion-toolbar{
      --padding-top: 32px;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-bottom: 24px
}}


ion-content {
  // Eliminar scroll de la
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  };
}

ion-item {
  --padding-start: 24px;
 /*  --padding-end: 24px */

 &::part(native) {
  --inner-padding-end: 0px;
 }
}
ion-textarea {
  box-sizing: border-box;
  padding: 8px;
  min-height: 114px;
  border: 1px solid var(--ion-color-separator);
  border-radius: 5px;
}

ion-button {
  --ion-color-primary: #023AFF;
}




ion-footer{

ion-toolbar{
  --border-width: 0px;
  --padding-top: 0px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 24px
}
}

//
ion-footer {
  position: fixed;
  bottom: 0;
}
