<ion-header class="ion-no-border">
  <ion-toolbar>
    <button (click)="goBack()" slot="start" class="arrow">
      <img src="/assets/icons/icon-arrow-izquierda.svg" />
    </button>
    <ion-title>Requisitos para la entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
    <p class="linea">Detalla los requisitos para la entrega (opcional)</p>
  </ion-label>
  </ion-item>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" shape="round">Guardar</ion-button>  
  </ion-toolbar>
</ion-footer>
