/*Modal*/
.container-modal-resend {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-resend {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 244px;
    background-color: var(--ion-background-modal);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: modalOpen 0.3s ease;

    .box {
      gap: 32px;
    }
  }
}

.color {
  color: var(--ion-color-disabled);
}

.point {
  background-color: #ffb547;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.resend {
  color: var(--ion-color-primary);
}

.delete {
  width: 24px;
  height: 24px;
  path {
    fill: var(--ion-color-basic);
  }
}

//Abrir Modal
@keyframes modalOpen {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.close-modal {
  animation: closeModal 0.3s ease;
}

@keyframes closeModal {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
