*,*::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

// Content
ion-content {
  background: var(--ion-background-color);
}

// Container Page
.container-internal-inbox {
  width: 100%;
  min-height: 100vh;
  background-color: var(--ion-background-color);
}
// End container page

// Header Page
.app-header-inbox {
  padding-top: var(--ion-safe-area-top);
  height: 68px;
  height: cal(var(--ion-safe-area-top) + 68px);
}
// End Page

// Container Message
.content-messages {
  width: 100%;
  min-height: 100vh;
  padding-top: calc(68px + 16px);
  padding-bottom: calc(61px + 16px);

  padding-top: calc(var(--ion-safe-area-top) + 84px);
  padding-bottom: calc(var(--ion-safe-area-bottom) + 77px);

  display: flex;
  flex-direction: column;
  gap: 4px;
}
// End Container Message

// Footer
.ion-footer {
  border-top: 1px solid var(--ion-color-separator);
  background-color: var(--ion-background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  padding-bottom: var(--ion-safe-bottom);
}

.input-message {
  padding: 16px 16px 24px 16px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--ion-color-basic);
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
}

.content-footer__items {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px 24px 16px;

  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
}

.content-footer__items-icons {
  gap: 32px;

  svg {
    font-size: 24px;
  }

  .icon-camera {
    svg path {
      stroke: var(--ion-color-disabled);
    }
  }

  .icon-gallery {
    svg path {
      stroke: var(--ion-color-disabled);
    }
  }

  .icon-clip {
    svg path{
      fill: var(--ion-color-disabled);
    }
  }

}

.content-footer__items-icon-send {
  display: none;
  svg {
    font-size: 24px;
  }
}


// Remover el scroll del ion-content
ion-content {
  // overwrite inline styles
  --offset-bottom: auto! important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.app-header-inbox {
  background-color: var(--ion-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--ion-color-separator);
}

.last-message {
  width: 100%;
  height: 10px;
}

ion-content {
  --padding-bottom: 0 !important;
  --padding-top: 0!important;
}