.cards{
    margin: 0px 16px 0px 16px;
    #data-card{
        padding: 16px 0px 16px 10px;
        margin-bottom: 32px;
        border-radius: 10px;
        background: var(--ion-color-secondary-shade);
        #card{
            padding: 4.92px 0.77px;
            margin-right:12px ;
            width: 24px;
            height: 24px;
        }
    }
    ion-label{
        margin:0px;
        padding: 0px;
    }
    ion-item::part(native){
        padding: 0px;
    }
    ion-item{
        --inner-padding-end: 0px !important;
        #info{
            margin: 40px 0px 0px 0px;
            filter:var(--ion-color-light-filter)
        }
    }
}

ion-modal::part(content){
    background: var(--ion-background-alert);
}

#alert{
    --width: 288px;
    --height: 279px;
    --border-radius: 10px;
    #icon-close{
        margin: 16px 16px 0px 0px;
        margin-left: auto !important;
        filter:var(--ion-color-light-filter)
    }
    #card{
        text-align: center;
        padding-bottom: 24px;
        svg rect:nth-child(1){
        fill: var(--card-background-primary);
        }

        svg rect:nth-child(2){
          fill: var(--card-background-secondary);
        }

        svg rect:nth-child(3){
            fill: var(--card-background-tertiary);
        }

        svg path {
        fill: var(--card-color-text);
        }

        svg rect:last-child {
            stroke: var(--card-selected-color);
        }

    }
    #note-code{
       color:var(--ion-color-medium) !important;
       margin-bottom: 24px;
    }
    p{
        text-align: center;
        margin: 0px 16px 8px 16px;
    }
    .title-modal{
        font-weight: bold;
    }
}

#mistake{
    --width: 288px;
    --height: auto;
    --border-radius: 10px;
    #content-mistake{
        padding: 24px 16px 24px 16px;
        #mistake{
            text-align: center;
        }
        #info{
            margin: 24px 0px 14px 0px;
            p{
                text-align: center;
                margin-bottom: 8px;
            }
            .not{
                font-size: 12px !important;
            }
        }
        ion-button{
            height: 40px;
            font-size: 14px !important;
            margin: 0px;
        }
    }
}

ion-footer{
    position: fixed;
    bottom: 0;
    ion-toolbar{
      --border-width: 0px;
      --padding-top: 8px;
      --padding-start: 24px;
      --padding-end: 24px;
      --padding-bottom: 24px
    }
    ion-button{
        height: 40px;
        margin: 0px ;
    }
}

@media(min-width:390px){
    .cards{
        margin: 0px 24px 0px 24px;
    }
    #mistake{
        --height: auto;
        --width: 342px;
        #content-mistake{
            padding: 24px 24px 48px 24px;
            #info{
                margin: 38px 0px 14px 0px;
                .not{
                    font-size: 16px !important;
                }
            }
            ion-button{
                height: 48px;
                font-size: 16px !important;
            }
        }
    }
    #alert{
        --height: 279px;
        --width: 342px;
        #note-code{
            margin-bottom: 48px;
         }
        p{
            margin: 0px 24px 8px 24px;
        }
    }
    ion-footer{
        ion-button{
            height: 48px !important;
        }
    }
}

//Modal Spinner
// .container-modal {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 10000;
//   display: grid;
//   place-items: center;
//   background-color: var(--ion-background-color-modal);

//   ion-item::part(native) {
//     --inner-padding-end: 0px;
//     --inner-border-width: 0px;
//   }
// }