<ion-header class="ion-no-border">
  <ion-toolbar>
    <button slot="start">
      <img src="/assets/icons/icon-arrow-izquierda.svg" />
    </button>
    <ion-title>Mis cupones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <img class="caracter" src="/assets/icons/icon-cupon.svg" />
  </ion-item>
  <ion-item lines="none">
    <ion-label (click)="goTo('/customer/voucher')">
      <h3>¿Tienes un cupón?</h3>
      <p>Ingresa el código y usalo cuando quieras</p>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" shape="round" (click)="goTo('/customer/add')">
      Agregar cupón
    </ion-button>
  </ion-toolbar>
</ion-footer>