<ion-header>
  <button slot="end" class="arrow">
    <img src="/assets/icons/icon-close.svg" />
  </button>
  <ion-searchbar placeholder="" show-clear-button="always" [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>
</ion-header>

<ion-item lines="none">
  <ion-list lines="none" >
    <ion-item *ngFor="let result of results">
      <ion-label class="caracter">{{ result }}
        <img src="/assets/icons/icon-Arrow-inclinado.svg"> </ion-label>
    </ion-item>
  </ion-list>
</ion-item>
