.caracter {
    color: var(--ion-color-medium) !important;
}

ion-searchbar {
    margin: 24px;
    padding: 0px;
    width: 306px;
   height: 40px;
   border-radius: 100px;
}

img {
    display: flex;
    justify-content:  space-between;
}