<ion-header class="ion-no-border">
  <ion-toolbar>
    <button (click)="goBack()" slot="end" class="arrow">
      <img src="/assets/icons/icon-close.svg" class="medidas" />
    </button>
    <ion-searchbar show-clear-button="always" [debounce]="1000" (ionChange)="handleChange($event)"
      placeholder=""></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div>
  <ion-list lines="none">
    <ion-item *ngFor="let result of results">
      <ion-label>{{ result }}</ion-label>
      <img src="/assets/icons/icon-Arrow-inclinado.svg" slot="end" />
    </ion-item>
  </ion-list>
</div>