.caracter {
    width:55px;
    height:72px;
    margin:0 16px;
}

ion-searchbar {
    margin: 24px;
    padding: 0px;
    width: 300px;
   height: 36px;
   border-radius: 100px;
}

.medidas {
    margin: 35px 23px 0px 0px;
    padding: 0px;
    filter:var(--ion-color-light-filter);

}
button {
    background-color: transparent;
    margin: 0;
}


img {
    display: flex;
    justify-content:  space-between;
}

ion-item {
    padding: 0px 24px 0px 24px !important;
    height: 1050px;
    width: 390px;
}

ion-content {
    // overwrite inline styles
    --offset-bottom: auto! important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }