<ion-header class="ion-content-var">
  <div class="search-input">
    <div class="input-container" (click)="goSearchFilter()">
      <input type="search" tabindex="1" [placeholder]="placeholder" disabled>
    </div>
    <icon-scanner></icon-scanner>
  </div>
</ion-header>

<ion-content>

  <div class="container-products">
    <div class="products" *ngFor="let product of products" (click)="goProduct(product)">
      <div class="image" [style.background-image]="'url(\'' + product.image + '\')'" ></div>
      <div class="details">
        <p class="title">{{ product.title }}</p>
        <p class="description">{{ product.description }}</p>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <app-footer-navigation></app-footer-navigation>
</ion-footer>
