<ion-header class="ion-content-var">
  <div class="search-input">
    <div class="input-container" (click)="goSearchFilter()">
      <input type="search" tabindex="1" [placeholder]="placeholder" disabled>
    </div>
    <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
      <path d="M22.5 12.8057H1.5" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M20.6299 8.59559V7.08259C20.6299 5.02159 18.9589 3.35059 16.8969 3.35059H15.6919" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3.37012 8.59559V7.08259C3.37012 5.02159 5.04112 3.35059 7.10312 3.35059H8.33912" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M20.6299 12.8047V16.8787C20.6299 18.9407 18.9589 20.6117 16.8969 20.6117H15.6919" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3.37012 12.8047V16.8787C3.37012 18.9407 5.04112 20.6117 7.10312 20.6117H8.33912" stroke="var(--ion-color-basic)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</ion-header>

<ion-content>

  <div class="container-products">
    <div class="products" *ngFor="let product of products"
      (click)="goProduct(product)"
    >
      <div class="image"
        [style.background-image]="'url(\'' + product.image + '\')'"
      ></div>
      <div class="details">
        <p class="title">{{ product.title }}</p>
        <p class="description">{{ product.description }}</p>
      </div>
    </div>
  </div>
</ion-content>

<app-footer-navigation></app-footer-navigation>
