<ion-content [fullscreen]="true">
  <app-header-detail title="Envío"></app-header-detail>
  <ion-grid class="ion-no-padding">
    <ion-row class="mx-4 mb-4">

      <ion-col size="12" class="mb-4">
        <ion-text class="country d-flex flex-column">
          <ion-label class="fz-note">País</ion-label>
          <div class="mb-2">
            <img class="me-2" src="assets/icons/icon-PE.svg">
            <ion-label class="">Perú</ion-label>
          </div>
        </ion-text>
      </ion-col>

      <ion-col size="12" class="margin">
        <ion-text>
          <div class="direction">
            <div class="d-flex flex-row justify-content-between">
              <div class="ubication d-flex">
                <img src="assets/icons/Location.svg" />
                <ion-label class="fz small">
                  Jr. Samaritanos 879 Miraflores, Lima,<br />
                  Lima, Perú
                  </ion-label
                >
              </div>
              <img src="assets/icons/icon-stroke.svg" />
            </div>
          </div>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text class="fz-small">
          <span class="fw-normal">S/ 546.80</span> <br />
          <ion-label class="detail">
            Precio de envío aproximado con servicio de caraga
            nacional</ion-label
          >
          <br />
          <ion-label class="detail"
            >Fecha estimada de entrega: 3-7 días</ion-label
          >
        </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
  </ion-content>

