.content-send {
  margin: 0 16px 24px 16px;

  /*Pais*/
  .country {
    border-bottom: 1px solid var(--ion-color-separator);

    .color {
      color: var(--ion-color-disabled);
    }

    .img-country {
      width: 20px;
      height: 14.29px;
      margin-right: 10px;
    }

  }
  .margin {
    margin-bottom: 32px;

    .direction {
      background-color: var(--ion-background-secondary);
      padding: 10px;
      border-radius: 4px;

      .ubication {
        gap: 8px;
        border-radius: 4px;

        .icon-location {
          width: 24px;
          height: 24px;
          path {
            stroke: var(--ion-color-basic);
          }
        }
      }
    }
  }

  .detail {
    color: var(--ion-color-light);
  }

}


@media (min-width: 390px) {

  .content-send {
    margin: 0 24px 24px 24px;
  }

}
