.detail{
  color:var(--ion-color-light);
}

/* Pais */
.country{
color:#00000061;
}

/* Direccion */
.direction{
 background-color:#FAFAFA;
 padding: 10px;
 border-radius: 4px;
}

.ubication{
  gap: 8px;
  border-radius: 4px;
}

.margin{
  margin-bottom: 32px;
}
/*Pais*/
.country{
  border-bottom: 1px solid #EEEEEE;
}


