.inbox-ion-footer {
  background-color: var(--ion-background-color);
  border-top: 1px solid var(--ion-color-separator);
  padding: 8px 16px 16px 16px;
  --min-height: unset;

  .inbox-footer__content {
    display: flex;
    justify-content: space-between;
  }

  .inbox-footer__content--item {
    height: 42px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .inbox-footer__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inbox-footer__image svg {
    font-size: 24px;
  }

  .inbox-footer__name p {
    font-size: 10px;
    font-weight: 400;
    color: var(--ion-color-icons);
  }

  @media (min-width: 390px) {
    padding: 10px 24px 16px 24px;
  }
}

.inbox-footer__content {

  .icon-home {
    path {
      stroke: var(--ion-color-icons);
    }
  }

  .icon-search * {
    stroke:var(--ion-color-icons);
  }

  .icon-chat {
    path {
      stroke: var(--ion-color-icons);
    }
  }

  .icon-buy {
    path {
      stroke: var(--ion-color-icons);
    }
  }

  .icon-profile {
    path {
      stroke: var(--ion-color-icons);
    }
  }

  .inbox-footer__name p {
    color:var(--ion-color-icons);
  }
}

.inbox-footer__content .active {
  .icon-home {
    fill: var(--ion-color-icons-selected);

    path {
      stroke: var(--ion-color-icons-selected);
    }
  }

  .icon-chat {
    fill: var(--ion-color-icons-selected);

    path {
      stroke: var(--ion-color-icons-selected);
    }

    path:nth-child(2),
    path:nth-child(3),
    path:nth-child(4) {
      stroke: var(--ion-background-color);
    }
  }

  .icon-search {
    fill: var(--ion-color-icons-selected);

    circle {
      stroke: var(--ion-color-icons-selected);
    }

    path {
      stroke: var(--ion-color-icons-selected);
    }
  }

  .icon-buy {
    fill: var(--ion-color-icons-selected);

    path {
      stroke: var(--ion-color-icons-selected);
    }
  }

  .icon-profile {
    path {
      stroke: var(--ion-color-icons-selected);
      fill: var(--ion-color-icons-selected);
    }
  }

  .inbox-footer__name p {
    color: var(--ion-color-icons-selected) !important;
  }
}

// Remover el scroll del ion-content
ion-content {
  // overwrite inline styles
  --offset-bottom: auto! important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
/* ----------- */
