/* CONTENIDO */
.content-team {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}
.contacts {
  gap: 16px;
}
.information {
  padding-top: 2px;
  gap: 8px;
}
.text-description {
  color: var(--ion-color-disabled);
  gap: 30px;
}
.name {
  color: var(--ion-color-basic);
}
/* POSICION DE LA IMAGEN */
.icon-plus {
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 24px;
  margin-bottom: 40px;
}
.imagen-pendiente {
  width: 8px;
  height: 8px;
}
.pendiente {
  gap: 4px;
}
