/* CONTENIDO */
.content-team {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
}
.contacts {
  gap: 16px;
}
.information {
  padding-top: 2px;
  gap: 8px;
}
.text-description {
  color: var(--ion-color-disabled);
  gap: 30px;
}
.name {
  color: var(--ion-color-basic);
}

/* POSICION DE LA IMAGEN */
.icon-plus {
  width: 64px;
  height: 64px;
  position: fixed;
  right: 0px;
  //bottom: 0px;
  bottom: calc( var(--ion-safe-area-bottom,0) + 16px);
  margin-right: 24px;
  margin-bottom: 24px;
}
.imagen-pendiente {
  width: 8px;
  height: 8px;
}
.pendiente {
  gap: 4px;
}
.header-team{
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
}

//Demora de carga de imagen
/* .image-wrapper {
  background-color: #111;
  transition: background-color 0.3s ease-out;
}

.image-wrapper.loaded {
  background-color: transparent;
} */
