 <!--Contenido-->
<ion-content [fullscreen]="true">
  <app-header-team class="header-team" title="Equipo"> </app-header-team>
  <div class="container-main">
    <div *ngFor="let item of equipos" class="content-team">
      <div class="d-flex flex-row gap-3" (click)="openModal(item)">
        <img [src]="item.image" alt="img" />
        <div class="information fz-normal d-flex flex-column">
          <ion-label class="name">{{ item.nombre }}</ion-label>
          <div class="text-description d-flex flex-row fz-small">
            <ion-label
              *ngIf="item.estado.estado === 'Pendiente'"
              class="d-flex flex-row justify-content-center align-items-center gap-1">
              <div class="point"></div>
              {{ item.estado.estado }}
            </ion-label>
            <ion-label>{{ item.estado.numero }}</ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Boton-->
  <img
    (click)="openInvite()"
    class="icon-plus"
    src="assets/collaborative-basquet/Plus-circle.svg"
    alt="plus"
  />

  <!--Modal-invitar-->
  <app-modal-invite *ngIf="modalInvite"></app-modal-invite>

  <!-- Modal-contactos-->
  <app-modal-resend *ngIf="modalResend" [selectedTeam]="selectedTeam" (deleteTeam)="deleteTeam($event)"></app-modal-resend>

   <!-- Modal-mensaje de exito-->
  <app-modal-resend-invitation *ngIf="modalResendInvitation"></app-modal-resend-invitation>

</ion-content>
