.options{
    padding-right: 52px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    .card{
        width: 141px;
        height: 32px;
        display: flex;
        padding: 4px 0px;
        margin-right: 32px;
        text-align: center;
        border: 0px;
        background: var(--ion-color-secondary-shade);
    }
    .other{
        width: 141px;
        height: 32px;
        display: flex;
        padding: 4px 0px;
        justify-content: center;
    }
}

#no-cards-icon{
    margin-top: 45%;
    text-align: center;
}
#no-cards-txt{
    margin-top: 26px ;
    text-align: center;
}

ion-footer{
    ion-toolbar{
      --border-width: 0px;
      --padding-top: 8px;
      --padding-start: 24px;
      --padding-end: 24px;
      --padding-bottom: 24px
    }
    ion-button{
        height: 48px;
        margin: 0px ;
    }
}
