.options{
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    .way-pay,.other-forms{
        width: 141px;
        height: 32px;
        display: flex;
        padding: 4px 0px;
        border-radius: 4px;
        justify-content: center;
        color: var(--ion-color-text-secundary);
    }
}

.selected{
    color: var(--ion-color-primary) !important;
    background: var(--ion-color-secondary-shade);
    border: 0px !important;
}

#no-cards-icon{
    margin-top: 45%;
    text-align: center;
}
#no-cards-txt{
    margin-top: 26px ;
    text-align: center;
}

ion-footer{
    position: fixed;
    bottom: 0;
    ion-toolbar{
      --border-width: 0px;
      --padding-top: 8px;
      --padding-start: 24px;
      --padding-end: 24px;
      --padding-bottom: 24px
    }
    ion-button{
        height: 40px;
        margin: 0px;
    }
}

@media(min-width:390px){
    .options{
        padding-right: 24px;
        padding-left: 24px;
    }
    ion-footer{
        ion-button{
            height: 48px !important;
        }
    }
}