<ion-content>
  <app-header
  title="Métodos de pago"
  backDirection="confirm-order"
  iconLeft="icon-arrow-left"
  >
</app-header>

  <div class="options">
    <div class="card">
      <ion-label color="primary" class="fz-normal" 
      (click)="goTo('/customer/way-pay')"
      >Tarjeta</ion-label>
    </div>
    <div class="other">
      <ion-label color="medium" class="fz-normal" >Otras formas</ion-label>
    </div>
  </div>

  <div id="no-cards-icon">
    <img  src="/assets/icons/no-cards.svg" alt="no-cards">
  </div>
    
  <div id="no-cards-txt">
    <ion-label color="medium" class="fz-normal">No tienes ninguna tarjeta agregada</ion-label>
  </div>  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      (click)="goTo('/customer/add-card')"
      color="primary" fill="outline" shape="round" expand="block">
      <ion-label  class="fz-normal"> Agregar tarjeta</ion-label>
    </ion-button>  
  </ion-toolbar>
</ion-footer>

