<ion-content>

    <div class="container-user-information">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-start header">
            <img src="/assets/images/user.png" (click)="getOrTakePicture()" style="cursor: pointer; width: 76px;">
            <img (click)="onGoToConfiguration()" class="icon" src="/assets/icons/icon-setting.svg">
        </div>

        <!-- Title -->
        <ion-label class="title d-block fz-normal fw-500">Miguel Jimenez</ion-label>
    </div>

    <ion-list class="options-container" lines="none">
        <ion-item *ngFor="let opt of options" (click)="goTo(opt.goTo)">
            <div class="option d-flex align-items-center">
                <img [src]="opt.src">
                <ion-label *ngIf="opt.option!=='Pedidos'">{{opt.option}}</ion-label>
                <!-- <ion-label *ngIf="opt.option==='Pedidos'">Pedidos <sup class="amount">99</sup></ion-label> -->
                <div class="order" *ngIf="opt.option==='Pedidos'">
                    <p>Pedidos</p>
                    <p class="amount">99</p>
                </div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
<app-footer-navigation></app-footer-navigation>
<app-modal-camera
    [modalIsVisible]="modalIsVisible"
    (onModalNotVisible)="closeModal($event)"
>

</app-modal-camera>

