.container-user-information {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;


    .header {
        padding-bottom: 12px;

        img.icon{
            filter: var(--ion-color-dark-filter);
        }
    }

    .title{
        font-weight: 500;
    }

    .options-container {
        padding-top: 40px;
        padding-bottom: 52px;
        gap: 24px;

        .option{
            position: relative;

            ion-label{
                position: absolute;
                left: 39px;
                width: calc(100% - 39px);
            }

            img{
                filter: var(--ion-color-dark-filter);
            }

        }

        .amount{
            padding: 2px 4px;
            background-color: var(--ion-color-primary);
            color: white;
            border-radius: 10px;
        }
    }
}


@media(min-width:390px) {
    .container-user-information {
        padding-top: 24px !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }


    .options-container{
        padding-bottom: 0px !important;
    }
}
