<ion-content>
  <div class="container-app-settings">

    <app-header
      title="Términos y condiciones"
      backDirection="about-us"
      iconLeft="icon-arrow-left"
      class="header-my-data-settings"
    ></app-header>

    <div class="container-body">
      <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet consectetur. Pharetra scelerisque imperdiet amet id faucibus magna lobortis ultricies arcu. Semper tortor sem ac mauris vitae orci. Morbi cras in vestibulum arcu rhoncus malesuada vel quam. Et eros quis
        </p>
        <p>
          vulputate integer. Id massa velit eget enim nulla. Scelerisque orci nisl molestie in consectetur faucibus. Consequat tincidunt imperdiet amet eu ligula. Vitae pulvinar duis elit sit volutpat. Vestibulum mattis consectetur maecenas et sit aliquam odio.
        </p>
        <p>
          onsequat tincidunt imperdiet amet eu ligula. Vitae pulvinar duis elit sit volutpat. Vestibulum mattis consectetur maecenas et sit aliquam odio.
        </p>
      </div>
    </div>

  </div>
</ion-content>

