// .sc-ion-alert-ios-s .alert-wrapper {
//   width: 342px;
//   max-width: 500px;
//   gap: 24px;
//   padding-bottom: 24px;
//   --background: var(--ion-background-alert) !important;

//   //first div
//   .alert-header {
//     padding-bottom: 0px;
//   }

//   //second div
//   .alert-message {
//     font-size: 16px;
//     padding-bottom: 0px;
//   }

//   //tercer div
//   .sc-ion-alert-ios {
//     flex-wrap: nowrap;
//     padding-right: 24px;
//     padding-left: 24px;
//     padding-bottom: 0px;

//     button {
//       white-space: nowrap;
//       border-top-color: var(--ion-background-alert-border);
//       border-right-color: var(--ion-background-alert-border);
//     }
//   }

// }

.sc-ion-alert-ios-s .alert-wrapper{
  width: 342px;
  max-width: 500px;
  height: 130px;
  background-color: var(--ion-background-alert);

.alert-head{
  padding-top: 24px;
  }
 .alert-message{
padding-bottom: 24px;
padding-left: 24px;
padding-right: 24px;
font-size: 16px;
color: var(--ion-color-basic);

}
 .alert-button.sc-ion-alert-ios{
 border-top:none !important;
 border-right: none !important;
 font-size: 16px;
 color: var(--ion-color-basic);
 font-weight: normal;
}
.alert-button.sc-ion-alert-ios:last-child{
  font-weight: normal;
  color: var(--ion-color-primary);
 }
}
