ion-button{
  --border-radius: 50px;
  height: 40px;
}

@media(min-width:390px){
  ion-button{
    height: 48px !important;
  }
}

@include theme-light {
  ion-button {
    margin-inline: 0px;
    --background: #{$white};
    color: #{$black};
    --background-activated: #{$gray-100};
    &.button-outline {
      --background: #{$white};
      --background-activated: #{$white};
      --background-focused: #{$white};
    }
    &.ion-color-primary {
      --ion-color-base: #{$primary} !important;
      &.button-disabled {
        &::part(native) {
          --ion-color-base: #{$brand};
          color: #95A8C5;
        }
      }
    }
  }
}

@include theme-dark {
  ion-button {
    --background: #{$bg-dark};
    color: #{$btn-default};
    --background-activated: #{$gray-100};
    &.button-outline {
      --background: #{$bg-dark};
    }
    &.ion-color-primary {
      --ion-color-base: #{$primary} !important;
      &.button-disabled {
        &::part(native) {
          --ion-color-base: #{$gray-200};
          color: #5b6793;
        }
      }
    }
  }
}



