.br-2 {
  border-radius: 2px;
}

.footer__main {
  $height: 56px;
  height: $height;
  border-top: 1px solid;

  ion-buttons {
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    --border-radius: 0 !important;
    margin-inline-end: 0;
    margin-inline-start: 0;
    height: $height;
    width: 60px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    small {
      margin-top: 8px;
      width: 100%;
      font-weight: 400;
      font-size: 10px;
      letter-spacing: normal;
    }

    svg {
      $size: 16px;
      width: $size;
      height: $size;
    }
  }
}

.carousel__wrapper {
  .swiper-slide {
    width: 100px;
  }

  ion-img {
    &::part(image) {
      border-radius: 6px;
    }
  }
}

.products__column {
  column-count: 2;
  column-gap: 16px;
}

.products__product {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 20px;
  width: 100%;

  ion-img {
    &::part(image) {
      width: 100%;
      border-radius: 8px;
    }
  }

  .products__is-new {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    background-color: $primary;
    z-index: 2;
    color: white;
    font-size: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 4px 6px;
  }

  path {
    // fill: var(--ion-color-basic);
    fill: #6c757d !important;
    ;
  }
}

.products__name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #515151;
  font-size: 12px;
}

.product__colors {
  display: flex;
  align-items: center;

  .product__color {
    $size: 16px;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin-right: 15px;
  }
}

//Default
.form-group {

  --border-color: var(--ion-color-border-input);

  ion-label {
    color: #6c757d !important;
  }
}

//Focus
.form-group.item-has-focus{

  --border-color: var(--ion-color-primary) !important;

  ion-label{
      color:  var(--ion-color-primary) !important;
  }
}

//Error
.form-group.item-has-focus{
  &.ion-invalid{
    ion-label{
      color: #F44336 !important;
    }
    --border-color: #F44336 !important;
  }
}




.text-line-through {
  text-decoration: line-through;
}

ion-slides {
  &.pager-static {
    .swiper-pagination {
      position: static;
    }

    .swiper-pagination-bullet {
      opacity: 1;
    }
  }
}

@include theme-light {
  .footer__main {
    border-top-color: $gray-100;

    .button {
      small {
        color: $gray-800;
      }

      &:disabled,
      &[disabled] {
        $disabled-color: #aa376a;
        color: $disabled-color;

        path,
        circle {
          stroke: $disabled-color;
        }
      }

      path,
      circle {
        stroke: black;
      }
    }

    ion-button {
      &.active {
        small {
          color: $primary;
        }

        svg {
          fill: $primary;
        }

        path,
        circle {
          stroke: $primary;
        }
      }
    }
  }

  ion-slides {
    &.pager-static {
      .swiper-pagination-bullet {
        background-color: #eeeeee;

        &.swiper-pagination-bullet-active {
          background-color: #424242;
        }
      }
    }
  }
}

@include theme-dark {
  ion-slides {
    &.pager-static {
      .swiper-pagination-bullet {
        background-color: #1b1f3c;

        &.swiper-pagination-bullet-active {
          background-color: #5b6793;
        }
      }
    }
  }

  .footer__main {
    border-top-color: $gray-200;

    .button {
      small {
        color: rgba($white, 0.6);
      }

      &:disabled,
      &[disabled] {
        $disabled-color: #aa376a;
        color: $disabled-color;

        path,
        circle {
          stroke: $disabled-color;
        }
      }

      path,
      circle {
        stroke: rgba($white, 0.6);
      }
    }

    ion-button {
      &.active {
        small {
          color: $white;
        }

        svg {
          fill: $white;
        }

        path,
        circle {
          stroke: $white;
        }
      }
    }
  }
}