ion-item {
  --padding-start: 16px !important;
  --inner-padding-end: 16px !important;
  font-size: 16px;
  &::part(native) {
    padding-inline-end: 16px;
    padding-inline-start: 16px;
  }
}

@media(min-width:390px){
  ion-item {
    --padding-start: 24px !important;
    --inner-padding-end: 24px !important;
    font-size: 16px;
    &::part(native) {
      padding-inline-end: 24px;
      padding-inline-start: 24px;
    }
  }
}

// @include theme-light {
//   ion-list {
//     --ion-item-background: #{$white};
//     --ion-item-color: #9e9e9e;
//     --ion-item-border-color: #eeeeee;
//   }
//   ion-item {
//     &.item-has-focus {
//       --ion-color-primary: #9e9e9e;
//       --border-width: 0;
//     }
//   }
// }

// @include theme-dark {
//   ion-item {
//     --ion-item-border-color: #{$gray-200};
//   }
// }
