.text-big {
  font-size: 24px;
}
.text-secondary {
  color: rgba($black, 0.6);
}
.fw-semibold {
  font-weight: 500 !important;
}
.text-sm {
  font-size: 14px;
}
.text-x-small {
  font-size: 12px;
}
.text-primary {
  color: $primary;
}
