form {
    ion-input {
        --padding-bottom: 5px !important;
        --padding-top: 5px !important;
    }
}

ion-modal {
    --height: fit-content;
    --background: var(--ion-background-alert);
    --border-radius: 10px;

    &.modal-validate {
        &::part(content) {
            margin-right: 16px !important;
            margin-left: 16px !important;
        }
    }

    &.modal-terms {
        &::part(content) {
            //position: absolute;
            //bottom: 10px;
            width: calc(100% - 32px);
            //border-bottom-left-radius: 27px;
            //border-bottom-right-radius: 27px;
        }

        .terms,
        .politics {
            color: var(--ion-color-primary);
        }
    }
}


@media(min-width:390px) {

    ion-modal {
        &.modal-validate {
            &::part(content) {
                margin-right: 24px !important;
                margin-left: 24px !important;
            }
        }

        &.modal-termns {
            &::part(content) {
                width: calc(100% - 48px);
            }
        }

    }
}

.have-elements {
    display: flex !important;
}

.container-flag-digits {
    display: none;
}

.input-phone.has-focus {
    .container-flag-digits {
        display: flex;
        align-items: center;
    }
}

.disabled {
    color: var(--ion-color-disabled);
}