<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar color="none">
      <ion-buttons slot="start">
        <ion-button size="small" (click)="onToBack()">
          <svg
            width="17"
            height="15"
            viewBox="0 0 17 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 7.27436L16 7.27436"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.0498 13.2988L0.999804 7.27476L7.0498 1.24976"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </ion-button>
      </ion-buttons>
      <ion-title>Dirección</ion-title>
    </ion-toolbar>
    <ion-toolbar color="none">
      <ion-searchbar
        #inputAddress
        placeholder="Buscar dirección"
        class="custon-ion-search"
        [(ngModel)]="filter"
        debounce="350"
        (ionChange)="onSearch()"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none">
    <ion-item
      *ngFor="let address of addresses"
      button
      [detail]="false"
      (click)="onSelectAddress(address)"
    >
      <ion-label>{{ address }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
