ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-change-address {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-background-color);
  position: relative;

  ion-searchbar {
    position: sticky;
    top: calc(var(--ion-safe-area-top) + 72px);
    // top: calc(16px + 72px);
    z-index: 1000;
    width: 100%;
    background-color: var(--ion-background-color);
    padding: 0 16px 24px 16px;

    @media (min-width: 390px) {
      padding: 0 24px 24px 24px;
    }
  }

  ion-list {
    flex: 1;
    padding-bottom: 24px;

    &::after {
      content: "";
      position: fixed;
      z-index: 1000;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--ion-safe-area-bottom);
      background-color: red;
    }
  }

}

// Personalizado
.container-change-address .ion-safe-area-top {
  padding-top: calc(var(--ion-safe-area-top) + 24px);
  // padding-top: calc(16px + 24px);
}
