ion-content {
  --background: var(--ion-background-color);
}

.container-change-address {
  width: 100%;
  height: 100%;
  height: calc(100% - var(--ion-safe-area-top) - 54px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--ion-background-color);
  position: relative;

  ion-searchbar {
    width: 100%;
    background-color: var(--ion-background-color);
    padding: 0 16px 24px 16px;
    padding-top: 10px;

    @media (min-width: 390px) {
      padding: 0 24px 24px 24px;
      padding-top: 26px;
    }
  }

  .container-ion-list {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: var(--ion-background-color);
    position: relative;

    .separator {
      position: sticky;
      bottom: 0;
      background-color: var(--ion-background-color);
      z-index: 1000;
      width: 100%;
      height: var(--ion-safe-area-bottom);
    }
  }

  ion-list {
    flex: 1;
  }

}

.header-basic {
  box-sizing: border-box;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: calc(var(--ion-safe-area-top) + 16px) !important;
}
