ion-content {
  --background: var(--ion-background-color);
}

.container-app-settings {
  width: 100%;
  background-color: var(--ion-background-color);
  padding-bottom: var(--ion-safe-area-bottom);

  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.container-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 0 16px 24px 16px;
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
  padding-top: 10px;

  @media (min-width: 390px) {
    padding: 0 24px 24px 24px;
    padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
    padding-top: 26px;
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--ion-color-basic);
  }
}

.header-basic {
  box-sizing: border-box;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: calc(var(--ion-safe-area-top) + 16px) !important;
}
