<ion-content [fullscreen]="true">

  <app-header title="Verifica tu correo"> </app-header>

  <div class="recover-password-container container-main">
    <form class="w-100" [formGroup]="form">
      <ion-text class="text fz-normal text-muted d-block text-center mb-3">Hemos enviado un código de confirmación<br/> al
        correo
        <span class="color-body">{{ email }}</span></ion-text>
      <div class="text-center mb-3">
        <ion-button color="primary" size="small" fill="clear" shape="round" (click)="onChangeEmail()">Cambiar
          correo</ion-button>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item class="input-code">
              <ion-input color="primary" (ionChange)="onChangeCode()" formControlName="code" inputmode="numeric"
                class="ion-input-big fz-subtitle ion-text-center" #inputCode type="text"></ion-input>
            </ion-item>
            <div class="text-center mb-5 mt-2">
              <ion-text class="text fz-small">{{ counterTime }}</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <ion-text class="d-block text fz-normal text-center">¿No recibes el código?
      <span class="text-muted" [ngClass]="{ 'resend': isCounterInZero }" (click)="onResendCode()">Reenviar
      </span>
    </ion-text>
  </div>

</ion-content>