ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-my-location {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-my-location .map {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;

  iframe, #map {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 30px);
  }

  .button-back {
    position: sticky;
    z-index: 1000;
    left: 16px;
    top: calc(var(--ion-safe-area-top) + 16px - 14.5px);
    top: calc(var(--ion-safe-area-top) + 6.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--ion-background-secondary);

    @media (min-width: 390px) {
      left: 24px;
    }

    svg path{
      stroke: var(--ion-color-arrow-map);
    }
  }
}


.container-my-location .footer {
  width: 100%;
  padding: 24px 16px 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: var(--ion-background-color);

  padding-bottom: var(--ion-padding-bottom);

  @media (min-width: 390px) {
    padding: 24px;
    padding-bottom: var(--ion-padding-bottom);
  }

  span {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--ion-color-separator);
  }
}

.button-update {
  user-select: none;
  outline: none;
  border: none;
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1000;
  border-radius: 32px;
  width: 114px;
  height: 36px;
  box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background-tertiary);

  @media (min-width: 390px) {
    right: 24px;
    bottom: 24px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    width: 90px;
    height: 20px;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: var(--ion-color-basic);
    }
  }
}

// Spinner hecho por mi no robado :v
.container-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons-maps {
    display: none;
    margin-top: 15px;
    width: 100%;
    max-width: 280px;
    display: flex;
    gap: 10px;

    button {
      flex: 1;
      padding: 10px;
      border-radius: 5px;
    }
  }

  p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
}
