ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.container-my-location {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-my-location .map {
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;

  iframe, #map {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 30px);
  }

  .button-back {
    position: sticky;
    z-index: 1000;
    left: 16px;
    top: calc(var(--ion-safe-area-top) + 16px - 14.5px);
    top: calc(var(--ion-safe-area-top) + 6.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--ion-background-secondary);

    @media (min-width: 390px) {
      left: 24px;
    }

    svg path{
      stroke: var(--ion-color-arrow-map);
    }
  }
}


.container-my-location .footer {
  width: 100%;
  padding: 24px 16px 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: var(--ion-background-color);

  padding-bottom: var(--ion-padding-bottom);

  @media (min-width: 390px) {
    padding: 24px;
    padding-bottom: var(--ion-padding-bottom);
  }

  span {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--ion-color-separator);
  }
}

ion-button {
  height: 36px;
  position: absolute;
  right: calc(16px - 10px);
  bottom: calc(24px - 10px);
  box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  padding: 8px, 12px, 8px, 12px;
  margin: 0;
  --background: var(--ion-background-secondary) !important;

  &::part(native) {
    padding: 12px;
  }

  @media (min-width: 390px) {
    right: 24px;
    right: calc(24px - 10px);
  }

  ion-label {
    color: var(--ion-color-basic) !important;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15px;
    padding-left: 10px;
  }

  img {
    min-width: 18px;
    min-height: 18px;
  }
}
