<ion-content class="ion-content-var">
  <!-- <div class="google-map" id="google-map-id"></div> -->
  <div class="container-my-location">
    <div class="map">
      <div id="map"></div>

      <button class="button-back" (click)="onBack()" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
          <path d="M1 7.27441L16 7.27441" stroke="black" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M7.0498 13.2988L0.999804 7.27476L7.0498 1.24976" stroke="black" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>

    <!--
      <ion-fab vertical="bottom" horizontal="end" >
        <ion-button>
          <img src="/assets/icons/geo.png" />
          <ion-label id="update">Actualizar</ion-label>
        </ion-button>
      </ion-fab>
    -->

    </div>

    <div class="footer">
      <span (click)="onToChangeAddress()">Pacto andino 8799</span>
      <button
        class="ion-button"
        (click)="nextProyect()"
        type="button"
      >{{ contenido.button }}</button>
    </div>

  </div>
</ion-content>
