.mt-4{
  margin-top: 0px !important;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--ion-textPrimary-color);
}

.a-right{
  filter: var(--ion-arrowRightFilter-color);
  width: 8.17px;
  height: 14px;
}

.swiper-slide {
  width: 68.57px;
  height: 90px;
}



@media(max-width:320px){
  ion-label{
    font-size: 14px;
  }

  img{
    display: inherit;
  }

}

