<ion-content class="modal">
  <div class="modal-cesta">
    <ion-modal
      #modal
      trigger="open-modal"
      [initialBreakpoint]="0.37"
      [breakpoints]="[0, 0.25, 0.5, 0.75]"
    >
      <ng-template>
        <ion-content>
          <!-- <ion-radio-group  class="d-block">
          <ion-item (click)="goCesta()"lines="none"class="ion-no-padding ion-no-margin ion-no-border ms-4 mt-4 me-2">
            <div class="modal-avatar d-flex flex-row justify-content-center align-items-center">
              <ion-avatar slot="start">
                <ion-img src="/assets/collaborative-basquet/Avatar1.svg"></ion-img>
              </ion-avatar>
            <ion-label>Mi cesta (0)</ion-label>
          </div>
            <ion-radio  class="ion-no-margin" slot="end" color="medium" [value]=""></ion-radio>
          </ion-item>
          <ion-item lines="none"class="ion-no-padding ion-no-margin ion-no-border ms-4 mt-4 me-2">
            <div class="modal-avatar d-flex flex-row justify-content-center align-items-center">
              <ion-avatar slot="start">
                <ion-img src="/assets/collaborative-basquet/Avatar1.svg"></ion-img>
              </ion-avatar>
            <ion-label>Mi cesta (0)</ion-label>
          </div>
            <ion-radio  class="ion-no-margin" slot="end" color="medium" [value]=""></ion-radio>
          </ion-item>
        </ion-radio-group> -->

          <ion-list>
            <ion-radio-group class="d-block">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-img
                    src="/assets/collaborative-basquet/Avatar1.svg"
                  ></ion-img>
                </ion-avatar>
                <ion-label class="fz-normal"> Mi cesta (0) </ion-label>
                <ion-radio
                  class="ion-no-margin"
                  slot="end"
                  color="medium"
                  [value]=""
                ></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-img
                    src="/assets/collaborative-basquet/Avatar1.svg"
                  ></ion-img>
                </ion-avatar>
                <ion-label class="fz-normal"> Cesta de Gerardo (9) </ion-label>
                <ion-radio
                  (click)="Close()"
                  id="open-modal-basket"
                  class="ion-no-margin"
                  slot="end"
                  color="medium"
                  [value]=""
                ></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-img
                    src="/assets/collaborative-basquet/Avatar3.svg"
                  ></ion-img>
                </ion-avatar>
                <ion-label class="fz-normal">
                  Cesta de Juliano Alvares Carrió...
                </ion-label>
                <ion-radio
                  class="ion-no-margin"
                  slot="end"
                  color="medium"
                  [value]=""
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

         <!--  <div class="d-flex mx-4 mt-2 gap-2">
            <ion-button
              fill="outline"
              class="btn ion-no-padding ion-no-margin"
              expand="block"
              shape="round"
            >
              <ion-label class="cancel fw-normal">Cancelar</ion-label>
            </ion-button>

            <ion-button
              class="btn ion-no-padding ion-no-margin"
              expand="block"
              shape="round"
            >
              <ion-label
                (click)="Close()"
                id="open-modal-add"
                class="add fw-normal"
                >Añadir</ion-label
              >
            </ion-button>
          </div>
           -->
          <div class="d-flex mx-4 mt-2 gap-2">
            <ion-button
              id="open-modal"
              fill="outline"
              class="btn ion-no-padding ion-no-margin"
              expand="block"
              shape="round"
            >
            <ion-label class="cancel fw-normal">Cancelar</ion-label>
            </ion-button>
            <ion-button
              class="btn ion-no-padding ion-no-margin"
              expand="block"
              shape="round"
            >
            <ion-label (click)="Close()" id="open-modal-add" class="add fw-normal">Añadir</ion-label
              >
            </ion-button>
          </div>
          <app-modal-basket></app-modal-basket>
          <app-modal-add></app-modal-add>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
