<ion-content class="modal">
  <div class="modal-cesta">
    <ion-modal
      #modal
      trigger="open-modal"
      [initialBreakpoint]="0.37"
      [breakpoints]="[0, 0.25, 0.5, 0.75]"
    >
      <ng-template>
        <ion-content>
          <div>
            <ion-radio-group>
              <ion-item class="ion-no-padding mx-4 mb-4 mt-4" lines="none">
                <ion-text
                  class="basket d-flex flex-row justify-content-center align-items-center">
                  <img src="/assets/collaborative-basquet/Avatar1.svg" />
                  <ion-label class="fz-normal"> Mi cesta (0) </ion-label>
                </ion-text>
                <ion-radio slot="end" color="medium"></ion-radio>
              </ion-item>

              <ion-item class="ion-no-padding mx-4 mb-4" lines="none">
                <ion-text
                  class="basket d-flex flex-row justify-content-center align-items-center">
                  <img src="/assets/collaborative-basquet/Avatar1.svg" />
                  <ion-label class="fz-normal"> Cesta de Gerardo (9) </ion-label>
                </ion-text>
                <ion-radio  (click)="Close()" id="open-modal-basket" slot="end" color="medium"></ion-radio>
              </ion-item>

              <ion-item class="ion-no-padding mx-4 mb-4" lines="none">
                <ion-text class="basket d-flex flex-row justify-content-center align-items-center">
                  <img src="/assets/collaborative-basquet/Avatar3.svg" />
                  <ion-label class="fz-normal"> Cesta de Juliano Alvares Carrió... </ion-label>
                </ion-text>
                <ion-radio slot="end" color="medium"></ion-radio>
              </ion-item>

            </ion-radio-group>

            <div class="d-flex mx-4 mt-2 gap-2">
              <ion-button
                fill="outline"
                class="btn ion-no-padding ion-no-margin"
                expand="block"
                shape="round" >
                <ion-label class="cancel fw-normal">Cancelar</ion-label>
              </ion-button>
              <ion-button
                id="open-modal-add"
                (click)="Close()"
                class="btn ion-no-padding ion-no-margin"
                expand="block"
                shape="round"
                color="primary">
                <ion-label  id="open-modal-add" class="add fw-normal"
                  >Añadir</ion-label >
              </ion-button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
