<div class="container-modal-variants" #ContainerModal>
  <div class="modal-variants" #modal>
    <div>
      <ion-radio-group>
        <ion-item class="ion-no-padding mx-4 mb-4 mt-4" lines="none">
          <ion-text
            class="basket d-flex flex-row justify-content-center align-items-center">
            <img src="/assets/collaborative-basquet/Avatar1.svg" />
            <ion-label class="fz-normal"> Mi cesta (0) </ion-label>
          </ion-text>
          <ion-radio slot="end" color="medium"></ion-radio>
        </ion-item>

        <ion-item class="ion-no-padding mx-4 mb-4" lines="none" (click)="openModalBasket()">
          <ion-text
            class="basket d-flex flex-row justify-content-center align-items-center">
            <img src="/assets/collaborative-basquet/Avatar1.svg" />
            <ion-label class="fz-normal"> Cesta de Gerardo (9) </ion-label>
          </ion-text>
          <ion-radio slot="end" color="medium"></ion-radio>
        </ion-item>

        <ion-item class="ion-no-padding mx-4 mb-4" lines="none">
          <ion-text class="basket d-flex flex-row justify-content-center align-items-center">
            <img src="/assets/collaborative-basquet/Avatar3.svg" />
            <ion-label class="fz-normal"> Cesta de Juliano Alvares Carrió... </ion-label>
          </ion-text>
          <ion-radio slot="end" color="medium"></ion-radio>
        </ion-item>

      </ion-radio-group>

      <div class="d-flex mx-4 mt-2 gap-2">
        <ion-button
          fill="outline"
          class="btn ion-no-padding ion-no-margin"
          expand="block"
          shape="round"
          style="height: 48px !important;">
         Cancelar
        </ion-button>
        <ion-button
          class="btn ion-no-padding ion-no-margin"
          expand="block"
          shape="round"
          color="primary"
          (click)="openModalAdd()"
          style="height: 48px !important;">
          <ion-label class="add fw-normal"
            >Añadir</ion-label >
        </ion-button>
      </div>
    </div>
  </div>
</div>
