@font-face {
    font-family: 'Roboto';
    src: url('./roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('./roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('./roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./roboto/Roboto-Black.ttf');
    font-weight: 900;
}

:root,
* {
    --ion-font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.fz-note {
    font-size: 12px !important;
}

.fz-small {
    font-size: 14px !important;
}

.fz-normal {
    font-size: 16px !important;
}

.fz-large {
    font-size: 18px !important;
}

.fz-subtitle {
    font-size: 20px !important;
}

.fz-title {
    font-size: 24px !important;
}

.fw-light {
    font-weight: 400 !important;
}

.fw-normal {
    font-weight: 500 !important;
}

.fw-bolder {
    font-weight: 900 !important;
}
