body.md {
  --ion-footer-bottom: 0px;
  --bottom-chat: 16px;
  --alturachat: 60px
  .ion-content-var {
    --ion-padding-top: 16px;
    --ion-padding-bottom: 24px;
  }
}

body.ios {
  --ion-footer-bottom: 10px;
  --bottom-chat: 0px;
  --alturachat: 116px;
  .ion-content-var {
    --ion-padding-top: 16px;
    --ion-padding-bottom: 16px;
  }
}

// Button Principal
.ion-button {
  width: 100%;
  height: 40px;
  background-color: #023AFF;
  color: #ffffff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400px;

  &.disabled {
    background-color: var(--ion-button-background-disabled);
    color: var(--ion-button-color-disabled);
  }

  @media (min-width: 390px) {
    height: 48px;
    font-size: 16px;
  }
}

// Header
.header-basic {
  user-select: none;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: var(--ion-padding-top);
  padding-bottom: 24px;
  z-index: 1000;
  background-color: var(--ion-background-color);
  padding-bottom: 14px !important;

  @media (min-width: 390px) {
    padding-left: 24px;
    padding-right: 24px;
    // padding-bottom: 40px !important;
  }

  .content-header {
    position: relative;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 16px;
      font-weight: 700px;
      margin: 0;
    }

    .icon-back {
      position: absolute;
      left: -8px;
      top: -8px;
      width: calc(24px + 16px);
      height: calc(24px + 16px);
      z-index: 2000;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 24px;
      }
      svg path {
        stroke: var(--ion-color-basic);
      }
    }
  }
}

.separator-chat {
  display: inline-block;
  min-width: 60px;
}

.container-footer-bottom {
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--ion-background-color);
  padding-bottom: calc(var(--ion-safe-area-bottom) + var(--ion-padding-bottom));

  @media(min-width: 390px) {
    padding-bottom: var(--ion-padding-bottom);
    padding-bottom: calc(var(--ion-safe-area-bottom) + var(--ion-padding-bottom));
  }
}
