// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
// :root {
//   /** primary **/
//   --ion-color-primary: #023aff;
//   --ion-color-primary-rgb: 2, 58, 255;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255, 255, 255;
//   --ion-color-primary-shade: #0233e0;
//   --ion-color-primary-tint: #1b4eff;

//   /** secondary **/
//   --ion-color-secondary: #3dc2ff;
//   --ion-color-secondary-rgb: 61, 194, 255;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255, 255, 255;
//   --ion-color-secondary-shade: #36abe0;
//   --ion-color-secondary-tint: #50c8ff;

//   /** tertiary **/
//   --ion-color-tertiary: #5260ff;
//   --ion-color-tertiary-rgb: 82, 96, 255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//   --ion-color-tertiary-shade: #4854e0;
//   --ion-color-tertiary-tint: #6370ff;

//   /** success **/
//   --ion-color-success: #32BA7C;
//   --ion-color-success-rgb: 50, 186, 124;
//   --ion-color-success-contrast: #000000;
//   --ion-color-success-contrast-rgb: 0, 0, 0;
//   --ion-color-success-shade: #2ca46d;
//   --ion-color-success-tint: #47c189;

//   /** warning **/
//   --ion-color-warning: #FFB547;
//   --ion-color-warning-rgb: 255, 181, 71;
//   --ion-color-warning-contrast: #000000;
//   --ion-color-warning-contrast-rgb: 0, 0, 0;
//   --ion-color-warning-shade: #e09f3e;
//   --ion-color-warning-tint: #ffbc59;

//   /** danger **/
//   --ion-color-danger: #F44336;
//   --ion-color-danger-rgb: 244, 67, 54;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255, 255, 255;
//   --ion-color-danger-shade: #d73b30;
//   --ion-color-danger-tint: #f5564a;

//   /** dark **/
//   --ion-color-dark: #000000;
//   --ion-color-dark-rgb: 0, 0, 0;
//   --ion-color-dark-contrast: #ffffff;
//   --ion-color-dark-contrast-rgb: 255, 255, 255;
//   --ion-color-dark-shade: #000000;
//   --ion-color-dark-tint: #1a1a1a;

//   /** medium **/
//   --ion-color-medium: #666666;
//   --ion-color-medium-rgb: 102, 102, 102;
//   --ion-color-medium-contrast: #ffffff;
//   --ion-color-medium-contrast-rgb: 255, 255, 255;
//   --ion-color-medium-shade: #5a5a5a;
//   --ion-color-medium-tint: #757575;

//   /** light **/
//   --ion-color-light: #9E9E9E;
//   --ion-color-light-rgb: 158, 158, 158;
//   --ion-color-light-contrast: #000000;
//   --ion-color-light-contrast-rgb: 0, 0, 0;
//   --ion-color-light-shade: #8b8b8b;
//   --ion-color-light-tint: #a8a8a8;

:root{

  /** light **/
  --ion-color-light: #9E9E9E;
  --ion-color-light-rgb: 158, 158, 158;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #8b8b8b;
  --ion-color-light-tint: #a8a8a8;

  /** Estándar ecommerce **/
  --ion-color-induacril: #023AFF;
  --ion-color-induacril-filter: brightness(0) saturate(100%) invert(11%) sepia(76%) saturate(7498%) hue-rotate(234deg) brightness(105%) contrast(110%);

  /** Induacril **/
  // --ion-color-induacril: #AA376A;
  // --ion-color-induacril-filter: brightness(0) saturate(100%) invert(30%) sepia(29%) saturate(2851%) hue-rotate(297deg) brightness(86%) contrast(87%);




}


/** Dark Colors **/
// body.dark {
//   --ion-background-color: $white;
//   /** primary **/
//   --ion-color-primary: #3c66fb;
//   --ion-color-primary-rgb: 60, 102, 251;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255, 255, 255;
//   --ion-color-primary-shade: #355add;
//   --ion-color-primary-tint: #5075fb;

//   /** secondary **/
//   --ion-color-secondary: #50c8ff;
//   --ion-color-secondary-rgb: 80, 200, 255;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255, 255, 255;
//   --ion-color-secondary-shade: #46b0e0;
//   --ion-color-secondary-tint: #62ceff;

//   /** tertiary **/
//   --ion-color-tertiary: #6a64ff;
//   --ion-color-tertiary-rgb: 106, 100, 255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//   --ion-color-tertiary-shade: #5d58e0;
//   --ion-color-tertiary-tint: #7974ff;

//   /** success **/
//   --ion-color-success: #32BA7C;
//   --ion-color-success-rgb: 50, 186, 124;
//   --ion-color-success-contrast: #000000;
//   --ion-color-success-contrast-rgb: 0, 0, 0;
//   --ion-color-success-shade: #2ca46d;
//   --ion-color-success-tint: #47c189;

//   /** warning **/
//   --ion-color-warning: #FFB547;
//   --ion-color-warning-rgb: 255, 181, 71;
//   --ion-color-warning-contrast: #000000;
//   --ion-color-warning-contrast-rgb: 0, 0, 0;
//   --ion-color-warning-shade: #e09f3e;
//   --ion-color-warning-tint: #ffbc59;

//   /** danger **/
//   --ion-color-danger: #F44336;
//   --ion-color-danger-rgb: 244, 67, 54;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255, 255, 255;
//   --ion-color-danger-shade: #d73b30;
//   --ion-color-danger-tint: #f5564a;

//   /** dark **/
//   --ion-color-dark: #ffffff;
//   --ion-color-dark-rgb: 255, 255, 255;
//   --ion-color-dark-contrast: #000000;
//   --ion-color-dark-contrast-rgb: 0, 0, 0;
//   --ion-color-dark-shade: #e0e0e0;
//   --ion-color-dark-tint: #ffffff;

//   /** medium **/
//   --ion-color-medium: #666666;
//   --ion-color-medium-rgb: 102, 102, 102;
//   --ion-color-medium-contrast: #ffffff;
//   --ion-color-medium-contrast-rgb: 255, 255, 255;
//   --ion-color-medium-shade: #5a5a5a;
//   --ion-color-medium-tint: #757575;

//   /** light **/
//   --ion-color-light: #9E9E9E;
//   --ion-color-light-rgb: 158, 158, 158;
//   --ion-color-light-contrast: #000000;
//   --ion-color-light-contrast-rgb: 0, 0, 0;
//   --ion-color-light-shade: #8b8b8b;
//   --ion-color-light-tint: #a8a8a8;
// }

/*
* iOS Dark Theme
* -------------------------------------------
*/
// .ios body.dark {
//   --ion-background-color: #000000;
//   --ion-background-color-rgb: 0, 0, 0;

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255, 255, 255;

//   --ion-color-step-50: #0d0d0d;
//   --ion-color-step-100: #1a1a1a;
//   --ion-color-step-150: #262626;
//   --ion-color-step-200: #333333;
//   --ion-color-step-250: #404040;
//   --ion-color-step-300: #4d4d4d;
//   --ion-color-step-350: #595959;
//   --ion-color-step-400: #666666;
//   --ion-color-step-450: #737373;
//   --ion-color-step-500: #808080;
//   --ion-color-step-550: #8c8c8c;
//   --ion-color-step-600: #999999;
//   --ion-color-step-650: #a6a6a6;
//   --ion-color-step-700: #b3b3b3;
//   --ion-color-step-750: #bfbfbf;
//   --ion-color-step-800: #cccccc;
//   --ion-color-step-850: #d9d9d9;
//   --ion-color-step-900: #e6e6e6;
//   --ion-color-step-950: #f2f2f2;

//   --ion-item-background: #000000;

//   --ion-card-background: #1c1c1d;

//   ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }
// }

/*
* Material Design Dark Theme
* -------------------------------------------
*/
// .md body.dark {
//   --ion-background-color: #121212;
//   --ion-background-color-rgb: 18, 18, 18;

//   --ion-text-color: #ffffff;
//   --ion-text-color-rgb: 255, 255, 255;

//   --ion-border-color: #222222;

//   --ion-color-step-50: #1e1e1e;
//   --ion-color-step-100: #2a2a2a;
//   --ion-color-step-150: #363636;
//   --ion-color-step-200: #414141;
//   --ion-color-step-250: #4d4d4d;
//   --ion-color-step-300: #595959;
//   --ion-color-step-350: #656565;
//   --ion-color-step-400: #717171;
//   --ion-color-step-450: #7d7d7d;
//   --ion-color-step-500: #898989;
//   --ion-color-step-550: #949494;
//   --ion-color-step-600: #a0a0a0;
//   --ion-color-step-650: #acacac;
//   --ion-color-step-700: #b8b8b8;
//   --ion-color-step-750: #c4c4c4;
//   --ion-color-step-800: #d0d0d0;
//   --ion-color-step-850: #dbdbdb;
//   --ion-color-step-900: #e7e7e7;
//   --ion-color-step-950: #f3f3f3;

//   --ion-item-background: #1e1e1e;

//   --ion-toolbar-background: #1f1f1f;

//   --ion-tab-bar-background: #1f1f1f;

//   --ion-card-background: #1e1e1e;
// }

$primary: #023aff;
$white: #ffffff;
$black: #000000;
$gray-100: #f5f5f5;
$gray-200: #1b1f3c;
$gray-300: #e0e0e0;
$bg-dark: #05050f;
$brand: #e3eafd;
$text-light: rgba($black, 0.38);
$divider: rgba($black, 0.12);
// Dark mode
$btn-default: #5b6793;



body {
  --ion-padding: 16px;
}

@include theme-light {
  --ion-background-color: #{$white};
}

@include theme-dark {
  --ion-background-color: #{$bg-dark};
}



// Variables Scss(Frank P.)
@include theme-light{
  --ion-background-color: #{$white};
  --ion-color-primary: #{$primary};
  --ion-filter-primary: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(4223%) hue-rotate(231deg) brightness(101%) contrast(118%);

  --ion-textPrimary-color : #{$black};
  --ion-textLight-color: #00000061;

  --ion-borderNotSelected-color : #F5F5F5;
  --ion-parraphNotSelected-color : #00000061;
  --ion-filterNotSelected-color : unset;
  --ion-borderSelected-color : #{$primary};
  --ion-parraphSelected-color : #{$primary};
  --ion-filterSelected-color : brightness(0) saturate(100%) invert(11%) sepia(76%) saturate(7498%) hue-rotate(234deg) brightness(105%) contrast(110%);


  --ion-truckFilter-color: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(5747%) hue-rotate(104deg) brightness(103%) contrast(108%);;
  --ion-dangerFilter-color: unset;


  --ion-cuponBg-color : #FAFAFA;
  --ion-filterTicket-color: unset;
  --ion-arrowRightFilter-color: unset;
  --ion-arrowLeftFilter-color: unset;

  --ion-chatFilter-color : unset;

}




@include theme-dark{
  --ion-background-color: #{$bg-dark};
  --ion-color-primary: #{$primary};
  --ion-filter-primary: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(4223%) hue-rotate(231deg) brightness(101%) contrast(118%);

  --ion-textPrimary-color : #{$white};
  --ion-textLight-color: #FFFFFF66;

  --ion-borderNotSelected-color : #1B1F3C;
  --ion-parraphNotSelected-color : #1B1F3C;
  --ion-filterNotSelected-color : brightness(0) saturate(100%) invert(11%) sepia(10%) saturate(3338%) hue-rotate(195deg) brightness(98%) contrast(96%);
  --ion-borderSelected-color: #{$primary};
  --ion-parraphSelected-color: #{$primary};
  --ion-filterSelected-color: brightness(0) saturate(100%) invert(11%) sepia(76%) saturate(7498%) hue-rotate(234deg) brightness(105%) contrast(110%);


  --ion-truckFilter-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);
  --ion-dangerFilter-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);


  --ion-cuponBg-color : #1B1F3C;
  --ion-filterTicket-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);
  --ion-arrowRightFilter-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);
  --ion-arrowLeftFilter-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);

  --ion-chatFilter-color : brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);

}



// Variables CSS (RCNA)
@include theme-light {
  --ion-background-color: #{$white};
  --ion-color-basic: #000000;
  --ion-color-secondary: #00000099;
  --ion-color-disabled: #00000061;
  --ion-color-separator: #F5F5F5;

  --ion-background-secondary: #FAFAFA;
  --ion-background-tertiary: #023AFF;

  --ion-color-icons: #424242;
  --ion-color-icons-selected: #023aff;
}

@include theme-dark {
  --ion-background-color: #{$bg-dark};
  --ion-color-basic: #FFFFFF;
  --ion-color-secondary: #ffffff99;
  --ion-color-disabled: #ffffff66;
  --ion-color-separator: #1B1F3C;

  --ion-background-secondary: #1B1F3C;
  --ion-background-tertiary: #3C66FB;

  --ion-color-icons: #ffffff99;
  --ion-color-icons-selected: #ffffff;
}






