// Ionic Variables and Theming. For more info, pleastertiarye see:
// http://ionicframework.com/docs/theming/
$primary: #023aff;
$white: #ffffff;
$black: #000000;
$gray-100: #f5f5f5;
$gray-200: #1b1f3c;
$gray-300: #e0e0e0;
$gray-800: #424242;
$bg-dark: #05050f;
$brand: #e3eafd;
$text-light: rgba($black, 0.38);
$text-dark: $white;
$divider: rgba($black, 0.12);
// Dark mode
$btn-default: #5b6793;
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #023aff;
  --ion-color-primary-rgb: 2, 58, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0233e0;
  --ion-color-primary-tint: #1b4eff;
  --ion-color-primary-filter: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(4223%) hue-rotate(231deg) brightness(101%) contrast(118%);

  /** secondary **/
  --ion-color-secondary: #E3EAFD;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #FAFAFA;
  --ion-color-secondary-tint: #E3EAFD;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #32BA7C;
  --ion-color-success-rgb: 50, 186, 124;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #2ca46d;
  --ion-color-success-tint: #47c189;

  /** warning **/
  --ion-color-warning: #FFB547;
  --ion-color-warning-rgb: 255, 181, 71;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09f3e;
  --ion-color-warning-tint: #ffbc59;

  /** danger **/
  --ion-color-danger: #F44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d73b30;
  --ion-color-danger-tint: #f5564a;

  /** dark **/
  --ion-color-dark: #05050F;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000000;
  --ion-color-dark-tint: #1a1a1a;
  --ion-color-dark-filter: brightness(0) saturate(100%) invert(0%) sepia(11%) saturate(7208%) hue-rotate(205deg) brightness(105%) contrast(104%);

  /** medium **/
  --ion-color-medium: #666666;
  --ion-color-medium-rgb: 102, 102, 102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5a5a5a;
  --ion-color-medium-tint: #757575;

  /** light **/
  --ion-color-light: #9E9E9E;
  --ion-color-light-rgb: 158, 158, 158;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #8b8b8b;
  --ion-color-light-tint: #a8a8a8;
  --ion-color-light-filter: brightness(0) saturate(100%) invert(0%) sepia(11%) saturate(7208%) hue-rotate(205deg) brightness(105%) contrast(104%);

  // custom colors
  --ion-color-basic: #000000;
  --ion-color-text-secundary: #00000099;
  --ion-color-icons: #424242;
  --ion-color-icons-selected: #023AFF;
  --ion-color-separator: #F5F5F5;
  --ion-background-secondary: #FAFAFA;
  --ion-color-disabled: #00000061;
  --ion-background-tertiary: #023AFF;
  --ion-background-icons-delete:#E3EAFD;
  --ion-background-modal:#FFFFFF;
  --ion-background-alert: #FFFFFF;
  --ion-background-alert-border:#BDBDBD;

  //card
  --card-background-primary: #EEEEEE;
  --card-background-secondary: #E2E2E2;
  --card-background-tertiary: #FFFFFF;
  --card-color-text: #000000;
  --card-selected-color: #023AFF;
  
  --icon-color-map: #0681FD;
  --ion-background-modal: #FCFCFC;
  --ion-color-arrow-map: #000000;
  --ion-color-geor: #242424;

  --ion-color-tipo-pedido : #00000061;
  --ion-color-tipo-pedido-border: #F5F5F5;
  --ion-color-tipo-pedido-filter: unset;

}




/** Dark Colors **/
body.dark {
  --ion-background-color: #{$bg-dark};
  --ion-background-color: $white;

  /** primary **/
  --ion-color-primary: #3c66fb;
  --ion-color-primary-rgb: 60, 102, 251;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #355add;
  --ion-color-primary-tint: #5075fb;

  /** secondary **/
  --ion-color-secondary: #1B1F3C;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1B1F3C;
  --ion-color-secondary-tint: #1B1F3C;

  /** tertiary **/
  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  /** success **/
  --ion-color-success: #32BA7C;
  --ion-color-success-rgb: 50, 186, 124;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #2ca46d;
  --ion-color-success-tint: #47c189;

  /** warning **/
  --ion-color-warning: #FFB547;
  --ion-color-warning-rgb: 255, 181, 71;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09f3e;
  --ion-color-warning-tint: #ffbc59;

  /** danger **/
  --ion-color-danger: #F44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d73b30;
  --ion-color-danger-tint: #f5564a;

  /** dark **/
  --ion-color-dark: #ffffff;
  --ion-color-dark-rgb: 255, 255, 255;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #e0e0e0;
  --ion-color-dark-tint: #ffffff;
  --ion-color-dark-filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(0%) hue-rotate(337deg) brightness(101%) contrast(100%);;

  /** medium **/
  --ion-color-medium: #666666;
  --ion-color-medium-rgb: 102, 102, 102;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5a5a5a;
  --ion-color-medium-tint: #757575;

  /** light **/
  --ion-color-light: #9E9E9E;
  --ion-color-light-rgb: 158, 158, 158;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #8b8b8b;
  --ion-color-light-tint: #a8a8a8;
  --ion-color-light-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(155deg) brightness(103%) contrast(103%);

  // custom colors
  --ion-color-basic: #FFFFFF;
  --ion-color-text-secundary: #ffffff99;
  --ion-color-icons: #FFFFFF99;
  --ion-color-icons-selected: #FFFFFF;
  --ion-color-separator: #1B1F3C;
  --ion-background-secondary: #1B1F3C;
  --ion-color-disabled: #ffffff66;
  --ion-color-icons: #FFFFFF99;
  --ion-color-icons-selected: #FFFFFF;
  --ion-color-basic: #FFFFFF;
  --ion-color-separator: #1B1F3C;
  --ion-background-secondary: #1B1F3C;
  --ion-background-tertiary: #3C66FB;
  --ion-background-alert: #191932;
  --ion-background-alert-border: #5B6793;
  --ion-background-icons-delete:#5B6793;
  --ion-background-modal:#191932;

  //card
  --card-background-primary: #5B6793;
  --card-background-secondary: #191932;
  --card-background-tertiary: #191932;
  --card-color-text: #FFFFFF;
  --card-selected-colorcard-selected-color: #3C66FB;
  
  /** tipo-pedido **/
  --icon-color-map: #C9ABA4;
  --ion-background-modal: #151724;
  --ion-color-arrow-map: #5B6793;
  --ion-color-geor: #ffffff;

  --ion-color-tipo-pedido : #1B1F3C;
  --ion-color-tipo-pedido-border: #1B1F3C;
  --ion-color-tipo-pedido-filter: brightness(0) saturate(100%) invert(10%) sepia(48%) saturate(1066%) hue-rotate(198deg) brightness(91%) contrast(92%);

}

/*
* iOS Dark Theme
* -------------------------------------------
*/
.ios body.dark {
  --ion-background-color: #05050F;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #{$bg-dark};

  --ion-card-background: #05050F;
}

/*
* Material Design Dark Theme
* -------------------------------------------
*/
.md body.dark {
  --ion-background-color: #05050F;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #1B1F3C;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #05050F;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #05050F;

  --ion-card-background: #1e1e1e;
}


body {
  --ion-padding: 24px;
}

@include theme-light {
  --ion-background-color: #{$white};
  --ion-toolbar-background: #{$white};
}

@include theme-dark {
  --ion-background-color: #{$bg-dark};
  --color: #{$white};
  --bs-body-color: #{$white};
  --ion-item-color: #{$white};
  --ion-toolbar-background: #{$bg-dark};
}


