<ion-content>
  <div class="container-home">
    <!-- Header Logo -->
    <ion-header class="ion-no-border header-product">
      <ion-toolbar>
        <div class="contact d-flex justify-content-center align-items-center mt-3">
          <button (click)="goBack()" slot="start" class="arrow">
            <svg class="icon-left" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M2 12.2744L17 12.2744" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M8.0498 18.299L1.9998 12.275L8.0498 6.25" stroke="black" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
          <ion-searchbar class="ion-no-padding" placeholder="Buscar"
            style="padding-bottom: 0px; padding-top: 0px; height: 36px;margin-left: 10px;"></ion-searchbar>
        </div>
      </ion-toolbar>
    </ion-header><br>
    <!-- Productos Destacados -->
    <div class="container-productos-destacados container-main">
      <div>
        <ion-text>
          <div class="d-flex ion-align-items-center mb-3 fw-bold">48 productos
            <img  (click)="goTo('/customer/filtro')" src="/assets/icons/icon-Filter.svg"  />
          </div>
        </ion-text>
      </div>
      <div class="products__column">
        <div class="products__product" *ngFor="let product of productsFeatured">
          <span *ngIf="product.isNew" class="products__is-new">NUEVO</span>
          <ion-img [src]="product.image" [alt]="product.image"></ion-img>
          <ion-text class="products__name mt-2">{{ product.name }}</ion-text>
          <ion-text class="d-block fw-semibold mt-2 mb-2 text-price">{{ product.price }}</ion-text>
          <ion-text *ngIf="product.inOffert" class="d-block fw-semibold mt-2 mb-3 text-sm text text-muted">
            <span class="d-inline-block mr-3 text-line-through text-price">{{ product.oldPrice }}</span>
            <span class="fw-semibold text-primary">-{{ product.discountPercentage }}%</span>
          </ion-text>
          <ion-text *ngIf="product.hasMinimumOrder" class="d-block mt-2 mb-2 text-sm">
            <span class="d-inline-block mr-2">{{ product.minimumOrder }} unidades
            </span>
            <span class="text-muted">(Pedido mín.)</span>
          </ion-text>
          <ion-text *ngIf="product.hasFreeDelivery" class="d-block mb-2">
            <div class="d-flex ion-align-items-center">
              <app-icon-truck></app-icon-truck>
              <span class="d-inline-block text text-sm text-muted ms-2">Envío gratis</span>
            </div>
          </ion-text>
          <div *ngIf="product.colors" class="product__colors">
            <div *ngFor="let color of product.colors" class="product__color" [style]="{backgroundColor: color.color}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin de productos destacados -->
  </div>
</ion-content>
