html {
    box-sizing: border-box;
  }

  button {
    background-color: transparent;
    margin: 0;
}

ion-toolbar {
  --background: var(--ion-toolbar-background, var(--ion-color-step-50));
  --min-height: 0px;
  --padding-top: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 24px;
}

@media (max-width: 320px) {
  ion-toolbar {
    --padding-top: 32px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 24px;
  }
}

img{
  margin-left:220px;
}

  ion-search {
  width: 10px;
   height: 40px;
   border-radius: 100px;
  }

  
  *,*::after,*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  // Container Page
  .container-home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--ion-background-color);
  }
  
  // Initial Header
  
  // End Header
  
  // Initial Slider Main
  .container-slider-main {
    margin: 0 16px;
  
    @media (min-width: 390px) {
      margin: 0 24px;
    }
  
    ion-img {
      width: 100%;
      min-height: 117px;
      border-radius: 20px;
      overflow: hidden;
    }
  }
  // End Slider Main
  
  // Initial Slider Items
  .container-slider-items {
    margin-left: 16px;
  
    @media (min-width: 390px) {
      margin-left: 24px;
    }
  
    .text-start {
      width: 80px;
    }
  
    ion-img {
      width: 72px;
      margin-bottom: 8px;
    }
  
    ion-slide {
      width: 72px;
      margin: 0 !important;
      padding-right: 16px;
  
      @media (min-width: 390px) {
        padding-right: 24px;
      }
    }
  
    ion-slides {
      max-height: 100px;
    }
  
    ion-text {
      font-size: 12px;
  
      @media (min-width: 390px) {
        font-size: 14px;
      }
    }
  }
  // End Slider ITems
  
  // Productos destacados
  .container-productos-destacados {
    padding: 0 16px;
  
    @media (min-width: 390px) {
      padding: 0 24px;
    }
  
    .products__product {
      margin-bottom: 16px;
  
      @media (min-width: 390px) {
        margin-bottom: 24px;
      }
    }
  
    .icon-truck path {
      stroke: red !important;
    }
  }
  // End Productos destacados
  
  .text-price {
    &::before {
      content: "S/";
    }
    &::after {
      content: ".00";
    }
  }
  
  // Remover el scroll del ion-content
  ion-content {
    // overwrite inline styles
    --offset-bottom: auto! important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  