
<ion-content [fullscreen]="true">
  
  <app-header
    title="Nueva contraseña"
  >
  </app-header>

  <form class="container-main" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="position-relative">
      <ion-item 
        lines="none" 
        class="form-group position-relative" 
        (ionFocus) = "checkFocus('password')" 
        (ionBlur)="checkBlur('password')"
        (ionChange) = "changeInputValue()"
      >
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input 
          type="password" 
          formControlName="password"
          #inputPassword
        >
        </ion-input>
        <ion-icon
          *ngIf="showFakeEye"
          class="feye"
          [name]="inputPasswordType === 'password' ? 'eye-off-outline' : 'eye-outline'"
          (click)="onChangeType('default')"
          slot="end"
          type="button"
        >
        </ion-icon>
        <app-validation-messages
          *ngIf="showTextHelperPassword"
          slot="error"
          [control]="form.get('password')"
        ></app-validation-messages>
      </ion-item>

      <ion-icon
          *ngIf="showTrueEye"
          class="eye"
          [name]="inputPasswordType === 'password' ? 'eye-off-outline' : 'eye-outline'"
          (click)="onChangeType('default')"
          slot="end"
          type="button"
      >
      </ion-icon>

    </div>

    <div class="position-relative">
      <ion-item 
        lines="none" 
        class="form-group position-relative item-confirm_password" 
        (ionFocus) = "checkFocus('passwordConfirmation')" 
        (ionBlur)="checkBlur('passwordConfirmation')"
        (ionChange) = "changeInputPasswordConfirmValue()"
        [ngClass]="{'confirm-error': equalPassword===false && inputConfirmHaveValue}"
      >
        <ion-label position="floating">Confirma tu nueva contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="password_confirmation"
          #inputPasswordConfirm
        ></ion-input>
        <ion-icon
          *ngIf="showFakeEye2"
          class="feye"
          [name]=" inputPasswordTypeConfirm === 'password' ? 'eye-off-outline' : 'eye-outline'"
          (click)="onChangeType('confirm')"
          slot="end"
          type="button"
        >
        </ion-icon>
      </ion-item>


      <ion-icon
          *ngIf="showTrueEye2"
          class="eye"
          [name]=" inputPasswordTypeConfirm === 'password' ? 'eye-off-outline' : 'eye-outline'"
          (click)="onChangeType('confirm')"
          slot="end"
          type="button"
      >
      </ion-icon>

    </div>

    <div 
      class="msg-error" 
      *ngIf="equalPassword===false 
            && showTextHelperPasswordConfirmation===true 
            && inputConfirmHaveValue"
      style="margin-top: 5px;"            
    >
      <ion-label class="d-block">Las contraseñas deben ser iguales</ion-label>
    </div>

    <div class="button-login-container">
      <ion-button (click)="onGoToLogin()" color="primary" size="small" fill="clear" class="ion-no-padding">
        <span class="fz-small disabled">Volver para iniciar sesión</span>
      </ion-button>
    </div>


    <ion-modal></ion-modal>
  </form>
</ion-content>


<ion-footer class="ion-no-border footer-ionic">
  <ion-toolbar class="ion-no-padding">
    <ion-button
      expand="block"
      color="primary"
      shape="round"
      [disabled]="form.invalid || equalPassword===false"
      (click)="onSubmit()"
      >Siguiente</ion-button
    >
  </ion-toolbar>
</ion-footer>


