
<ion-content [fullscreen]="true">
  
  <app-header
    title="Nueva contraseña"
  >
  </app-header>

  <form class="w-100 container-main" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item 
      lines="none" 
      class="form-group position-relative" 
      (ionFocus) = "checkFocus('password')" 
      (ionBlur)="checkBlur('password')"
      (ionChange) = "changeInputValue()"
    >
      <ion-label position="floating" class="text-muted">Nueva contraseña</ion-label>
      <ion-input 
        type="password" 
        formControlName="password"
        #inputPassword
      >
      </ion-input>
      <ion-icon
        *ngIf="inputPasswordType === 'password'"
        class="eye"
        name="eye-off-outline"
        (click)="onChangeType('default')"
      >
      </ion-icon>
      <ion-icon
        *ngIf="inputPasswordType === 'text'"
        class="eye"
        name="eye-outline"
        (click) = "onChangeType('default')"
      >
      </ion-icon>
      <app-validation-messages
        *ngIf="showTextHelperPassword"
        slot="error"
        [control]="form.get('password')"
      ></app-validation-messages>
    </ion-item>

    <ion-item 
      lines="none" 
      class="form-group position-relative item-confirm_password" 
      (ionFocus) = "checkFocus('passwordConfirmation')" 
      (ionBlur)="checkBlur('passwordConfirmation')"
      (ionChange) = "changeInputPasswordConfirmValue()"
      [ngClass]="{'confirm-error': equalPassword===false && inputConfirmHaveValue}"
    >
      <ion-label position="floating" class="text-muted">Confirma tu nueva contraseña</ion-label>
      <ion-input
        type="password"
        formControlName="password_confirmation"
        #inputPasswordConfirm
      ></ion-input>
      <ion-icon
        *ngIf="inputPasswordTypeConfirm === 'password'"
        class="eye"
        name="eye-off-outline"
        (click)="onChangeType('confirm')"
      >
      </ion-icon>
      <ion-icon
        *ngIf="inputPasswordTypeConfirm === 'text'"
        class="eye"
        name="eye-outline"
        (click) = "onChangeType('confirm')"
      >
      </ion-icon>
    </ion-item>

    <div 
      class="msg-error" 
      *ngIf="equalPassword===false 
            && showTextHelperPasswordConfirmation===true 
            && inputConfirmHaveValue"
      style="margin-top: 5px;"            
    >
      <ion-label class="d-block">Las contraseñas deben ser iguales</ion-label>
    </div>

    <div class="button-login-container">
      <ion-button (click)="onGoToLogin()" color="primary" size="small" fill="clear" class="ion-no-padding">
        <span class="fz-small disabled">Volver para iniciar sesión</span>
      </ion-button>
    </div>
  </form>
</ion-content>


<ion-footer class="ion-no-border footer-ionic">
  <ion-toolbar class="ion-no-padding">
    <ion-button
      expand="block"
      color="primary"
      shape="round"
      [disabled]="form.invalid || equalPassword===false"
      (click)="onSubmit()"
      >Siguiente</ion-button
    >
  </ion-toolbar>
</ion-footer>


