.button-login-container{
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 30px;
}

form {
    ion-item{
        --inner-padding-end: 0px !important;
        --padding-start: 0px !important;
        --border-width: 0px 0px 1px 0px !important;
        margin-inline: 16px;

        &::part(native) {
            padding-inline: 0px !important;
        }
    }

    .msg-error{
        color: #F44336;
        font-size: 12px;
        margin-right: 16px;
        margin-left: 16px;
    }
}


@media(min-width:390px){
    .button-login-container{
        margin-right: 24px;
        margin-left: 24px;
    }

    form {
        ion-item{
            margin-inline: 24px !important;
        }

        .msg-error{
            margin-left: 24px;
            margin-right: 24px;
        }
    }
}

.eye{
    position: absolute;
    right: 0;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}