ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    ion-toolbar {
        --padding-top: 16px !important;
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --padding-bottom: 24px !important;

        .header-container {
            .title {
                font-weight: bold;
            }
        }
    }
}

.login-container {
    width: 100%;
    height: calc(100% - ( var(--ion-safe-area-top) + 72px ));

    form {

        ion-button {
            margin-top: 5px;
            margin-right: 16px;
        }

        ion-input {
            --padding-bottom: 5px !important;
            --padding-top: 5px !important;
        }

        .text-end{
            ion-button{
                --background-activated: unset !important;
            }
        }
    }

}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9000;

    .toolbar{
        padding-right: 16px !important;
        padding-left: 16px !important;
        padding-bottom: 24px !important;

    }
}

ion-footer {

    .toolbar{
        padding-right: 16px !important;
        padding-left: 16px !important;
        padding-bottom: 24px !important;
        //  smargin-bottom: calc(var(--ion-safe-area-bottom,0) + 71.8px);
    }
}


.disabled {
    color: var(--ion-color-disabled);
}


@media(min-width:390px) {

    ion-header {
        ion-toolbar {
            --padding-top: 16px !important;
            --padding-start: 24px !important;
            --padding-end: 24px !important;
            --padding-bottom: 40px !important;
        }
    }


    .login-container {
        height: calc(100% - ( var(--ion-safe-area-top) + 88px ));

        form {
            ion-button {
                margin-right: 24px;
            }
        }
    }

    .footer{
        .toolbar{
            padding-right: 24px !important;
            padding-left: 24px !important;
        }
    }

    ion-footer {
        .toolbar{
            padding-left: 24px !important;
            padding-right: 24px !important;
        }
    }

}


.eye{
    position: absolute;
    right: 0;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
}