ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    ion-toolbar {
        --padding-top: 24px !important;
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --padding-bottom: 24px !important;

        .header-container {
            .title {
                font-weight: bold;
            }
        }
    }
}

.login-container {
    width: 100%;
    margin-bottom: 200px;

    form {
        ion-button {
            margin-top: 5px;
            margin-right: 16px;
        }

        ion-input {
            --padding-bottom: 5px !important;
            --padding-top: 5px !important;
        }
    }

}

ion-footer {
    // position: fixed;
    // bottom: 0;
    // z-index: 1000;
    margin-bottom: 68.8px;

    ion-toolbar{
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --padding-bottom: 24px !important;
    }
}


.disabled {
    color: var(--ion-color-disabled);
}


@media(min-width:390px) {

    ion-header {
        ion-toolbar {
            --padding-top: 24px !important;
            --padding-start: 24px !important;
            --padding-end: 24px !important;
            --padding-bottom: 40px !important;
        }
    }


    .login-container {
        form {
            ion-button {
                margin-right: 24px;
            }
        }
    }

    ion-footer {
        ion-toolbar{
            --padding-start: 24px !important;
            --padding-end: 24px !important;
        }
    }

}