.contenedor-detalles-entrega{

    max-width: 100%;
    // padding-right: calc(var(--ion-safe-area-right) + 24px) !important;
    // padding-left: calc( var(--ion-safe-area-left) + 24px) !important;
    padding-right: 24px !important;
    padding-left: 24px !important;


    >p{
        font-weight: bold;
        margin: 0;
        margin-bottom: 24px;
    }

    .contenedor-opciones{
        display: flex;
        justify-content: space-between;
    }

    .contenedor-opciones p{
        margin: 0;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        width: 83.33px;
        color: var(--ion-color-tipo-pedido);
    }

    .opcion{
        max-width: 100%;
        gap: 11px;
        border: 1px solid;
        border-color: var(--ion-color-tipo-pedido-border);
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
    }

    .opcion img{
        filter: var(--ion-color-tipo-pedido-filter);
    }

}

/* MEDIA QUERIES PARA INDUACRIL */
@media(max-width:320px){
    .contenedor-detalles-entrega{

        // padding-right: calc(var(--ion-safe-area-right) + 16px) !important;
        // padding-left: calc( var(--ion-safe-area-left) + 16px) !important;
        padding-right: 16px !important;
        padding-left: 16px !important;

        >p{
            font-size: 14px;
        }

        .contenedor-opciones p{
            width: 65.33px;
            white-space: nowrap;
        }

    }
}

.selected{
    border-color : var(--ion-color-primary);
    filter: var(--ion-color-primary-filter);

    p{
        color: var(--ion-color-primary) !important;
    }
}





