.contenedor-detalles-entrega{

    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;

    >p{
        font-weight: bold;
        margin: 0;
        margin-bottom: 24px;
    }

    .contenedor-opciones{
        display: flex;
        justify-content: space-between;
    }

    .contenedor-opciones p{
        margin: 0;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        width: 83.33px;
        color: var(--ion-color-tipo-pedido);
    }

    // @media(max-width:320px){
    //     .contenedor-opciones p{
    //         color: #00000099;
    //     }
    // }

    .opcion{
        max-width: 100%;
        gap: 11px;
        border: 1px solid;
        border-color: var(--ion-color-tipo-pedido-border);
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
    }

    .opcion img{
        filter: var(--ion-color-tipo-pedido-filter);
    }

}

/* MEDIA QUERIES PARA INDUACRIL */
@media(max-width:320px){
    .contenedor-detalles-entrega{

        padding-right: 16px;
        padding-left: 16px;

        >p{
            font-size: 14px;
        }

        .contenedor-opciones p{
            width: 65.33px;
            white-space: nowrap;
        }

    }
}

.selected{
    border-color : var(--ion-color-primary);
    filter: var(--ion-color-primary-filter);

    p{
        color: var(--ion-color-primary) !important;
    }
}


// .opcion:nth-child(1){

//     img{
//         filter: brightness(0) saturate(100%) invert(11%) sepia(76%) saturate(7498%) hue-rotate(234deg) brightness(105%) contrast(110%);
//     }

//     border-color: #023AFF;

//     p{
//         color: #023AFF;
//     }

// }




