<ion-content class="ion-content-var">
  <div class="container-welcome">
    <div class="image">
      <div class="logo"></div>
    </div>
    <div class="footer">
      <h2 class="title">{{ contenido.title }}</h2>
      <span class="sub-title">{{ contenido.subTitle }}</span>
      <div class="flags">
        <div
          class="item"
          *ngFor="let country of countries"
          (click)="selectedContry(country.id)"
        >
          <img src="{{country.flag}}" alt="{{country.name}}" />
          <span>{{ country.name }}</span>
          <div class="radio" [ngClass]="country.id">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="8"
              viewBox="0 0 12 8"
              fill="none"
            ><path d="M1 3.72727L4.46138 6.93695C4.49973 6.97251 4.55902 6.97252 4.59737 6.93695L11 1" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
          </div>
        </div>
        <button
          [ngClass]="statusButton? 'ion-button disabled': 'ion-button'"
          (click)="navigateToWheAreYou()"
          type="button"
          [disabled]="statusButton"
        > {{ contenido.button }} </button>
      </div>
    </div>
  </div>
</ion-content>
