.container-welcome {
  width: 100%;
  height: 100vh;
  background-color: var(--ion-background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: var(--ion--safe-area-top);
  padding-bottom: var(--ion--safe-area-bottom);
}

.container-image {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 275px;
  }
}

.container-footer{
  width: 100%;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;

  @media (min-width: 390px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-footer .title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 14px 0;
  color: var(--ion-color-basic);
}

.container-footer .sub-title {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 29px;
  color: var(--ion-color-text-secundary);
}

.container-flags {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--ion-color-basic);

  @media (min-width: 390px) {
    gap: 32px;
  }
}

.container-flags--item {
  display: flex;
  align-items: center;
  gap: 16px;

  span {
    flex: 1;
    color: var(--ion-color-basic);
    font-size: 16px;
    font-weight: 400;
  }

  img {
    width: 24px;
    height: 17.14px;
  }
}

.container-flags--item .radio-contry {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;

  svg path {
    stroke: none;
  }

  &.active {
    border: 1px solid var(--ion-color-primary);
    background-color: var(--ion-color-primary);

    svg path {
      stroke: #fff;
    }
  }
}
