ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

ion-header {
  .search-input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 16px 24px 16px;
    background-color: var(--ion-background-color);

    @media (min-width: 390px) {
      padding: 16px 24px 40px 24px;
    }

    .input-container {
      flex: 1;
      position: relative;

      input {
        width: 100%;
        height: 36px;
        background-color: var(--card-background-secondary);
        color: var(--ion-color-disabled);
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 12px 8px 12px;
        padding-right: 4ch;
        border-radius: 100px;
      }
    }

    .input-clear {
      position: absolute;
      width: 16.4px;
      height: 36px;
      top: 0;
      right: 12px;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1000;

      icon-input-close {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input {
        width: 100%;
        padding: unset;
        background-color: transparent;
        color: transparent;
        position: absolute;
        z-index: 1000;
        user-select: none;
        cursor: default;
      }
    }
  }


}

ion-content {
  width: 100vw;
  height: 100vh;
  background-color: var(--ion-background-color);
}

.container-products {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--ion-background-color);

  @media (min-width: 390px) {
    padding: 0 24px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .products {
    width: 100%;
    padding: 16px;
    background-color: #191932;
    display: flex;
    gap: 16px;
    border-radius: 10px;

    .image {
      width: 55px;
      height: 72px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 4px;
    }

    .details {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .title {
      font-size: 14px;
      font-weight: 500;
      color: var(--ion-basic-color);

      @media (min-width: 390px) {
        font-size: 16px;
      }
    }

    .description {
      font-size: 12px;
      font-weight: 400px;
      color: var(--ion-color-text-secundary);

      @media (min-width: 390px) {
        font-size: 14px;
      }
    }
  }

  .search-header {
    display: flex;

    p {
      font-size: 14px;

      @media (min-width: 390px) {
        font-size: 16px;
      }
    }

    p:nth-child(1) {
      flex: 1;
      color: var(--ion-basic-color);
    }
    p:nth-child(2) {
      color: var(--ion-color-disabled);
    }
  }

  .search-history{
    display: flex;
    align-items: center;

    p:nth-child(1) {
      flex: 1;
      color: var(--ion-color-disabled);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;

      @media (min-width: 390px) {
        font-size: 16px;
      }
    }

    icon-delete-trash, icon-arrow {
      padding-left: 10px;
    }
  }

}

.icon-close {
  font-size: 24px;
  padding: 6px;
}

ion-header {
  padding-top: var(--ion-safe-area-top);
}
