.content-card {
  margin: 0px 16px;

  .target {
    border-radius: 10px;
    padding: 16px 10px;
    background: var(--ion-color-secondary-shade);

    .img {
      width: 22.45px;
      height: 14.16px;
    }
  }
}

ion-footer {
  position: fixed;
  bottom: 0;
  ion-toolbar {
    --border-width: 0px;
    --padding-top: 0px;
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-bottom: 0px;
  }
  ion-button {
    height: 40px !important;
    margin: 24px 0px 0px 0px;
  }
}


@media (min-width: 390px) {

  .content-card {
    margin: 0px 24px;
  }

  ion-footer {
    ion-button {
      height: 48px !important;
    }
  }
}
