// form {
//   position: 0 16px;
// }

// div ion-button {
//   width: 99%;
//   height: 48px;
//   padding: 0px;
// }

// ion-label span {
//   color: #023AFF;
// }

// div iom-label {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 150%;
//   letter-spacing: 0.15px;
// }

// ion-select {
//   --placeholder-color: black;
//   --placeholder-opacity: 1;
//   width: 100%;
// }

// ion-select::part(icon) {
//   opacity: 0;
//   position: relative;
//   top: 10px;
// }


// ion-textarea {
//   border: 1px solid var(--ion-color-disabled) !important;
//   padding-inline: 0;
// }

// ion-icon.icon {
//   color: gray;
//   position: relative;
//   top: 49px;
//   font-size: 14px;
//   left: 10px;
// }

// // ion-item ion-label {
// //   color: rgba(0, 0, 0, 0.6);
// //   position: relative;
// //   top: 5px;
// // }

// div.error {
//   color: red;
// }

// // Personalizado
// .form-complaints-book {
//   padding: 0 16px;

//   @media (min-width: 390px) {
//     padding: 0 24px;
//   }
// }

// .form-item {
//   &::part(native) {
//     -webkit-padding-start: 0;
//     padding-inline-start: 0;
//   }
// }

// text-area {
//   border: 1px solid var(--ion-color-basic);
// }

form {
  ion-item {
    --inner-padding-end: 0px !important;
  }
  ion-label {
    color: var(--ion-color-text-secundary);
  }
  ion-input {
    color: var(--ion-color-basic);
  }
  ion-textarea {
    border: 1px solid var(--ion-color-disabled);
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
  }
  ion-button {
    margin: 0;
  }
  .error {
    width: calc(100% - 32px);
    margin: 0 auto;

    @media (min-width: 390px) {
      width: calc(100% - 48px);
    }
    ion-label {
      color: #eb445a;
    }
  }
  .accept-policies {
    width: calc(100% - 32px);
    margin: 0 auto;

    @media (min-width: 390px) {
      width: calc(100% - 48px);
    }
  }
  .button-submit {
    width: calc(100% - 32px);
    margin: 0 auto;

    @media (min-width: 390px) {
      width: calc(100% - 48px);
    }

    ion-button {
      width: 100%;
    }

    ion-button[disabled] {
      --background: #E3EAFD;
    }
  }
}

.icon-arrow {
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 1000;

  path {
    stroke: var(--ion-color-disabled);
  }
}
