ion-content {
  --background: var(--ion-background-color);
}

form {
  ion-item {
    --inner-padding-end: 0px !important;
  }
  ion-label {
    color: var(--ion-color-text-secundary);
  }
  ion-input {
    color: var(--ion-color-basic);
  }
  ion-textarea {
    border: 1px solid var(--ion-color-disabled);
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
  }
  ion-button {
    margin: 0;
  }
  .error {
    width: calc(100% - 32px);
    margin: 0 auto;

    @media (min-width: 390px) {
      width: calc(100% - 48px);
    }
    ion-label {
      color: #eb445a;
    }
  }
  .accept-policies {
    width: calc(100% - 32px);
    margin: 0 auto;

    @media (min-width: 390px) {
      width: calc(100% - 48px);
    }
  }
  .button-submit {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: calc(var(--ion-padding-bottom) + var(--ion-safe-area-bottom));

    @media (min-width: 390px) {
      width: calc(100% - 48px);
    }

    ion-button {
      width: 100%;
    }

    ion-button[disabled] {
      --background: #E3EAFD;
    }
  }
}

.icon-arrow {
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 1000;

  path {
    stroke: var(--ion-color-disabled);
  }
}

.header-basic{
  box-sizing: border-box;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: calc(var(--ion-safe-area-top) + 16px) !important;
}

.container-form {
  padding-top: 10px;

  @media (min-width: 390px) {
    padding-top: 26px;
  }
}
