.options{
    padding-right: 52px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    .card{
        padding: 4px 46px;
        margin-right: 32px;
        border: 0px;
        background: var(--ion-color-secondary-shade);
    }
    .other{
        padding: 4px 31px 4px 10px; 
    }
}
.cards{
    margin: 0px 24px 0px 24px;
    ion-item::part(native){ 
        padding: 16px 0px 16px 10px;
        border-radius: 10px;
        background: var(--ion-color-secondary-shade);
    } 
    ion-item{
        margin-top: 24px;
        --inner-padding-end: 0px !important;
        ion-checkbox{
            --size: 20px;
            margin: 0px;
            --background: var(--ion-color-secondary-shade);
        }   
        ion-thumbnail{
            padding: 9.84px 0px;
            margin: 0px 12px ;
        }
        #delete{
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }
}

ion-footer{
    position: fixed;
    bottom: 0;
    ion-toolbar{
      --border-width: 0px;
      --padding-top: 0px;
      --padding-start: 24px;
      --padding-end: 24px;
      --padding-bottom: 0px
    }
    ion-button{
        height: 48px;
        margin: 0px 0px 24px 0px;
    }
}