<div class="cards">
  <ion-list>
    <ion-item lines="none" detail="false" *ngFor="let payment of paymentData">
      <div>
        <img src="/assets/icons/card-visa.svg" id="card-visa">
        <ion-label class="txt ion-text-wrap fz-normal">
          Visa Débito *** 4115
        </ion-label>

        <ion-checkbox
        mode="ios" slot="start"
        [(ngModel)]="payment.selected"
        (ngModelChange)="checkBoxSelect(payment.id)"
        >
        </ion-checkbox>
      </div>
      <img (click)="delete(payment.id)"
            id="delete" 
            src="/assets/icons/icon-delete.svg" alt="delete">
    </ion-item>
  </ion-list>
</div>
  
<app-modal-delete
  titleModalDelete="¿Seguro que quieres eliminar la tarjeta?"
  [modalIsVisible]="modalIsVisible"
  (onModalNotVisible)="closeModal()"
>
</app-modal-delete>

