<div class="cards">
  <ion-list>
    <ion-item lines="none" detail="false" *ngFor="let payment of paymentData">
      <ion-checkbox
        mode="ios" slot="start"
        [(ngModel)]="payment.selected"
        (ngModelChange)="checkBoxSelect(payment.id)"
      >
      </ion-checkbox>
      <ion-thumbnail slot="start">
        <img src="/assets/icons/card-visa.svg" alt="card-visa">
      </ion-thumbnail>
      <ion-label>
        Visa Débito *** 4115
      </ion-label>
      <img (click)="delete(payment.id)" id="delete" src="/assets/icons/icon-delete.svg" alt="delete">
      <a></a>
    </ion-item>
  </ion-list>
</div>
  
<app-modal-delete
  titleModalDelete="¿Seguro que quieres eliminar la tarjeta?"
  [modalIsVisible]="modalIsVisible"
  (onModalNotVisible)="closeModal()"
>
</app-modal-delete>

