ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

ion-header {
  .search-input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 16px 36px 16px;
    background-color: var(--ion-background-color);

    @media (min-width: 390px) {
      padding: 16px 24px 36px 24px;
    }

    .input-container {
      flex: 1;
      position: relative;

      input {
        width: 100%;
        height: 36px;
        background-color: #191932;
        color: #FFFFFF66;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 12px 8px 12px;
        padding-right: 4ch;
        border-radius: 100px;
      }
    }
  }

  .search-filter {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 16px 24px 16px;
    background-color: var(--ion-background-color);

    @media (min-width: 390px) {
      padding: 16px 24px 24px 24px;
    }

    p {
      flex: 1;
    }

    icon-filter {
      padding-left: 10px;
    }
  }
}

ion-content {
  position: relative;
}

app-featured {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
}

ion-header {
  padding-top: var(--ion-safe-area-top);
}