<ion-content>
  <!--  <app-header
  title="¿Quien recibirá la compra?"
  iconLeft="icon-arrow-left"
  backDirection="contact">

</app-header> -->
 <ion-header class="ion-no-border">

  <ion-toolbar>
      <button
          (click)="goBack()"
          slot="start">
            <svg class="back" width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 12.2744L17 12.2744" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8.0498 18.299L1.9998 12.275L8.0498 6.25" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      </button>

      <ion-title>¿Quién recibirá la compra?</ion-title>

  </ion-toolbar>

</ion-header>

<form
  class="w-100 container-main"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>

 <!-- input Nombre -->
<ion-item lines="none" class="form-group ci" (ionFocus)="checkFocus('name')" (ionBlur)="checkBlur('name',false)">
  <ion-label position="floating" class="disabled">Nombre</ion-label>
  <ion-input formControlName="name"></ion-input>
  <app-validation-messages *ngIf="showTextHelperName" slot="error"
    [control]="form.get('name')"></app-validation-messages>
</ion-item>

 <!-- input Surnames-->
<ion-item lines="none" class="form-group ci" (ionFocus)="checkFocus('surnames')" (ionBlur)="checkBlur('surnames',false)">
  <ion-label position="floating" class="disabled">Apellidos</ion-label>
  <ion-input formControlName="surnames"></ion-input>
  <app-validation-messages *ngIf="showTextHelpersurNames" slot="error"
    [control]="form.get('surnames')"></app-validation-messages>
</ion-item>
<!--End input surnames-->

 <!-- input Roles -->
<ion-item lines="none" class="form-group ci" (ionFocus)="checkFocus('post')" (ionBlur)="checkBlur('post',false)">
  <ion-label position="floating" class="disabled">Cargo</ion-label>
  <ion-input formControlName="post"></ion-input>
  <app-validation-messages *ngIf="showTextHelperPost" slot="error"
    [control]="form.get('post')"></app-validation-messages>
</ion-item>

 <!-- input email -->
 <ion-item lines="none" class="form-group ci" (ionFocus)="checkFocus('email')" (ionBlur)="checkBlur('email',false)">
  <ion-label position="floating" class="disabled">Correo electrónico</ion-label>
  <ion-input formControlName="email" inputmode="email" type="email"></ion-input>
  <app-validation-messages *ngIf="showTextHelperEmail" slot="error"
    [control]="form.get('email')"></app-validation-messages>
  </ion-item>


 <!--End type doc-->
<ion-item lines="none" class="form-group ci" style="position: relative;"
 (click)="openDocument(); $event.stopPropagation()">
 <ion-label position="floating" >
  Documento de identificación
 </ion-label>
 <ion-input
   formControlName="document"
   readonly="true"
 ></ion-input>
 <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 16 16" fill="none">
   <path d="M9.66675 12.6654L14.3334 7.9987L9.66675 3.33203" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
 </svg>
</ion-item>

     <ion-item lines="none" class="form-group ci">
        <ion-label position="floating" >
          Número de documento
        </ion-label>
        <ion-input  type="tel"></ion-input>
      </ion-item>



 <!-- input phone -->
 <div class="d-flex flex-column" style="margin-top: 15px;">
  <div class="label-input-container">
    <ion-label
      [ngClass]="{'input-phone-unselect': focusInputPhone===false,
                  'input-phone-select': focusInputPhone===true,
                  'label-default': countryBorderColorState==='default',
                  'label-correct' : countryBorderColorState==='correct',
                  'label-error' : countryBorderColorState==='error'}"
      >Teléfono
    </ion-label>
  </div>
  <div class="country-select-container d-flex">
    <div
      class="country d-flex justify-content-start align-items-center"
      [ngClass]="{'country-default': countryBorderColorState==='default',
                  'country-correct' : countryBorderColorState==='correct',
                  'country-error' : countryBorderColorState==='error',
                  'width-two-digits': infoContry.codePhone.length===2,
                  'width-three-digits': infoContry.codePhone.length>2}"
       (click)="onGoToCountrySelect()"
      >
      <img [src]="infoContry.flag" width="24px"/>
      <ion-label>+{{infoContry.codePhone}}</ion-label>
    </div>
    <ion-item lines="none" class="form-group item-country" (ionBlur)="checkBlur('phone',true)" (ionFocus)="checkFocus('phone')">
      <ion-input #inputPhone class="ion-text-left input-phone" formControlName="movil" inputmode="numeric" type="tel"
        maxlength="11" mask="*** *** ***" (ionChange) = "changeValueInputPhone()">
      </ion-input>
      <app-validation-messages *ngIf="showTextHelperPhone" slot="error"
        [control]="form.get('movil')"></app-validation-messages>
    </ion-item>
  </div>
</div><!--End input phone-->

</form>

</ion-content>

<ion-footer class="ion-no-border footer-ionic">

  <ion-toolbar class="ion-no-padding">
    <div class="text-center">
      <ion-button expand="block" color="primary" shape="round" [disabled]="form.invalid"
        type="submit" style="margin: 0px;"
        (click)="onSubmit()"
      >Confirmar</ion-button>
    </div>
  </ion-toolbar>


</ion-footer>

<app-popup-document
  *ngIf="popupDocument"
  [popupDocument]="popupDocument"
  (changeStatusPopupDocument)="changeStatusPopupDocument($event)"
  (changeDocumentForm)="changeDocumentForm($event)"
></app-popup-document>
<!-- <app-popup-document
  *ngIf="popupDocumentType"
  ></app-popup-document>
 -->
