button {
  background-color: transparent;
}

ion-toolbar {
  --background: var(--ion-toolbar-background, var(--ion-color-step-50));
  --min-height: 0px;
  --padding-top: 56px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 40px
}

@media(max-width:320px) {
  ion-toolbar {
    --padding-top: 32px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 24px
  }
}

ion-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

ion-label {
  font-size: 15px;
}

ion-content {
  // Eliminar scroll de la
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  margin: 0px 24px 0px 24px;
}

ion-button {
  // --ion-color-primary: #023AFF;
  // &.ion-color-primary {
  //   &.button-disabled {
  //     &::part(native) {
  //       background-color: #E3EAFD!important;
  //       color: #95A8C5;
  //     }
  //   }
  // }
}


ion-item::part(native) {
  padding-inline-end: 24px
}

.l-telefono {
  color: #00000061;
}

ion-footer {

  ion-toolbar {
    --border-width: 0px !important;
    --padding-top: 0px !important;
    --padding-start: 24px !important;
    --padding-end: 24px !important;
    --padding-bottom: 48px !important;
  }
}