.coupon-container {
    font-family: var(--ion-font-family);
    padding-left:  16px !important;
    padding-right:  16px !important;


    .coupon-input_container {
        position: relative;

        ion-item {
            --padding-start: 0px !important;
            --inner-padding-end: 0px !important;

            &::part(native) {
                padding-inline-end: 0px !important;
                padding-inline-start: 0px !important;
                border-radius: 8px;
            }

            .coupon-input {
                --background: var(--ion-color-secondary-shade);
                --padding-end: 12px;
                --padding-start: 12px;
                --placeholder-color: var(--ion-color-disabled);
            }

            .coupon-button {
                --padding-end: 12px !important;
                --padding-start: 0px !important;
                --background-activated: unset !important;
                font-size: 12px;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
            }
        }

    }

    .coupon-option_container {
        margin-top: 20px;
        gap: 24px;

        ion-button {
            color: var(--ion-color-disabled);
            --background-activated: unset
        }
    }

    // .coupon-list_container {
    //     margin-top: 20px;
    //     margin-bottom: 64px;
    //     gap: 24px;

    //     .coupon {
    //         gap: 8px;
    //     }

    //     .coupon_code {
    //         color: var(--ion-color-text-secundary);
    //     }

    //     .coupon_expiration {
    //         img {
    //             filter: var(--ion-color-dark-filter);
    //             width: fit-content;
    //             height: fit-content;
    //         }

    //         ion-label {
    //             color: var(--ion-color-text-secundary);

    //             span {
    //                 font-weight: 500;
    //             }
    //         }
    //     }

    //     .coupon_conditions {
    //         ion-label {
    //             color: var(--ion-color-text-secundary);
    //             cursor: pointer;
    //         }
    //     }
    // }
}

.selected{
    color: var(--ion-color-basic) !important;
}

@media(min-width:390px) {
    .coupon-container {
        padding-left:  24px !important;
        padding-right:  24px !important;
    }
}