<ion-content>

  <!-- Header component -->
  <app-header
      iconLeft="icon-arrow-left"
      backDirection="collaborative-basket"
      title="Mi pedido"
  >
  </app-header>


  <!-- order type component -->
  <app-order-type></app-order-type>
  

  <!-- Main -->
  <div class="main d-flex flex-column">

      <!-- order details component -->
      <app-order-details></app-order-details>
      <!-- Métodos de pago -->
      <div class="contenedor-metodos-pago">
          <ion-label>Métodos de pago</ion-label>
          <div class="metodos-pago d-flex justify-content-between align-items-center" (click)="onGoToPayMethods()">
              <div class="metodos-pago-vacio d-flex align-items-center">
                  <img [src]="payMethod.icon" [ngClass]="{ 'metodos-pago-vacio-img': payMethod.number.length===0 }"/>
                  <ion-label [ngClass]="{ 'metodos-pago_primary': payMethod.number.length===0 }">
                    {{payMethod.type}} <span>{{payMethod.number}}</span>
                  </ion-label>
              </div>
              <img src="/assets/icons/icon-arrow-right.svg" />
          </div>
          
          <!-- Cupón -->
          <div 
            class="contenedor-cupon d-flex justify-content-center align-items-center"
            (click)="onGoToCoupons()"
          >
              <img src="/assets/icons/icon-ticket.svg">
              <ion-label>{{coupon.code}}</ion-label>
          </div>
      </div>

      <!-- order summary component -->
      <app-order-summary></app-order-summary>

      <!-- Datos de facturacion -->
      <div class="contenedor-datos-facturacion d-flex flex-column">
          <ion-label>Datos de facturación</ion-label>
          <div 
            class="datos-facturacion d-flex justify-content-between align-items-center"
            (click)="onGoToBillingData()"
            style="cursor: pointer;"
          >
            <ion-label *ngIf="bill.name.length===0">Agrega tu compañía</ion-label>
            <div *ngIf="bill.name.length>0" class="d-flex flex-column bill">
              <ion-label class="bill-name">{{bill.name}}</ion-label>
              <div class="d-flex align-items-center" style="gap: 8px;">
                <ion-label class="bill-code">{{bill.code}}</ion-label>
                <ion-label class="bill-type fz-note" color="primary">{{bill.type}}</ion-label>
              </div>
            </div>
            <img src="/assets/icons/icon-arrow-right.svg"/>
          </div>
      </div>

      <!-- slider products component -->
      <app-slider-products></app-slider-products>
      
  </div>

</ion-content>

<!-- footer component -->
<app-footer></app-footer>
