
.main{
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 32px;
    gap: 32px;
}


/** METODOS DE PAGO**/
.contenedor-metodos-pago{

    > ion-label{
        font-size: 16px;
        font-weight: bold;
    }

    .metodos-pago_primary{
        color: var(--ion-color-primary);
    }

    .metodos-pago{
        cursor: pointer;
        margin-top: 24px;

        .metodos-pago-vacio{
            gap: 8.75px;
            

            >img{
                filter: var(--ion-color-primary-filter);
            }
        }

        >img{
            filter: var(--ion-color-light-filter);
            width: 8.17px;
            height: 14px;
        }
    }

}

/** CUPÓN **/
.contenedor-cupon{
    width: 242px;
    margin: 0 auto;
    gap: 7px;
    padding: 12px 0px; 
    background-color: var(--ion-background-secondary);
    border-radius: 20px;
    margin-top: 32px;
    cursor: pointer;

    ion-label{
        color: var(--ion-textPrimary-color);
        white-space: nowrap;
    }

    img{
        filter: var(--ion-color-dark-filter);
    }
}

/** Datos de facturación **/
.contenedor-datos-facturacion{

    gap: 8px;

    >ion-label{
        font-weight: bold;
        color: var(--ion-textPrimary-color);
    }

    .datos-facturacion{

        color: var(--ion-color-light);

        >img{
            filter: var(--ion-color-light-filter);
            width: 8.17px;
            height: 14px;
        }
    }

    
}


//MEDIA QUERIES PARA INDUACRIL
@media(max-width:320px){

    .main{
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px;
        gap: 40px;

        ion-label{
            font-size: 14px !important;
        }
    }
    
    .contenedor-metodos-pago{

        .metodos-pago{
            margin-top: 14px;
        }

        .metodos-pago .d-flex img{
            height: 15.42px !important;
        }

    }

    .contenedor-cupon{
        width: 145px;
        padding-right: 24px;
        padding-left: 24px;
        margin-top: 16px;

        ion-label{
            font-size: 12px !important;
        }

        img{
            height: 8px;
            width: 10px;
        }
    }

    .contenedor-datos-facturacion{
        .datos-facturacion{
            margin-top: 8px;
        }
    }
}

ion-modal {
    &.modal-alert {
        --height: fit-content;
        --border-radius: 10px;
    }

    &::part(content) {
        margin-right: 24px;
        margin-left: 24px;
    }

    --background: var(--ion-background-alert)
}