.confirm-order-container {
    //margin-bottom: 66px;
    margin-bottom: calc(var(--ion-safe-area-bottom, 0) + 66px);

    .main {
        max-width: 100%;
        padding-right: 16px !important;
        padding-left: 16px !important;
        padding-top: 32px !important;
        gap: 32px;

        /** METODOS DE PAGO**/
        .contenedor-metodos-pago {

            >ion-label {
                font-size: 16px;
                font-weight: bold;
            }

            .metodos-pago_primary {
                color: var(--ion-color-primary);
            }

            .metodos-pago-vacio-img {
                filter: var(--ion-color-primary-filter);
            }

            .metodos-pago_only-text {
                color: var(--ion-color-basic) !important;
            }


            .metodos-pago {
                cursor: pointer;
                margin-top: 24px;

                .metodos-pago-vacio {
                    gap: 8.75px;
                }

                >img {
                    filter: var(--ion-color-light-filter);
                    width: 8.17px;
                    height: 14px;
                }
            }

        }

        /** CUPÓN **/
        .contenedor-cupon {
            width: 242px;
            margin: 0 auto;
            gap: 7px;
            padding: 12px 0px;
            background-color: var(--ion-background-secondary);
            border-radius: 20px;
            margin-top: 32px;
            cursor: pointer;

            ion-label {
                color: var(--ion-textPrimary-color);
                white-space: nowrap;
            }

            img {
                filter: var(--ion-color-dark-filter);
            }
        }

        /** Datos de facturación **/
        .contenedor-datos-facturacion {

            gap: 8px;

            >ion-label {
                font-weight: bold;
                color: var(--ion-textPrimary-color);
            }

            .datos-facturacion {

                color: var(--ion-color-light);

                >img {
                    filter: var(--ion-color-light-filter);
                    width: 8.17px;
                    height: 14px;
                }

                .bill {
                    gap: 10px;

                    .bill-name {
                        color: var(--ion-color-basic);
                    }

                    .bill-code {
                        color: var(--ion-color-text-secundary);
                    }

                    .bill-type {
                        padding: 2px 4px;
                        background-color: var(--ion-color-secondary);
                        border-radius: 4px;
                    }
                }

            }
        }

    }
}

@media(min-width:390px) {
    .confirm-order-container {
        .main {
            padding-right: 24px !important;
            padding-left: 24px !important;
        }
    }
}

//MEDIA QUERIES PARA INDUACRIL
@media(max-width:320px) {

    .confirm-order-container {
        margin-bottom: 76px;

        .main {
            padding-top: 16px !important;
            gap: 40px;

            ion-label {
                font-size: 14px !important;
            }

            .contenedor-metodos-pago {

                .metodos-pago {
                    margin-top: 14px;
                }

                .metodos-pago .d-flex img {
                    height: 15.42px !important;
                }

            }

            .contenedor-cupon {
                width: 145px;
                padding-right: 24px;
                padding-left: 24px;
                margin-top: 16px;

                ion-label {
                    font-size: 12px !important;
                }

                img {
                    height: 8px;
                    width: 10px;
                }
            }

            .contenedor-datos-facturacion {
                .datos-facturacion {
                    margin-top: 8px;
                }
            }
        }
    }

}