/* HEADER */
.chat-header {
  padding: 16px 16px 14px 16px;
  background-color:var(--ion-background-color);
}

.chat-ion-toolbar {
  height: 32px;
}

.content-title {
  flex: 1;
  gap: 8px;
  .content-title__name {
    h2 {
      color: var(--ion-color-basic);
    }
  }
}

.icono{
  width: 22px;
  height: 19px;
  circle {
    fill: var(--ion-color-group);
  }
}

@media (min-width: 390px) {
  .chat-header {
    padding: 16px 24px 14px 24px;
  }

}

