p{
    margin: 0;
    padding: 0;
}


ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


    ion-toolbar {
        --padding-top: 16px !important;
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --padding-bottom: 14px !important;


        .header-container {
            button {
                background-color: transparent;

                &.button-left {
                    filter: var(--ion-color-dark-filter);
                }

                &.button-right{
                    filter: var(--ion-color-dark-filter);
                }
            }

            .title {
                font-weight: bold;
            }

            ion-searchbar{
                padding-inline-start: 0px !important;
                padding-inline-end: 0px !important;
                padding-bottom: 0px;
                --border-radius: 20px;
                --background: var(--ion-background-search);
            }
        }
    }
}

cdk-virtual-scroll-viewport{
    height: calc(100%);
    width: 100%;
}


.contacts-container{
    //margin-top: var(--ion-safe-area-top,0);
    display: flex;
    flex-direction: column;
    gap: 24px;

    .contact{

        &:active{
            --background: var(--ion-background-hover-selected);
        }
        
        // --inner-padding-start : 0px !important;
        --inner-padding-end: 0px !important;

        // &::part(native){
        //     padding-inline-end: 0px !important;
        //     padding-inline-start: 0px !important;
        // }

        .phone{
            font-size: 14px;
            color: var(--ion-color-disabled);
        }

        ion-checkbox{
            margin-inline: 0px !important;
        }
    }
    
}

.header-normal{
    gap: unset;
}

.header-search{
    gap: 17px;
}

ion-footer{
    position: fixed;
    bottom: 0;
    width: 30%;
    right: 0;

    .icon-plus-contact {
        width: 64px;
        height: 64px;
    }
}


@media(min-width: 390px){
    .icon-plus{
        margin-right: 24px;
    }

    ion-header {
        ion-toolbar {
            --padding-start: 24px !important;
            --padding-end: 24px !important;
        }
    }
}