p{
    margin: 0;
    padding: 0;
}


ion-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


    ion-toolbar {
        --padding-top: 16px !important;
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --padding-bottom: 24px !important;


        .header-container {
            button {
                background-color: transparent;

                &.button-left {
                    filter: var(--ion-color-dark-filter);
                }

                &.button-right{
                    filter: var(--ion-color-dark-filter);
                }
            }

            .title {
                font-weight: bold;
            }

            ion-searchbar{
                padding-inline-start: 0px !important;
                padding-inline-end: 0px !important;
                padding-bottom: 0px;
                --border-radius: 20px;
                --background: var(--ion-background-search);
            }
        }
    }
}


.contacts-container{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: calc( var(--ion-safe-area-bottom,0) + 16px );

    .contact{
        --inner-padding-start : 0px !important;
        --inner-padding-end: 0px !important;

        &::part(native){
            padding-inline-end: 0px !important;
            padding-inline-start: 0px !important;
        }

        .phone{
            font-size: 14px;
            color: var(--ion-color-disabled);
        }

        ion-checkbox{
            margin-inline: 0px !important;
        }
    }
    
}


.icon-plus-contact {
    width: 64px;
    height: 64px;
    position: fixed;
    right: 0px;
    bottom: calc( var(--ion-safe-area-bottom,0) + 16px);
    margin-right: 16px;
    //margin-bottom: calc( var(--ion-safe-area-bottom,0) + 16px);
    //margin-bottom: calc(16px);
    z-index: 1000;
}

.header-normal{
    gap: unset;
}

.header-search{
    gap: 17px;
}


@media(min-width: 390px){
    .contacts-container{
        padding-left: 24px;
        padding-right: 24px;
    }

    .icon-plus{
        margin-right: 24px;
    }

    ion-header {
        ion-toolbar {
            --padding-top: 16px !important;
            --padding-start: 24px !important;
            --padding-end: 24px !important;
            --padding-bottom: 40px !important;
        }
    }
}