<ion-content>

  <ion-header class="ion-no-border">

    <ion-toolbar>
        
        <div 
          class="header-container d-flex justify-content-between align-items-center"
          [ngClass]="{'header-normal': headerContent==='normal',
                      'header-search' : headerContent==='search'}"
        >
          <button
            class="button-left"
            (click)="goBack()"
          >
            <img 
              src = "/assets/icons/icon-arrow-left.svg" 
              style="width: 17px;" 
              [ngStyle]="{'width': headerContent === 'normal' ? '17px' : '18.89px'}"
            />
          </button>
    
          <div class="title" *ngIf="headerContent==='normal'">
            <ion-label>Contactos</ion-label>
          </div>
  
          <button
            class="button-right"
            *ngIf="headerContent==='normal'"
            (click)="showSearch()"
            style="width: 17.68px;"

          >
            <img src = "/assets/icons/icon-search.svg"/>
          </button>

          <ion-searchbar
            #searchBar
            slot="end"
            placeholder="Buscar"
            show-clear-button="never"
            *ngIf="headerContent==='search'"
            [debounce]="500" 
            (ionChange)="handleChange($event)"
          >
          </ion-searchbar>
        </div>
  
    </ion-toolbar>
  
  </ion-header>

  <div class="container-main">

    <!-- Ejemplo sin usar ion-item -->
    <!-- <div class="d-flex flex-column contact" *ngFor="let contact of contacts">
      <p class="name">{{contact?.name?.display}}</p>
      <div class="d-flex flex-column" *ngFor="let phone of contact?.phones">
        <p class="phone">{{phone?.number}}</p>
      </div>

    </div> -->

    <!-- Ejemplo de como se ve al traer los contactos -->
    <!-- <div class="contacts-container">
      <ion-item class="contact" lines="none" *ngFor="let contact of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]" (click)="goToAddCompany(contact)">
        <div class="d-flex flex-column">
          <p class="name">Pedro gutierrez</p>
          <div class="d-flex flex-column" *ngFor="let phone of [1,1,1]">
            <p class="phone">123123123</p>
          </div>
        </div>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </div> -->

    <div class="contacts-container margin-foooter-ionic">
      <ion-item class="contact" lines="none" *ngFor="let contact of contactsResults" (click)="goToAddCompany(contact)">
        <div class="d-flex flex-column" style="gap: 4px;">
          <p class="name">{{contact?.name?.display}}</p>
          <div class="d-flex flex-column" *ngFor="let phone of contact?.phones">
            <p class="phone">{{phone?.number}}</p>
          </div>
        </div>
        <ion-icon name="checkmark-outline" color="primary" slot="end" *ngIf="contact.selected"></ion-icon>
      </ion-item>
    </div>
   
  </div>

</ion-content>

<!-- Footer -->
<ion-footer class="ion-no-border ion-no-padding footer-ionic">
  <ion-toolbar class="ion-no-padding">
    <div class="d-flex justify-content-end">
      <img
        *ngIf="showButtonPlus"
        class="icon-plus-contact" 
        (click)="goToSetContact()"
        src="assets/collaborative-basquet/Plus-circle.svg"
      />
    </div>
  </ion-toolbar>
</ion-footer>