
.main{
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    gap: 32px;
}


/** METODOS DE PAGO**/
.contenedor-metodos-pago{

    > ion-label{
        font-size: 16px;
        font-weight: bold;
        color: var(--ion-textPrimary-color);
    }

    .metodos{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .d-flex{
            gap: 8.75px;
            align-items: center;
            color: var(--ion-color-primary);
        }

        >img{
            filter: var(--ion-arrowRightFilter-color);
            width: 8.17px;
            height: 14px;
        }
    }


    .metodos .d-flex img{
        filter: var(--ion-filter-primary);
    }
}

/** CUPÓN **/
.contenedor-cupon{
    width: 242px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 12px 0px; 
    background-color: var(--ion-cuponBg-color);
    border-radius: 20px;
    margin-top: 32px;
    cursor: pointer;

    ion-label{
        color: var(--ion-textPrimary-color);
        white-space: nowrap;
    }

    img{
        filter: var(--ion-filterTicket-color);
    }
}

/** Datos de facturación **/
.contenedor-datos-facturacion{

    display: flex;
    flex-direction: column;
    gap: 8px;

    >ion-label{
        font-weight: bold;
        color: var(--ion-textPrimary-color);
    }

    .datos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--ion-textLight-color);

        img{
            filter: var(--ion-arrowRightFilter-color);
            width: 8.17px;
            height: 14px;
        }
    }

    
}


//MEDIA QUERIES PARA INDUACRIL
@media(max-width:320px){

    .main{
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 16px;
        gap: 40px;

        ion-label{
            font-size: 14px !important;
        }
    }
    
    .contenedor-metodos-pago{

        .metodos{
            margin-top: 14px;
        }

        .metodos .d-flex img{
            height: 15.42px !important;
        }

    }

    .contenedor-cupon{
        width: 145px;
        padding-right: 24px;
        padding-left: 24px;
        margin-top: 16px;

        ion-label{
            font-size: 12px !important;
        }

        img{
            height: 8px;
            width: 10px;
        }
    }

    .contenedor-datos-facturacion{
        .datos{
            margin-top: 8px;
        }
    }
}