.mt-4{
  margin-top: 0px !important;
  margin-bottom: 0px;
  gap: 16px;
}

.a-right{
  cursor: pointer;
  filter: var(--ion-color-light-filter);
  width: 8.17px;
  height: 14px;
}

.swiper-slide {
  width: fit-content;
  height: fit-content;
  ion-img{
  width: 48px;
  height: 63px;
  }
}


