ion-button {
    --background:var(--ion-color-secondary-shade) !important;
}

.caracter {
    width:55px;
    height:72px;
    margin:0 16px;
}

ion-searchbar {
    margin: 24px;
    padding: 0px;
    width: 300px;
   height: 36px;
   border-radius: 100px;
}

.medidas {
    margin: 30px 23px 0px 0px;
    padding: 0px;
    filter:var(--ion-color-light-filter);

}
button {
    background-color: transparent;
    margin: 0;
}


h3 {
    text-align: justify;
    font-weight: bold;
    vertical-align: text-top;  
    
}

ion-label {
    white-space: normal !important;
    text-align: left ;
}

.relleno {
    margin: 0px 24px 0px 24px;
    height: 108px !important;
    width: 342px !important;
    --border-radius: 10px;
}

.header-catalogue{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    //padding-top: var(--ion-safe-area-top);
}