<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Filtro</ion-title>
    <button (click)="goBack()" slot="end">
      <img src="/assets/icons/icon-close.svg" />
    </button>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <ion-label>
      Tamaño
    </ion-label>
    <img (click)="open()" src="/assets/icons/icon-arrow-abajo.svg" />
  </ion-item>
  <div class="filter-container" [ngClass]="{'show':showFilter===true,
'close':showFilter===false}">
  <div  class="contenedor-detalles-entrega">
    <ion-item lines="none">
      <div class="contenedor-opciones">
        <div id="27" class="opcion selected" (click)="onSelect('27')">
          <p>200 x 150 cm</p>
        </div>
        <div id="28" class="opcion notSelected" (click)="onSelect('28')">
          <p>244 x 122 cm</p>
        </div> </div>
    </ion-item>
    <ion-item lines="none">
      <div class="contenedor-opciones">
        <div id="27" class="opcion selected" (click)="onSelect('27')">
          <p>240 x 100 cm</p>
        </div>
        <div id="28" class="opcion notSelected" (click)="onSelect('28')">
          <p>120 x 250 cm</p>
        </div> </div>
    </ion-item> 
  </div>
</div>
  <ion-item lines="none">
    <ion-label>
      Espesor
    </ion-label>
    <img  (click)="open2()" src="/assets/icons/icon-arrow-abajo.svg" />
  </ion-item>
  <div class="filter-container" [ngClass]="{'show':showFilter2===true,
'close':showFilter2===false}">
  <div  class="contenedor-detalles-entrega">
    <ion-item lines="none">
      <div class="contenedor-opciones">
        <div id="27" class="opcion selected" (click)="onSelect('27')">
          <p>2 mm</p>
        </div>
        <div id="28" class="opcion notSelected" (click)="onSelect('28')">
          <p>8 mm</p>
        </div> 
        <div id="28" class="opcion notSelected" (click)="onSelect('28')">
          <p>20 mm</p>
        </div> </div>
    </ion-item>
    <ion-item lines="none">
      <div class="contenedor-opciones">
        <div id="27" class="opcion selected" (click)="onSelect('27')">
          <p>30 mm</p>
        </div>
        <div id="28" class="opcion notSelected" (click)="onSelect('28')">
          <p>24 mm</p>
        </div> </div>
    </ion-item> 
  </div>
</div>
  <ion-item lines="none">
    <ion-label>
      Color
    </ion-label>
    <img (click)="open3()" src="/assets/icons/icon-arrow-abajo.svg" />
 </ion-item>

 <div class="filter-container" [ngClass]="{'show':showFilter3===true,
'close':showFilter3===false}">
 <ion-item lines="none">
      <img src="/assets/icons/icon-color1.svg" />
      <img src="/assets/icons/icon-color2.svg" />
      <img src="/assets/icons/icon-color3.svg" />
      <img src="/assets/icons/icon-color4.svg" />
 
  </ion-item>
  </div>
  <ion-item lines="none">
    <ion-label>
      Precio
    </ion-label>
    <img (click)="open4()" src="/assets/icons/icon-arrow-abajo.svg" />
 </ion-item>
 <div class="filter-container" [ngClass]="{'show':showFilter4===true,
'close':showFilter4===false}">
 <ion-range></ion-range>
 </div>

 
    <!-- <ion-button [disabled]="true" shape="round" slot="start">Limpiar</ion-button>
    <ion-button color="primary" shape="round" slot="end">Filtrar</ion-button>    -->
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="footer">
      <ion-label class="d-flex align-items-center justify-content-center">Limpiar</ion-label>
      <button>Filtrar</button>
    </div>
  </ion-toolbar>
</ion-footer>


