
button {
    background-color: transparent;
    margin: 0;
}

ion-header{
    ion-toolbar {
        --background: var(--ion-toolbar-background, var(--ion-color-step-50));
        --min-height: 0px;
        --padding-top: 16px;
        --padding-start: 24px;
        --padding-end: 24px;
        --padding-bottom: 40px
    }    
}

@media(max-width:320px) {
    ion-toolbar {
        --padding-top: 32px;
        --padding-start: 16px;
        --padding-end: 16px;
        --padding-bottom: 24px
    }
}

ion-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

img {
    margin: 0 12px;
}


// ion-content {
//     margin: 24px;
// }


//Correciones
ion-item{
    --inner-padding-end: 0px !important;
}

ion-footer{
    padding-right: 16px !important;
    padding-left: 16px !important;
    padding-bottom: 8px !important;
    ion-toolbar{
        --border-color: transparent;
        --padding-start: 0px !important;
        --padding-end: 0px !important;
        --padding-bottom: 0px !important;

        .footer{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    ion-label{
        color: var(--ion-color-disabled)
    }

    button{
        padding: 12px 20px;
        color: white;
        background-color: var(--ion-color-primary);
        border-radius: 50px;
    }
}

@media(min-width:390px){
    ion-footer{
        padding-bottom: 24px !important;
        padding-right: 24px !important;
        padding-left: 24px !important;
    }
}
//Fin correciones



//cuadros de fechas
.contenedor-detalles-entrega{

    max-width: 100%;
    margin:24px;
    padding-right: 24px;
    padding-left: 24px;  

    >p{
        font-weight: bold;
        margin: 0;
        margin-bottom: 24px;
    }

    .contenedor-opciones{
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .contenedor-opciones p{
        margin: 5px;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        line-height: 18px;
        width: 83.33px;
        color: var(--parraphColor);
    }

    .opcion{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;
        border: 1px solid;
        border-color: var(--borderColor);
        border-radius: 8px;
        padding: 0px;
        cursor: pointer;
    }

    .opcion img{
        filter: var(--filter);
    }
    
}

/* MEDIA QUERIES PARA INDUACRIL */
@media(max-width:320px){
    .contenedor-detalles-entrega{
        
        padding-right: 16px;
        padding-left: 16px;

        >p{
            font-size: 14px;
        }

        .contenedor-opciones p{
            width: 65.33px;
            white-space: nowrap;
        }

    }
}


.notSelected{
    --borderColor : var(--ion-color-light);
    --parraphColor: var(--ion-color-light);
    --filter: unset;
}

@media(max-width:320px){
    .notSelected{
        --parraphColor: #2c2b2c61;
    }
}

.selected{
    --borderColor : var(--ion-color-primary);
    --parraphColor: var(--ion-color-primary);
    --filter: var(--ion-color-induacril-filter);
}

ion-range {
    margin:0px 24px 0px 24px;
}


.show{
display: unset;
}

.close{
display: none;
}