/* button {
  background-color: transparent;
}

ion-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
ion-radio {
  margin: 0px !important;
}

ion-item {
  --inner-padding-end: 0px !important;
}

ion-item::part(native) {
  padding: 0px !important;
}

.phone {
  color: var(--ion-color-disabled);
}

ion-checkbox {
  --size: 20px;
  margin: 0px;
  min-width: 20px;
}

ion-item {
  margin:0px;
  --background-activated: unset !important;
}


 .icons {
  width: 24px;
  height: 24px;
  path {
    stroke: var(--ion-color-basic);
  }
  circle {
    stroke: var(--ion-color-basic);
  }
}

ion-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  ion-toolbar{
    --padding-top: 16px !important;
    --padding-start: 16px !important;
    --padding-end: 16px !important;
    --padding-bottom:14px !important;
  }
}

ion-footer {
  position:fixed;
  bottom:0;
  ion-toolbar{
      --padding-start: 16px !important;
      --padding-end: 16px !important;
  }
}

ion-button{
  height: 40px !important;
}

.container-contact{
  padding: 0 16px;
}

//
@media(min-width:390px) {
  ion-button{
    height: 48px !important;
  }

  ion-header {
      ion-toolbar{
      --padding-top: 16px !important;
      --padding-start: 24px !important;
      --padding-end: 24px !important;
      --padding-bottom:40px !important;
    }
  }

  .container-contact{
    padding: 0 24px;
  }

  ion-footer {
    ion-toolbar{
        --padding-start: 24px !important;
        --padding-end: 24px !important;
    }
  }

}
*/
//Contact

p{
  margin: 0;
  padding: 0;
}

ion-checkbox {
  --size: 20px;
  margin: 0px;
  min-width: 20px;
}

ion-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;


  ion-toolbar {
      --padding-top: 16px !important;
      --padding-start: 16px !important;
      --padding-end: 16px !important;
      --padding-bottom: 14px !important;


      .header-container {
          button {
              background-color: transparent;

              &.button-left {
                  filter: var(--ion-color-dark-filter);
              }

              &.button-right{
                  filter: var(--ion-color-dark-filter);
              }
          }

          .title {
              font-weight: bold;
          }

          ion-searchbar{
              padding-inline-start: 0px !important;
              padding-inline-end: 0px !important;
              padding-bottom: 0px;
              --border-radius: 20px;
              --background: var(--ion-background-search);
          }
      }
  }
}


.contacts-container{
  display: flex;
  flex-direction: column;
  gap: 24px;

  .contact{

      --background-activated: unset !important;

      // &:active{
      //     --background: var(--ion-background-hover-selected);
      // }

      // --inner-padding-start : 0px !important;
      --inner-padding-end: 0px !important;

      // &::part(native){
      //     padding-inline-end: 0px !important;
      //     padding-inline-start: 0px !important;
      // }

      .phone{
          font-size: 14px;
          color: var(--ion-color-disabled);
      }

      ion-checkbox{
          margin-inline: 0px !important;
      }
  }

}

.header-normal{
  gap: unset;
}

.header-search{
  gap: 17px;
}

ion-footer {
  position:fixed;
  bottom:0;
  ion-toolbar{
      --padding-start: 16px !important;
      --padding-end: 16px !important;
  }
}

ion-button{
  height: 40px !important;
}


@media(min-width: 390px){
  .icon-plus{
      margin-right: 24px;
  }

  ion-header {
      ion-toolbar {
          --padding-top: 16px !important;
          --padding-start: 24px !important;
          --padding-end: 24px !important;

      }
  }

  ion-button{
    height: 48px !important;
  }

  ion-footer {
    ion-toolbar{
        --padding-start: 24px !important;
        --padding-end: 24px !important;
    }
  }

}

