<app-header-my-basket title="Mi cesta"></app-header-my-basket>
<ion-content [fullscreen]="true">
  <div class="basket d-flex justify-content-center">
    <img src="/assets/collaborative-basquet/Carrito.png" alt="" />
  </div>
  <ion-label class="descripcion fz-normal d-flex justify-content-center">
    Aún no has añadido ningún
  </ion-label>
  <ion-label class="descripcion fz-normal d-flex justify-content-center">
    artículo a tu cesta
  </ion-label>
  <!-- CONTENIDO -->
</ion-content>

<ion-footer class="ion-no-border">
  <app-footer-main></app-footer-main>
</ion-footer>
