<ion-content >
  <app-header-my-basket class="header-mybasket" title="Mi cesta"></app-header-my-basket>
  <div class="basket d-flex justify-content-center">
    <img src="/assets/collaborative-basquet/Carrito.png" alt="" />
  </div>
  <ion-label class="text fz-normal d-flex justify-content-center">
    Aún no has añadido ningún
  </ion-label>
  <ion-label class="text fz-normal d-flex justify-content-center">
    artículo a tu cesta
  </ion-label>
  <!-- CONTENIDO -->
  <div class="container-productos-destacados">
      <app-featured></app-featured>
  </div>

</ion-content>
<!-- <app-modal-invite *ngIf="modalInvite"></app-modal-invite> -->
<app-modal-invite *ngIf="modalInvite"></app-modal-invite>
<app-footer-navigation></app-footer-navigation>

