.basket {
   margin-bottom: 42px;
}

.text {
  color: var(--ion-color-disabled);
}

.container-productos-destacados{
  margin-top: 94px;
}

.header-mybasket{
  background-color: var(--ion-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

}
