<ion-content >
  <app-header-my-basket class="header-mybasket" title="Mi cesta"></app-header-my-basket>
  <app-modal-invite *ngIf="modalInvite"></app-modal-invite>
  <div class="basket d-flex justify-content-center">
    <img src="/assets/collaborative-basquet/Carrito.png" alt="" />
  </div>
  <ion-label class="text fz-normal d-flex justify-content-center">
    Aún no has añadido ningún
  </ion-label>
  <ion-label class="text fz-normal d-flex justify-content-center">
    artículo a tu cesta
  </ion-label>
  <!-- CONTENIDO -->
  <div class="container-productos-destacados">
    <div class="mt-4">
      <ion-text>
        <div class="d-flex ion-align-items-center mb-3 fw-bold">Destacados</div>
      </ion-text>
    </div>
    <div class="products__column">
      <div class="products__product" *ngFor="let product of productsFeatured">
        <span *ngIf="product.isNew" class="products__is-new">NUEVO</span>
        <ion-img (click)="goToProduct()" [src]="product.image" [alt]="product.image" preload></ion-img>
        <ion-text class="products__name mt-2">{{ product.name }}</ion-text>
        <ion-text class="d-block fw-semibold mt-2 mb-2 text-price"
          >{{ product.price }}</ion-text
        >
        <ion-text
          *ngIf="product.inOffert"
          class="d-block fw-semibold mt-2 mb-3 text-sm text text-muted"
        >
          <span class="d-inline-block mr-3 text-line-through text-price"
            >{{ product.oldPrice }}</span
          >
          <span class="fw-semibold text-primary"
            >-{{ product.discountPercentage }}%</span
          >
        </ion-text>
        <ion-text
          *ngIf="product.hasMinimumOrder"
          class="d-block mt-2 mb-2 text-sm"
        >
          <span class="d-inline-block mr-2"
            >{{ product.minimumOrder }} unidades
          </span>
          <span class="text-muted">(Pedido mín.)</span>
        </ion-text>
        <ion-text *ngIf="product.hasFreeDelivery" class="d-block mb-2">
          <div class="d-flex ion-align-items-center">
            <app-icon-truck></app-icon-truck>
            <span class="d-inline-block text text-sm text-muted ms-2"
              >Envío gratis</span
            >
          </div>
        </ion-text>
        <div *ngIf="product.colors" class="product__colors">
          <div
            *ngFor="let color of product.colors"
            class="product__color"
            [style]="{backgroundColor: color.color}"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-modal-invite *ngIf="modalInvite"></app-modal-invite> -->
  <app-footer-navigation></app-footer-navigation>
</ion-content>

