html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ion-content {
  position: relative;
}

.container-app-settings {
  width: 100%;
  min-height: 100vh;
  background-color: var(--ion-background-color);

  padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom);
}

.header-my-data-settings {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container-body {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 96px 16px 24px 16px;

  @media (min-width: 390px) {
    padding: 96px 24px 24px 24px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 24px;

  span {
    color: var(--ion-color-basic);
  }
}
