<ion-content class="ion-content-var">
  <div class="container-app-settings">

    <header class="header-basic">
      <div class="content-header">
        <h2>Acerca de</h2>
        <div class="icon-back" (click)="onToBack('/customer/settings/main-settings')">
          <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow-left"><path _ngcontent-byu-c175="" d="M2 12.2744L17 12.2744" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path _ngcontent-byu-c175="" d="M8.0498 18.299L1.9998 12.275L8.0498 6.25" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </div>
      </div>
    </header>

    <div class="container-body">
      <div class="items">
        <div class="item" (click)="goNextPage('/customer/settings/about-us/about')">
          <span class="item-name">Quienes somos</span>
        </div>
        <div class="item" (click)="goNextPage('/customer/settings/about-us/privacy-policies')">
          <span class="item-name">Políticas de privacidad</span>
        </div>
        <div class="item" (click)="goNextPage('/customer/settings/about-us/terms-conditions')">
          <span class="item-name">Términos y condiciones</span>
        </div>
        <div class="item" (click)="goNextPage('/customer/settings/about-us/returns-exchanges')">
          <span class="item-name">Cambios y devoluciones</span>
        </div>
      </div>
    </div>

  </div>
</ion-content>

