button{
  background-color: transparent;
}

ion-toolbar{
  --background: var(--ion-toolbar-background, var(--ion-color-step-50, white));
  --min-height: 0px;
  --padding-top: 56px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-bottom: 40px
}

@media(max-width:320px){
  ion-toolbar{
      --padding-top: 32px;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-bottom: 24px
  }
}

ion-title{
  font-weight: bold;
  font-size: 16px;
}
