.dejar-pedido {

    .lugar-pedido {
        display: block;
        text-align: left;
        font-size: 16px;
        color: var(--ion-textLight-color);
        padding-bottom: 32px;
    }

    .with-direction{
        color: var(--ion-textPrimary-color);
    }

    .contenedor-info-pedido {
        display: flex;
        flex-direction: column;
        gap: 24px
    }

    .info-pedido {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .info-pedido:nth-child(1)  {
        img{
            filter: var(--ion-truckFilter-color);
        }
        ion-label{
            color: var(--ion-textPrimary-color);
        }
    }


    .info-pedido-destinatario {
        display: flex;
        flex-direction: column;
        gap: 2px;

        ion-label:nth-child(1){
            color: var(--ion-textPrimary-color);
        }

        ion-label:nth-child(2){
            color: var(--ion-textLight-color);
        }
    }


    .info-pedido:nth-child(3) {
        ion-label {
            color: var(--ion-textLight-color);
        }

        img{
            filter: var(--ion-dangerFilter-color);
        }
        
    }

    

    

    .lugar-pedido,
    .info-pedido {
        cursor: pointer;
    }

}


@media(max-width:320px) {

    ion-label{
        font-size: 14px !important;
    }

    .dejar-pedido {

        .lugar-pedido {
            padding-bottom: 20px;
        }

        .info-pedido:nth-child(1) {
            img {
                width: 17.23px;
                height: 16.14px;
            }
        }

        .info-pedido:nth-child(2) {
            img {
                width: 20px;
                height: 20px;
            }
        }

        .info-pedido:nth-child(3) {
            img {
                width: 15.42px;
                height: 15.42px;
            }
        }

        .info-pedido-destinatario ion-label:nth-child(2) {
            color: #BDBDBD;
            font-size: 10px !important;
        }

        .contenedor-info-pedido {
            gap: 16px
        }
    }
}


