<ion-note
  class="error"
  slot="error"
  *ngIf="
    control?.invalid &&
    control?.errors &&
    (control?.dirty || control?.touched || control?.pristine) &&
    control?.errors
  "
>
  <!-- <span *ngIf="control?.errors?.['required']">El campo es obligatorio</span> -->
  <span *ngIf="control?.errors?.['minlength']"
    >El campo no debe contener menos de
    {{ control?.errors?.["minlength"]["requiredLength"] }} caracteres</span
  >
  <!-- Para el password -->
  <span *ngIf="control?.errors?.['pattern']"
    >Utiliza 8 caracteres o más: mayúsculas, minúsculas, números y caracteres especiales</span
  >
  <span *ngIf="control?.errors?.['maxlength']"
    >El campo no debe contener más de
    {{ control?.errors?.["maxlength"]["requiredLength"] }} caracteres</span
  >
  <span *ngIf="control?.errors?.['email']"
    >El campo debe contener un correo electrónico válido</span
  >
  <span *ngIf="control?.errors?.['mismatch']"
    >Las contraseñas deben coincidir</span
  >
</ion-note>
