<ion-content>
  <ion-grid class="h-100">
    <ion-row class="welcome-icon">
        <div class="welcome-icon__image"></div>
    </ion-row>
    <ion-row class="welcome-footer">
      <ion-col size="12">
        <ion-label class="d-block fz-title fw-normal">
          ¡Bienvenido!
        </ion-label>

        <ion-label class="d-block" color="medium">
          Elige el país donde quieres comprar
        </ion-label>

        <ion-button (click)="openLoginModal()" expand="block">
          <ion-label>
            Confirmar
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
