.valid-phone-container {
    // padding-left:  calc( var(--ion-safe-area-left) + 16px) !important;
    // padding-right:  calc(var(--ion-safe-area-right) + 16px) !important;

    padding-left: 16px !important;
    padding-right:  16px !important;
    
    form{
        ion-text {
            .color-body {
                font-weight: bold;
                color: var(--color);
            }
        }
        ion-button{
            font-size: 16px;
        }
    }

    .resend{
        cursor: pointer !important;
        color: var(--ion-color-primary) !important;
        font-size: 14px !important;
    }

    .input-code{
        --inner-padding-end: 0px !important;
        --border-color: var(--ion-background-alert-border);

        &::part(native){
            padding-inline-end: 0px;
            padding-inline-start: 0px;
        }
        ion-input{
            letter-spacing: 5px;
            --padding-bottom: 0px !important;
            --padding-end: 0px !important;
            --padding-start: 0px !important;
            --padding-top: 0px !important;
        }
    }
}

ion-modal {
    &.modal-alert {
        --height: fit-content;
        --border-radius: 10px;
    }

    &::part(content) {
        // margin-right: calc(var(--ion-safe-area-right) + 16px) !important;
        // margin-left: calc( var(--ion-safe-area-left) + 16px) !important; 

        margin-right: 16px !important;
        margin-left: 16px !important;
    }

    --background: var(--ion-background-alert);

    .modal-container{
        padding : 24px 16px;

        ion-text:nth-child(2){
            margin-bottom: 32px;
        }
    }
}

@media(min-width:390px) {
    .valid-phone-container {
        // padding-left:  calc( var(--ion-safe-area-left) + 24px) !important;
        // padding-right:  calc(var(--ion-safe-area-right) + 24px) !important;

        padding-left:  24px !important;
        padding-right:  24px !important;
    }

    ion-modal {
        &::part(content) {
            // margin-right: calc(var(--ion-safe-area-right) + 24px) !important;
            // margin-left: calc( var(--ion-safe-area-left) + 24px) !important;

            margin-right: 24px !important;
            margin-left: 24px !important;
        }

        .modal-container{
            padding : 24px !important;
        }
    }
}