<ion-content [fullscreen]="true">
  <app-header title="Valida tu celular" iconLeft="icon-arrow-left" backDirection="register">
  </app-header>

  <div class="valid-phone-container container-main">
    <form class="w-100" [formGroup]="form">
      <ion-text class="text fz-normal text-muted d-block text-center mb-3">Hemos enviado un código de validación <br />
        al celular
        <span class="color-body">+51 {{movil}}</span></ion-text>
      <div class="text-center mb-3">
        <ion-button fill="clear" shape="round" color="primary" (click)="onGoTo('/register')">Cambiar número</ion-button>
      </div>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-item class="input-code">
              <ion-input color="primary" (ionChange)="onChangeCode()" formControlName="code" inputmode="numeric"
                class="ion-input-big fz-subtitle ion-text-center" #inputCode type="text"></ion-input>
              <!-- <input type="text" style="text-align: center; box-sizing: content-box;"/>   -->
            </ion-item>
            <div class="text-center mb-5 mt-2">
              <ion-text class="text fz-small">{{ counterTime }}</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <ion-text class="d-block text fz-small text-center">¿No recibes el código?
      <span class="text-muted" [ngClass]="{'resend': isCounterInZero}"
        (click)="onResendCode()">Reenviar</span></ion-text>

    <ion-modal class="modal-alert" #modal>
      <ng-template>
        <div class="modal-container">
          <ion-text class="text-center fw-700 d-block" style="margin-bottom: 10px;"><b>¡Último paso!</b></ion-text>
          <ion-text class="fz-small text-muted text-center d-block">Para finalizar validemos tu correo
            electrónico</ion-text>

          <ion-button expand="block" shape="round" color="primary" (click)="onContinue()">
            Continuar
          </ion-button>
        </div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>