
<ion-content [fullscreen]="true">
  <app-header-product class="header"></app-header-product>
  <ion-slides class="carousel" pager="true" (click)="goPicture()">
    <ion-slide *ngFor="let slide of slides">
      <img class="img-fluid img" [src]="slide.imgSrc" [alt]="slide.description" />
    </ion-slide>
  </ion-slides>


  <div class="information-producto d-flex flex-column">
    <ion-text>
      <ion-label>
        Planchas de acrílico de distinto tamaño, espesor y color.
        Induacril
      </ion-label>
    </ion-text>

    <app-slider-costs></app-slider-costs>

    <app-slider-variants></app-slider-variants>

    <ion-text
      (click)="goDetails()"
      class="d-flex flex-row justify-content-between">
      <ion-label class="fw-normal">Detalles</ion-label>
      <div class="d-flex justify-content-center align-items-center">
      <svg class="arrow" width="1em" height="1em" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.45837 0.916341L5.54171 4.99967L1.45837 9.08301" stroke="#9E9E9E" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      </div>

    </ion-text>
    <ion-text
      (click)="goSend()"
      class="d-flex flex-row justify-content-between"
    >
      <ion-label class="fw-normal">Envío</ion-label>
      <div class="send d-flex flex-row">
        <div class="icon-peru d-flex flex-row">
          <img src="assets/icons/icon-PE.svg" />
          <ion-label >Perú</ion-label>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <svg class="arrow" width="1em" height="1em" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.45837 0.916341L5.54171 4.99967L1.45837 9.08301" stroke="#9E9E9E" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </ion-text>
    <ion-text class="d-flex flex-row justify-content-between" (click)="goReturnsExchanges()" style="margin-bottom:30px">
      <ion-label class="fw-normal">Cambios y devoluciones</ion-label>
      <div class="d-flex justify-content-center align-items-center">
        <svg class="arrow" width="1em" height="1em" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.45837 0.916341L5.54171 4.99967L1.45837 9.08301" stroke="#9E9E9E" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </ion-text>
  </div>

  <app-footer-product class="footer-product"></app-footer-product>

</ion-content>
