/* Carrucel */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.img {
  width: 100%;
}

/* Footer */
.footer {
  gap: 26px;
}

.icons {
  gap: 27px;
}

.information-producto {
  gap: 24px;
  margin: 24px 16px 84px 16px;
}

.send {
  gap: 12.46px;
}

.icon-peru {
  gap: 6px;
  color: var(--ion-color-disabled);
}

/* Dark */
.arrow {
  width: 7px;
  height: 10px;
  path {
    stroke: var(--ion-color-arrow) !important;
  }
}

.footer-product {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
@media (min-width: 390px) {

.information-producto {
  gap: 24px;
  margin: 24px 24px 84px 24px;
}
}
