.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.information-producto {
  gap: 24px;
  margin: 24px 16px 84px 16px;

  .send {
    gap: 12.46px;

    .icon-peru {
      gap: 6px;
      color: var(--ion-color-disabled);
    }
  }

  .arrow {
    width: 7px;
    height: 10px;
    path {
      stroke: var(--ion-color-arrow) !important;
    }
  }
}

.footer-product {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

@media (min-width: 390px) {

.information-producto {
  gap: 24px;
  margin: 24px 24px 84px 24px;
}
}

.img {
  width: 100%;
}


