.dejar-pedido {

    .lugar-pedido {
        display: block;
        color: var(--ion-color-light);
        padding-bottom: 32px;
        cursor: pointer;
    }

    .with-direction {
        color: var(--ion-color-dark) !important;
    }

    .contenedor-info-pedido {
        gap: 24px;

        .info-pedido {
            gap: 12px;
            cursor: pointer;

            &.date {
                img {
                    filter: var(--ion-color-dark-filter);
                }
            }

            .info-pedido-destinatario {
                gap: 2px;

                ion-label:nth-child(2) {
                    color: var(--ion-color-light);
                }
            }

            &.requirements{
                ion-label {
                    color: var(--ion-color-light);
                }

                img {
                    filter: var(--ion-color-dark-filter);
                }
            }
        }

    }
}

@media(max-width:320px) {

    ion-label {
        font-size: 14px !important;
    }

    .dejar-pedido {

        .lugar-pedido {
            padding-bottom: 20px;
        }

        .info-pedido:nth-child(1) {
            img {
                width: 17.23px;
                height: 16.14px;
            }
        }

        .info-pedido:nth-child(2) {
            img {
                width: 20px;
                height: 20px;
            }
        }

        .info-pedido:nth-child(3) {
            img {
                width: 15.42px;
                height: 15.42px;
            }
        }

        .info-pedido-destinatario ion-label:nth-child(2) {
            color: #BDBDBD;
            font-size: 10px !important;
        }

        .contenedor-info-pedido {
            gap: 16px
        }
    }
}

.container-modal {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 10000 !important;
    display: grid !important;
    place-items: center !important;
    background-color: var(--ion-background-color-modal) !important;
  
    ion-item::part(native) {
      --inner-padding-end: 0px !important;
      --inner-border-width: 0px !important;
    }
}