<div class="dejar-pedido" [ngSwitch]="order.typeOrder">

  <!-- ENVIO A DOMICILIO -->
  <div *ngSwitchCase="'domicilio'">
      <ion-label
          (click)="goTo('/customer/direction')"
          [class]= order.detailsOrderToHome.dClass
      >
          {{order.detailsOrderToHome.direction}}
      </ion-label>

      <div class="contenedor-info-pedido d-flex flex-column">
          <div class="info-pedido d-flex align-items-center date">
              <img src="/assets/icons/icon-truck.svg" />
              <ion-label (click)="goTo('/customer/date')">Llega el 26 dic, 8:00am - 9:00am</ion-label>
          </div>
          <!-- <div class="info-pedido d-flex align-items-center contact" (click)="goTo('/customer/contact','/customer/buy')">
              <img src="/assets/images/gerardo.png" height="32px" />
              <div class="info-pedido-destinatario d-flex flex-column">
                  <ion-label>Wilfredo</ion-label>
                  <ion-label  class="text-sm">Recibirá el pedido</ion-label>
              </div>
          </div> -->
          <div class="info-pedido d-flex align-items-center contact" (click)="openModal()">
              <img src="/assets/images/gerardo.png" height="32px" />
              <div class="info-pedido-destinatario d-flex flex-column">
                  <ion-label>Wilfredo</ion-label>
                  <ion-label  class="text-sm">Recibirá el pedido</ion-label>
              </div>
          </div>
          <div class="info-pedido d-flex align-items-center requirements" (click)="goTo('/customer/delivery')">
              <img src="/assets/icons/icon-danger.svg" />
              <ion-label>Requisitos para la entrega</ion-label>
          </div>
      </div>
  </div>

  <!-- RECOJO EN TIENDA -->
  <div *ngSwitchCase="'tienda'">
      <ion-label
          (click)="goTo('/customer/stores')"
          [class]= order.detailsOrderToStore.dClass
      >
        <span
            *ngIf="order.detailsOrderToStore.store.length!==0"
            style="font-weight: bold;"
            >
            {{order.detailsOrderToStore.store}}<br/>
        </span>
        <span>{{order.detailsOrderToStore.direction}}</span>
      </ion-label>

      <!-- <div class="contenedor-info-pedido d-flex flex-column">
          <div class="info-pedido d-flex align-items-center" (click)="goTo('/customer/contact','/customer/buy')">
              <img src="/assets/images/gerardo.png" height="32px" />
              <div class="info-pedido-destinatario d-flex flex-column">
                  <ion-label>Wilfredo</ion-label>
                  <ion-label>Recibirá el pedido</ion-label>
              </div>
          </div>
      </div> -->
      <div class="contenedor-info-pedido d-flex flex-column">
          <div class="info-pedido d-flex align-items-center" (click)="openModal()">
              <img src="/assets/images/gerardo.png" height="32px" />
              <div class="info-pedido-destinatario d-flex flex-column">
                  <ion-label>Wilfredo</ion-label>
                  <ion-label>Recibirá el pedido</ion-label>
              </div>
          </div>
      </div>
  </div>

</div>


<app-modal-access-contact
    [modalIsVisible]="modalIsVisible"
    (onModalNotVisible)="closeModal()"
>

</app-modal-access-contact>
