.header-variants {
  background-color: var(--ion-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content-variants {
  margin: 0px 16px;

  .variant {
    gap: 18px;
    margin-bottom: 32px;
  }

  .size {
    gap: 18px;
    margin-bottom: 32px;

    .label {
      display: inline-block;
      position: relative;

      background-color: var(--ion-color-separator);
      color: var(--ion-color-text-secundary);
      padding: 8px;
      border-radius: 4px;
      border: 1px solid var(--ion-color-separator);
    }
  }

  .size-thicknes {
    gap: 10px;
    margin-bottom: 32px;

    .label2 {
      display: inline-block;
      position: relative;
      background-color: var(--ion-color-separator);
      color: var(--ion-color-text-secundary);
      padding: 8px 16px;
      border-radius: 4px;
      border: 1px solid var(--ion-color-separator);
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.footer {
  margin-top: 12px;
  border-top: 1px solid var(--ion-color-border-footer);

  ion-button {
    border: 0px;
  }
}

.btn {
  width: 100%;
}

ion-button:nth-child(1)::part(native) {
  border: 1px solid var(--ion-outline-color-button) !important;
  color: var(--ion-outline-color-button);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.label2 .top {
  position: absolute;
  top: -6px;
  right: -20px;
  z-index: 1000px;
  background-color: var(--ion-color-primary);
  padding: 2px 4px 2px 4px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

.label .top {
  position: absolute;
  top: -6px;
  right: -20px;
  z-index: 1000px;
  background-color: var(--ion-color-primary);
  padding: 2px 4px 2px 4px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}
.label .top-2 {
  position: absolute;
  top: -6px;
  right: -16px;
  z-index: 1000px;
  background-color: var(--ion-color-primary);
  padding: 2px 4px 2px 4px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

.label.selected {
  border: 1px solid #023aff !important;
  background-color: var(--ion-button-select);
  color: #023aff  !important;
}

.label2.selected2 {
  border: 1px solid #023aff !important ;
  background-color: var(--ion-button-select);
  color: #023aff  !important;
}

ion-button {
  height: 40px !important;
}

@media (min-width: 390px) {

  ion-button {
    height: 48px !important;
  }

  .content-variants {
    margin: 0px 24px;
  }

}
