<ion-content [fullscreen]="true">

  <app-header-variants class="header-variants"></app-header-variants>

  <div class="content-variants container-main">
    <ion-text class="variant d-flex flex-row">
      <img src="assets/images/polo-variante.png" />
      <div class="d-flex flex-column justify-content-between">
        <ion-label class="fz-small">
          Planchas de acrílico de distinto tamaño
        </ion-label>

        <app-slider-cost></app-slider-cost>

      </div>
    </ion-text>
    <ion-text class="size d-flex flex-column">
      <ion-label class="fw-normal">Tamaño (cm) </ion-label>
      <div class="container fz-note" style="padding-left: 0px">
        <label
          class="label"
          (click)="selectLabel(1)"
          [ngClass]="{ selected: selectedLabel === 1 }"
          >150x120<span class="top">10</span></label
        >
        <label
          class="label"
          (click)="selectLabel(2)"
          [ngClass]="{ selected: selectedLabel === 2 }"
          >100x110<span class="top-2">2</span></label
        >
        <label
          class="label"
          (click)="selectLabel(3)"
          [ngClass]="{ selected: selectedLabel === 3 }"
          >150x110</label
        >
        <label
          class="label"
          (click)="selectLabel(4)"
          [ngClass]="{ selected: selectedLabel === 4 }"
          >200x240</label
        >
      </div>
    </ion-text>

    <ion-text class="size-thicknes d-flex flex-column">
      <ion-label class="fw-normal">Espesor (mm)</ion-label>
      <div class="container fz-note" style="padding-left: 0px">
        <label
          class="label2"
          (click)="selectLabel2(5)"
          [ngClass]="{ selected2: selectedLabel2 === 5 }"
          >2<span class="top">12</span></label
        >
        <label
          class="label2"
          (click)="selectLabel2(6)"
          [ngClass]="{ selected2: selectedLabel2 === 6 }"
          >4</label
        >
        <label
          class="label2"
          (click)="selectLabel2(7)"
          [ngClass]="{ selected2: selectedLabel2 === 7 }"
          >8</label
        >
      </div>
    </ion-text>
    <div style="margin-bottom: 180px !important">
      <ion-text
        *ngFor="let item of colour"
        class=" d-flex flex-row justify-content-between align-items-center  mb-4"
      >
        <div class="d-flex align-items-center d-grid gap-3">
          <img [src]="item.images" />
          <ion-label>{{ item.name }}</ion-label>
        </div>
        <div>
          <ion-text>
            <img src="assets/icons/icon-line.svg" />
            <ion-label class="mx-4">{{ item.quantify }}</ion-label>
            <img src="assets/icons/icon-plus-main.svg" />
          </ion-text>
        </div>
      </ion-text>
    </div>
  </div>

  <ion-footer class="footer ion-no-padding ion-no-border footer-ionic">
    <ion-toolbar class="ion-no-padding">
      <div style="margin-top: 12px">
        <ion-text class="d-flex flex-row justify-content-between mb-4">
          <ion-label>Total</ion-label>
          <ion-label>S/ 9,999.00</ion-label>
        </ion-text>
        <div class="d-flex mt-2 gap-3">
          <ion-button
            fill="outline"
            class="btn ion-no-padding ion-no-margin"
            expand="block"
            shape="round"
            (click)="OpenModalVariants()"
          >
            Añadir a la cesta
          </ion-button>

          <ion-button
            (click)="goToConfirmOrder()"
            class="btn ion-no-padding ion-no-margin"
            expand="block"
            shape="round"
            color="primary"
          >
            Ir a pagar
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>

  <!-- First Modal -->
  <app-modal-variants *ngIf="modalVariants"></app-modal-variants>
  <app-modal-add *ngIf="modalAdd"></app-modal-add>
  <app-modal-basket *ngIf="modalBasket"></app-modal-basket>
</ion-content>
