<ion-content [fullscreen]="true">
  <app-header-variants  class="header-variants"></app-header-variants>
  <div class="mx-4 container-main">
    <ion-text class="variant d-flex flex-row">
      <img src="assets/images/polo-variante.png" />
      <div class="d-flex flex-column justify-content-between">
        <ion-label class="fz-small">
          Planchas de acrílico de distinto tamañ..
        </ion-label>
        <app-slider-secondary></app-slider-secondary>
      </div>
    </ion-text>
    <ion-text class="size d-flex flex-column">
      <ion-label  class="fw-normal">Tamaño (cm)  </ion-label>
      <div class="d-flex">
      <div class="fz-note dato" style="margin-right: 7px;"> <ion-label class="extent-cm">150x120</ion-label> <sup class="amount">10</sup> </div>
      <div class="fz-note dato" style="margin-right: 11px;"> <ion-label class="extent-cm">100x110</ion-label> <sup class="amount">2</sup> </div>
      <div class="fz-note dato" style="margin-right: 16px;"> <ion-label class="extent-cm">150x110</ion-label></div>
      <div class="fz-note dato"> <ion-label class="extent-cm">200x240</ion-label> </div>
    </div>
     </ion-text>
    <ion-text class="size-thicknes d-flex flex-column">
      <ion-label class="fw-normal ">Espesor (mm)</ion-label>
      <div class="d-flex g-4">
        <div class="fz-note "> <ion-label class="extent-mm px-3">2</ion-label> <sup class="amount">10</sup> </div>
        <div class="fz-note me-4 "> <ion-label class="extent-mm px-3">4</ion-label></div>
        <div class="fz-note "> <ion-label class="extent-mm px-3">8</ion-label></div>
      </div>
    </ion-text>
  </div>


  <div
  style="margin-bottom: 200px !important;"
  >
  <ion-text

    *ngFor="let item of colour"
    class="d-flex flex-row justify-content-between align-items-center mb-4 mx-4"
  >
    <div class="d-flex align-items-center d-grid gap-3">
      <img [src]="item.images" />
      <ion-label>{{ item.name }}</ion-label>
    </div>
    <div>
      <ion-text >
        <img src="assets/icons/icon-line.svg">
        <ion-label class="mx-4">{{ item.quantify }}</ion-label>
        <img src="assets/icons/icon-plus-main.svg">
      </ion-text>
    </div>
  </ion-text>
  </div>

  <ion-footer class="footer ion-no-padding ion-no-border footer-ionic">
    <ion-toolbar class="ion-no-padding">
      <div  style="margin-top: 12px;">
        <ion-text class="d-flex flex-row justify-content-between mb-4">
          <ion-label>Total</ion-label>
          <ion-label>S/9,999.00</ion-label>
        </ion-text>
        <div class="d-flex mt-2 gap-3">
          <ion-button

            fill="outline"
            class="btn ion-no-padding ion-no-margin"
            expand="block"
            shape="round"
            (click)="OpenModalVariants()"
            style="height: 48px !important;">
            Añadir a la cesta
          </ion-button>

          <ion-button
            (click)="goToConfirmOrder()"
            class="btn ion-no-padding ion-no-margin"
            expand="block"
            shape="round"
            color="primary"
            style="height: 48px !important;">
            Ir a pagar
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>


   <!-- First Modal -->
   <app-modal-variants *ngIf="modalVariants"></app-modal-variants>
   <app-modal-add *ngIf="modalAdd"></app-modal-add>
   <app-modal-basket *ngIf="modalBasket"></app-modal-basket>

</ion-content>
