.container-manage-profile-information {
  width: 100%;
  min-height: calc(100vh - 67px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 390px) {
    min-height: calc(100vh - 69px);
  }
}
