<ion-content >
  <app-header
  title="Tiendas"
  backDirection="confirm-order"
  iconLeft="icon-arrow-left"
  >
  </app-header>
  <div class="content-stores container-main">
    <div class="alert">
      <ion-item lines="none">
        <img id="time" src="/assets/icons/time-circle.svg">
        <ion-label class="alert" class="ion-text-wrap">
          El producto estará disponible en el lugar seleccionado
          durante 5 días hábiles de 8:00am a 6:00pm.
        </ion-label>
      </ion-item>
    </div>

    <div class="checkbox">
      <ion-item lines="none" detail="false">
        <ion-checkbox 
            slot="end" 
            mode="ios"
            [(ngModel)]="data[0].selected"
            (ngModelChange)="checkBoxSelect(data[0].id)" 
        >
        </ion-checkbox>
        <ion-label class="ion-text-wrp">
          <p class="fz-small" >Induacril Miraflores</p>
          <p class="fz-note">Jr. Samaritanos 879 Miraflores, Lima, Lima, Perú</p>
        </ion-label>
      </ion-item>
      <div class="to-get">
        <a  (click)="goTo('/customer/store-map')"> Como llegar</a>
      </div>

      <ion-item lines="none">
        <ion-checkbox 
            slot="end" 
            mode="ios"
            [(ngModel)]="data[1].selected"
            (ngModelChange)="checkBoxSelect(data[1].id)"
        >
        </ion-checkbox>
        <ion-label class="ion-text-wrp">
          <p class="fz-small" color="black">Induacril Chorrillos</p>
          <p class="fz-note ">Jr. Samaritanos 879 Miraflores, Lima, Lima, Perú</p>
        </ion-label>
      </ion-item>
      <div class="to-get" >
        <a (click)="goTo('/customer/store-map')"> Como llegar</a>
      </div>
      <ion-item lines="none">
        <ion-checkbox 
            slot="end" 
            mode="ios"
            [(ngModel)]="data[2].selected"
            (ngModelChange)="checkBoxSelect(data[2].id)"
        >
        </ion-checkbox>
        <ion-label class="ion-text-wrp">
          <p class="fz-small">Induacril Miraflores</p>
          <p class="fz-note">Jr. Samaritanos 879 Miraflores, Lima, Lima, Perú</p>
        </ion-label>
      </ion-item>
      <div class="to-get" >
        <a (click)="goTo('/customer/store-map')"> Como llegar</a>
      </div>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button  
    [disabled]=oneTrue
    color="primary" (click)="establecerDireccion()" shape="round" expand="block">
      <ion-label class="fz-normal"> Usar tienda</ion-label>
    </ion-button> 
  </ion-toolbar>
</ion-footer>
