.content{
    padding-left: 24px;
    padding-right: 24px;
    .alert{
        border-radius: 4px;
        padding: 0px 12px 0px 12px; 
        margin-bottom: 0px;
        ion-item{
            --padding-start: 0px;
            --inner-padding-end: 0px;
            #time{
                margin-right: 8px ;
            }
            ion-label{
                font-family: 'Roboto';
                font-style: normal;
                font-size: 12px;
                margin: 16px 0 16px 0 ;
                padding: 0px;
            }
        }

        ion-item::part(native){ 
            padding: 0px;
        }
    }
    .checkbox{
        margin-inline: 0px;
        margin-top: 32px;
        margin-bottom: 316px;
        ion-item {
            --padding-start: 0px;
            --inner-padding-end: 0px; 

            ion-label{
                margin:0px;
                margin-bottom: 24px !important;
            }

            .fz-note{
                margin-top: 4px !important;
                margin-bottom: 0px !important;
            }
            .to-get{
                font-family: 'Roboto';
                font-style: normal;
                font-size: 12px;
                line-height: 15px;
                color: #023AFF;
                text-decoration: none;
                padding-top: 10px !important;
            }
        }

        ion-checkbox{
            --size: 20px;
            margin-right: 0px;
            margin-bottom: 37px;
        }    

        ion-item::part(native){ 
            padding: 0px;
        }  
    } 
    ion-footer{
        padding: 8px 0px 32px 0px;
        ion-button{
            width: 342px ;
            height: 48px ;
            #button{
                margin: 12px 24px 12px 24px;
                font-size: 16px;
            }
        } 
    }
}

@media(max-width:320px){
    .content{
        padding-left: 16px;
        padding-right: 16px;
        .alert{
            padding: 0px 10px 0px 10px; 
            ion-label{
                margin: 10px 0 10px 0 ;
            }
        }
        .checkbox{
            margin-top: 24px;
            margin-bottom: 86px;
            
        }
    }
    
    ion-footer{
        padding: 8px 0px 16px 0px !important;
        ion-button{
            width: 288px !important;
            height: 40px !important;
            #button{
                margin: 9px 24px 12px 9px;
            }
        } 
    }
}