/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import "./theme/sass/mixins.scss";
@import "./theme/variables.scss";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Customs
@import "./theme/sass/lists.scss";
@import "./theme/sass/radio.scss";
@import "./theme/sass/text.scss";
@import "./theme/sass/button.scss";
@import "./theme/sass/input.scss";
@import "./theme/sass/alert.scss";
@import "./theme/sass/toolbar.scss";
@import "./theme/sass/customs.scss";

// body.md {
//   ion-content {
//     --padding-top: 1.5rem;
//     --padding-bottom: 1.5rem;
//   }
// }


body.ios {
  ion-content {
    --padding-top: var(--ion-safe-area-top);
    --padding-bottom: var(--ion-safe-area-bottom);
  }
}

// Cambiar el color del Status Bar en IOS (RCNA)
//* IOS
ion-app {
  --ion-status-bar-background: var(--ion-color-icons-selected);
}

.remove-safe-area {
  --padding-top: var(--ion-safe-area-top) !important;
  --padding-bottom: var(--ion-safe-area-bottom) !important;
  --padding-left: var(--ion-safe-area-left) !important;
  --padding-right: var(--ion-safe-area-right) !important;
}

.remove-scroll {
  // overwrite inline styles
  --offset-bottom: auto! important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.button-regular {
  width: 100%;
  height: 48px;
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  transition: all .3s ease;
}

.button-disabled {
  background-color: var(--ion-background-button-disabled);
  color: var(--ion-color-text-button-disabled);
}

.button-active {
  background-color: #023AFF;
  color: #FFFFFF;
}
