/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import "./theme/sass/mixins.scss";
@import "./theme/variables.scss";

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
}

// Customs
@import "./theme/sass/lists.scss";
@import "./theme/sass/radio.scss";
@import "./theme/sass/text.scss";
@import "./theme/sass/button.scss";
@import "./theme/sass/input.scss";
@import "./theme/sass/alert.scss";



//estilos para la alerta de confirmar-pedido
.alert-wrapper{
  gap: 24px;
  padding-bottom: 24px;
  --background: var(--ion-backgroundAlert-color);


  //first div
  .alert-header{
    padding-bottom: 0px;

  }

  //second div
  .alert-message{
    font-size: 16px;
    padding-bottom: 0px;
    color: var(--ion-textPrimary-color);
  }


  //tercer div
  .sc-ion-alert-ios{
    flex-wrap: nowrap;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 0px;

    button{
      white-space: nowrap;
      border-top-color: var(--ion-borderAlert-color);
      border-right-color: var(--ion-borderAlert-color);
    }
  }
}

//cambiarle el color al titulo de la alerta
.alert-title.sc-ion-alert-ios{
  color: var(--ion-textPrimary-color) !important;
}



// Cambiar el color del Status Bar en IOS (RCNA)
//* IOS
ion-app {
  --ion-status-bar-background: var(--ion-color-icons-selected);
}
