

<ion-content>


  <ion-header class="ion-no-border ion-no-padding">
    <ion-toolbar class="ion-no-padding">
      <div class="position-relative">
        <img class="banner" src="/assets/images/cupon.png"  style="width: 100%;"/>
        <img (click)="goBack()" class="arrow-left" src="/assets/icons/icon-arrow-left.svg"/>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none" class="message-top">
    <img src="/assets/icons/icon-danger-circle.svg" width="12" slot="start"/> <br>
    <ion-label class="ion-text-wrap" style="margin-left: 10px;">
      <p>Utiliza este cupón en cualquiera de estos productos </p>
    </ion-label>
  </ion-item>
  <div class="container-searchbar">
    <ion-searchbar placeholder="Buscar productos"></ion-searchbar><br>
  </div>



    <!-- Productos Destacados -->
    <div class="container-productos-destacados">
      <div class="products__column">
        <div class="products__product" *ngFor="let product of productsFeatured" (click)="goToProduct()">
          <span *ngIf="product.isNew" class="products__is-new">NUEVO</span>
          <ion-img [src]="product.image" [alt]="product.image"></ion-img>
          <ion-text class="products__name mt-2 namep">{{ product.name }}</ion-text>
          <ion-text class="d-block fw-semibold mt-2 mb-2 text-price"
            >{{ product.price }}</ion-text
          >
          <ion-text
            *ngIf="product.inOffert"
            class="d-block fw-semibold mt-2 mb-3 text-sm text text-muted"
          >
            <span class="d-inline-block mr-3 text-line-through text-price"
              >{{ product.oldPrice }}</span
            >
            <span class="fw-semibold text-primary"
              >-{{ product.discountPercentage }}%</span
            >
          </ion-text>
          <ion-text
            *ngIf="product.hasMinimumOrder"
            class="d-block mt-2 mb-2 text-sm"
          >
            <span class="d-inline-block mr-2"
              >{{ product.minimumOrder }} unidades
            </span>
            <span class="text-muted">(Pedido mín.)</span>
          </ion-text>
          <ion-text *ngIf="product.hasFreeDelivery" class="d-block mb-2">
            <div class="d-flex ion-align-items-center">
              <app-icon-truck></app-icon-truck>
              <span class="d-inline-block text text-sm text-muted ms-2"
                >Envío gratis</span
              >
            </div>
          </ion-text>
          <div *ngIf="product.colors" class="product__colors">
            <div
              *ngFor="let color of product.colors"
              class="product__color"
              [style]="{backgroundColor: color.color}"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin de productos destacados -->
</ion-content>