<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="header-container  d-flex justify-content-between align-items-center">

        <button class="button-left" (click)="goBack()">
          <img src="/assets/icons/icon-arrow-left.svg" width="17px">
        </button>

        <div class="title">
          <ion-label>Condiciones</ion-label>
        </div>

        <button style="visibility: hidden;">
          <img src="/assets/icons/icon-delete.svg">
        </button>

      </div>
    </ion-toolbar>
  </ion-header>

  <div class="main container-main d-flex flex-column" style="gap: 32px;">
    <div class="condition">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium amet perspiciatis error totam voluptatibus, consequu
    </div>

    <div class="condition">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto totam voluptatibus quas provident eaque id
    </div>
  </div>


</ion-content>
