<ion-content class="image" [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <button (click)="goBack()" slot="start">
        <svg
          class="back"
          width="1em"
          height="1em"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L13 13"
            stroke="black"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
          />
          <path
            d="M1 13L13 1"
            stroke="black"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </ion-toolbar>
  </ion-header>

  <div class="content-product">
    <img src="assets/images/image-product.png" class="img-fluid " />
  </div>
</ion-content>
