<ion-content [fullscreen]="true">

  <app-header
    title="Recuperar contraseña"
    iconLeft="icon-arrow-left"
    backDirection="login"
  >  
  </app-header>

  <form class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item class="form-group">
      <ion-label position="floating"
        >Correo electrónico</ion-label
      >
      <ion-input formControlName="email"></ion-input>
      <app-validation-messages
        slot="error"
        [control]="form.get('email')"
      ></app-validation-messages>
    </ion-item>
  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class = "ion-no-padding">
    <ion-button
      expand="block"
      color="primary"
      shape="round"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      >Siguiente</ion-button
    >
  </ion-toolbar>
</ion-footer>
