<ion-content [fullscreen]="true">

  <app-header
    title="Recuperar contraseña"
    iconLeft="icon-arrow-left"
    backDirection="login"
  >  
  </app-header>

  <form class="w-100 container-main" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="none" class="form-group" (ionFocus) = "checkFocus()" (ionBlur)="checkBlur()">
      <ion-label position="floating" class="text-muted">Correo electrónico</ion-label>
      <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
      <app-validation-messages
        *ngIf="showTextHelperEmail"
        slot="error"
        [control]="form.get('email')"
      ></app-validation-messages>
    </ion-item>
  </form>

</ion-content>

<ion-footer class="ion-no-border footer-ionic">
  <ion-toolbar class = "ion-no-padding">
    <ion-button
      expand="block"
      color="primary"
      shape="round"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      style="margin: 0px !important;"
      >Siguiente</ion-button
    >
  </ion-toolbar>
</ion-footer>
