form {
    ion-item{
        --inner-padding-end: 0px !important;
        --padding-start: 0px !important;
        --border-width: 0px 0px 1px 0px !important;
        margin-inline: 16px;

        &::part(native) {
            padding-inline: 0px !important;
        }
    }
}


@media(min-width:390px) {

    form {
        ion-item{
            margin-inline: 24px !important;
        }
    }
}