

ion-footer{
    padding-right: 16px !important;
    padding-left: 16px !important;
    padding-bottom: 24px !important;
}

@media(min-width:390px){
    ion-footer{
        padding-right: 24px !important;
        padding-left: 24px !important;
    }
}