<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <app-back-button icon="x"></app-back-button>
      </ion-buttons>
      <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <form class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item class="form-group">
      <ion-label position="floating" class="text-secondary"
        >Correo electrónico</ion-label
      >
      <ion-input formControlName="email"></ion-input>
      <app-validation-messages
        slot="error"
        [control]="form.get('email')"
      ></app-validation-messages>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-padding ion-no-border">
  <ion-toolbar>
    <ion-button
      expand="block"
      color="primary"
      shape="round"
      [disabled]="form.invalid"
      (click)="onSubmit()"
      >Siguiente</ion-button
    >
  </ion-toolbar>
</ion-footer>
