form{
    ion-label{
        color: var(--ion-color-primary);
    }
}



ion-footer{
    padding-right: 16px !important;
    padding-left: 16px !important;
    padding-bottom: 8px !important;
}

@media(min-width:390px){
    ion-footer{
        padding-bottom: 16px !important;
        padding-right: 24px !important;
        padding-left: 24px !important;
    }
}