<ion-content>
  <app-header
    title="Datos de facturación"
    iconLeft="icon-arrow-left"
    backDirection="manage-billing-data"
  >
  </app-header>

  <!-- Billing Data Container -->
  <div class="billing-data_container d-flex flex-column container-main">

    <div class="d-flex align-items-center bill-container" *ngFor="let bill of billingData">
      <ion-checkbox
        [(ngModel)] = bill.selected
        (ngModelChange)="checkBoxChange()"
      >
      </ion-checkbox>
      <div class="d-flex flex-column bill-information">
        <ion-label class="fz-normal ion-text-wrap">{{bill.name}}</ion-label>
        <div class="d-flex" style="gap: 8px;">
          <ion-label class="bill-information_code">{{bill.id}}</ion-label>
          <ion-label class="bill-information_type fz-note" color="primary">{{bill.type}}</ion-label>
        </div>
        <ion-label class="bill-information_edit" (click)="goToEdit()">Editar</ion-label>
      </div>
    </div>

  </div> <!--End Billing Data Container-->



  <!-- Footer -->
  <ion-footer class="ion-no-border ion-no-padding footer-ionic">
    <ion-toolbar class="ion-no-padding">
      <ion-button 
        [disabled]="!oneTrue"
        (click)="deleteBills()"
        expand="full"  
        shape="round" 
        color="primary" 
        style="margin: 0;"
      >
        Eliminar
      </ion-button>
    </ion-toolbar>
  </ion-footer>


</ion-content>


<app-modal-delete
  titleModalDelete="¿Eliminar las empresas seleccionadas?"
  [modalIsVisible]="modalIsVisible"
  (onModalNotVisible)="closeModal($event)"
>

</app-modal-delete>
