html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container-app-settings {
  width: 100%;
  min-height: 100vh;
  background-color: var(--ion-background-color);
}

ion-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 24px 16px 24px 16px;
  background-color: var(--ion-background-color);
}

.content-header {
  display: flex;
  align-items: center;
  height: 24px;
}

.content-title {
  flex: 1;

  h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: center;
    color: var(--ion-color-basic);
  }
}

.icon-arrow-left {
  font-size: 24px;
  path {
    stroke: var(--ion-color-basic);
  }
}

.container-body {
  box-sizing: border-box;
  width: 100%;
  margin-top: 84px;
  padding: 0 16px;

  @media (min-width: 390px) {
    padding: 0 24px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.item {
  width: 100%;
  height: 24px;
  position: relative;
}

.item .item-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--ion-color-basic);
}

.item .item-desc {
  width: 117px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 9.67px;

  span {
    color: var(--ion-color-disabled);
  }

  svg {
    font-size: 9.33px;
  }
}

.content-arrow {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  svg {
    font-size: 9.33px;
  }
}


// Remover el scroll del ion-content
ion-content {
  // overwrite inline styles
  --offset-bottom: auto! important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
