ion-fab-button::part(native) {
  // margin-top: calc(var(--ion-safe-area-top) + 24px);
  margin-top: 16px;
  margin-left: 8px;
  width: 44px;
  height: 44px;
  background: var(--ion-background-secondary);

}
.button-back {
  position: sticky;
  z-index: 1000;
  left: 16px;
  top: calc(var(--ion-safe-area-top) + 6.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--ion-background-secondary);

  @media (min-width: 390px) {
    left: 24px;
  }

  svg path{
    stroke: var(--ion-color-arrow-map);
  }
}

#local-address{
  padding: 16px 16px 24px 16px ;
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
  .fz-small{
   margin: 0px;
   color:var(--ion-color-dark)
  }
  .fz-note{
    margin: 4px 0px 0px 0px; 
   color:var(--ion-color-medium)
  }
}

#map{
  width: 100%;
  height: 100%;
  position: absolute;
}

ion-footer{
  position: fixed;
  bottom:  0px;
  background-color: var(--ion-background-color);
}

@media(min-width:390px){
  #local-address{
    padding: 24px ;
  }
}