<ion-content>
  <div id="map">
  </div>
  <button class="button-back" (click)="goBack()" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="15" viewBox="0 0 17 15" fill="none">
      <path d="M1 7.27441L16 7.27441" stroke="black" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M7.0498 13.2988L0.999804 7.27476L7.0498 1.24976" stroke="black" stroke-width="1.5"
        stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  
  <ion-footer id="local-address">
    <p class="fz-small">Induacril Miraflores</p>
    <p class="fz-note" >Jr. Samaritanos 879 Miraflores, Lima, Lima, Perú</p>
  </ion-footer>
</ion-content>
