.button-back {
  position: sticky;
  z-index: 1000;
  left: 16px;
  top: calc(var(--ion-safe-area-top) + 6.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--ion-background-secondary);

  @media (min-width: 390px) {
    left: 24px;
  }

  svg path{
    stroke: var(--ion-color-arrow-map);
  }
}

#local-address{
  padding: 16px 16px 24px 16px ;
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
  .fz-small{
   margin: 0px;
   color:var(--ion-color-dark)
  }
  .fz-note{
    margin: 4px 0px 0px 0px; 
   color:var(--ion-color-medium)
  }
}

#map{
  width: 100%;
  height: 100%;
  position: absolute;
}

.button-update {
  user-select: none;
  outline: none;
  border: none;
  position: absolute;
  right: 16px;
  bottom: calc(83px + var(--ion-safe-area-bottom) + 16px);
  z-index: 1000;
  border-radius: 32px;
  width: 114px;
  height: 36px;
  box-shadow: 0px 4px 6px -3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background-tertiary);

  @media (min-width: 390px) {
    right: 24px;
    bottom: 24px;
    bottom: calc(91px + var(--ion-safe-area-bottom) + 24px);
  }

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    width: 90px;
    height: 20px;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      color: var(--ion-color-basic);
    }
  }
}

ion-footer{
  position: fixed;
  bottom:  0px;
  background-color: var(--ion-background-color);
}

@media(min-width:390px){
  #local-address{
    padding: 24px ;
  }
}