ion-content {
  width: 100vw;
  height: 100vh;
  // --padding-top: 16px;
  // --padding-bottom: 16px;
  // --padding-end: 16px;
  // --padding-start: 16px;
  // --background: red;

  // --padding-top: var(--ion-safe-area-top);
  // --padding-bottom: var(--ion-safe-area-bottom);
  --padding-start: var(--ion-safe-area-right);
  --padding-end: var(--ion-safe-area-left);
  --background: var(--ion-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ion-content {
  position: relative;
}

.container-app-settings {
  width: 100%;
  min-height: 100%;
  background-color: var(--ion-background-color);

  padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom);

  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.container-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 16px 24px 16px;
  padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);

  @media (min-width: 390px) {
    padding: 0 24px 24px 24px;
    padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
  }
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  min-height: calc(100% - 96px);
}

.container-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-control-settings {
  position: relative;
  width: 100%;
  height: 44px;
  border-bottom: 1px solid var(--ion-color-separator-input);

  &.active {
    border-bottom: 1px solid #023AFF;
    label {
      font-size: 10px;
      line-height: 12px;
      color: #023AFF;
      transform: translateY(-15px);
    }
  }

  &.data {
    border-bottom: 1px solid var(--ion-color-separator-input);
    label {
      font-size: 10px;
      line-height: 12px;
      color: var(--ion-color-label-disabled);
      transform: translateY(-15px);
    }
  }
}

.form-control-settings label {
  position: absolute;
  height: 22px;
  bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--ion-color-disabled);
  transition: all .3s ease;
}

.form-control-settings input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  padding-right: 3ch;
}

.form-control-settings .icon-password {
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-hide path {
    stroke: var(--ion-color-basic);
  }
}

.form-control-button {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 24px 16px 24px 16px;
  background-color: var(--ion-background-color);

  &.active {
    padding-bottom: 24px;
  }

  &.disabled {
    padding-bottom: calc(var(--ion-safe-area-bottom) + 24px);
  }

  @media (min-width: 390px) {
    padding: 24px 24px 24px 24px;
  }
}

